<style>	
	.forminformation ul {
	    color: #000000;
	    font-family: code_boldregular;
	    font-size: 12px;
	    letter-spacing: 1px;
	    line-height: 1.5;
	    margin-left: 25px;
	}
	.forminformation li {
    	background: url(images/1.png) no-repeat left 5px;
    	padding-left: 3em;
	}	
	.forminformation .firstab {
		margin-left: 15px;
	}
	.forminformation .firstab .secondtab {
		margin-left: 15px;
	}

</style>
	<div class="payment">
		<div class="collapseplus" id="collapseplus1" onclick="showInformationForm('1')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus1" onclick="showInformationForm('1')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>About</h2>
		
		<div class="forminformation" id="showInformationForm1">
			<p>Polly & Bob is a neighborhood network on the internet.
				<br>We change the way we live together in the neighborhood.
				<br>More together. More for each other. Less online. More offline.</p>
			<p>Take the time. Enrich your life.</p>	
		</div>
		
		<div class="collapseplus" id="collapseplus2" onclick="showInformationForm('2')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus2" onclick="showInformationForm('2')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>What can I Do on Polly & Bob?</h2>
		
		<div class="forminformation" id="showInformationForm2">
			<p style="font-size: 15px;">Find</p>
			<ul>
				<li>Neighbors</li>
				<li>Help from neighbors</li>
				<li>Services to buy</li>
				<li>Goods from neighbors to buy, borrow, use or swap</li>
				<li>Events of neighbors</li>
				<li>Groups in the neighborhood</li>
			</ul>			
			<p>In a circle of min 100m to max 30km around you.</p>
			
			<p style="font-size: 15px;">Offer</p>
			<ul>
				<li>Help to neighbors</li>
				<li>Services to sell</li>
				<li>Goods to neighbors to sell, lend, let use or swap</li>
				<li>Events to neighbors</li>
				<li>and form Groups in the neighborhood</li>				
			</ul>			
			<p>In a circle of min 100m to max 30km around you.</p>
			
			<p style="font-size: 15px;">Communicate</p>
			<ul>
				<li>Sent and receive messages</li>
				<li>Add neighbors to MyNeighbors list</li>
				<li>Chat with neighbors from MyNeighbors list</li>
				<li>Invite neighbors from MyNeighbors list to listings</li>						
			</ul>			
			<p>In a circle of min 100m to max 30km around you.</p>
		</div>
		
		<div class="collapseplus" id="collapseplus3" onclick="showInformationForm('3')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus3" onclick="showInformationForm('3')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>Community on Polly & Bob</h2>
		
		<div class="forminformation" id="showInformationForm3">
			<p style="font-size: 15px;">Community Rules</p>
			<p>1. Respect and easy going
			<br>Always keep in mind: We take the time and enrich our lives.
			</p>
			
			<p>2. Support a culture of trust
			<br>We trust on first sight and over-communicate. Understanding is difficult. Ends meet with understanding.
			</p>
			
			<p>3. Flagging and exclusion
			<br>We want to create a community of people that want to change the world. We want to stop the hyperegoistic way of life. We want to stop the imperative of coolness. We want to engage in a collaborative way of life. If somebody is breaking this rules we flagg him.
			<br>Cheaters, trolls and disturbers will be excluded.
			</p>
			
			<p>4. Polly & Bob is made for makers
			<br>It is more convenient to live the online life. Click here, like there. Instead we want the people to do something together offline. Polly & Bob is made for people that want to do something rather than sitting on the couch. It is more demanding and one has to take the time for it. At the end it is more rewarding too.
			</p>
			
			<p style="font-size: 15px;">Community Managers</p>
			<p>If you have above 500 community points you become a community manager. If you are in a new neighborhood with less than 20 members you will also automatically become a community manager.</p>
			<p>Community Managers a enthusiastically contributing to the community. They are the older guys who know who’s and hows. You can ask them whenever you have a question.</p>
			<p>Community managers have certain rights other users don’t have:</p>
			<ul>
				<li>the right to open groups</li>
				<li>the right to send a message to the neighborhood</li>
				<li>the right to invite the 50 closest neighbors to their events</li>
			</ul>	
			<p>A community manager is member of the group of community managers. Here all community managers around the Globe meet and discuss topic around, how to manage the community and exchange experience about community activities.</p>
			
			<p style="font-size: 15px;">Neighborhood Managers</p>
			<p>If you have above 1.000 community points you become a neighborhood manager.</p> 
			<p>Neighborhood managers are neighbors that have even more contributed to the neighborhood. They are well trusted and honored. Whenever you have a question or need something around you they most probably will be able to help you, as they know the terrain around your very good.</p>
			<p>Neighborhood managers will have a right to use certain budgets in order to support the neighborhood even more. Depending on the cash flow of Polly & Bob the board of neighbors will dedicate budgets to the neighborhood managers.</p> 
			<p>A neighborhood manager is a member of the group of neighborhood managers. Here all neighborhood managers around the globe meet and discuss topics around, how to manage the community and exchange experience about community activities.</p>
			
			<p style="font-size: 15px;">Community Points</p>
			<p>Die community points are a breakdown of reputation. They give a hint on how trustworthy a neighbor is, when you meet him the first time. It is calculated like this:</p>
			
			<ul>
				<li>Profile completion (max. 20 points)</li>
				<li>Neighbors in MyNeighbors list (2 points per neighbor)</li>
				<li>Listings (2 points per listing)</li>
				<li>Neighbors that took part in one of your listings (1 point per neighbor)</li>
				<li>Reviews received (1 point per received review)</li>
				<li>Taken part in other neighbors listings (1 point per completed activity)</li>
				<li>Written reviews (1 point per written review)</li>
				<li>Invited users (1 point per invited user, that has registered)</li>
				<li>Shareholder (20 points if you are a shareholder)</li>
				<li>Location verified (100 points if your location is verified)</li>
				<li>Identity verified (200 points if your identity is verified)</li>
			</ul>
			<p>
				Each community point that is older than 1 year will lose half of its value and each community point that is older than two years will lose its total value. If a member is inactive for more than 2 years all community points will be reduced again. 
			</p>
			
			<p style="font-size: 15px;">Location Verifycation</p>
			<p>If you want you can have your location verified. We will send you a postcard with a password and an email with a link. Once you put the password to the link your location is verified. Whenever you will be logged in at this location it will be shown on your profile</p>
			<p style="font-size: 15px;">Identity Verifycation</p>
			<p>If you want to have your identity verified, you will have to sent us a copy of your password. We will verify it and show it on you account.</p>
			
			<p style="font-size: 15px;">Board of Neighbors</p>
			<p>The board of neighbors is formed by users that lend us money in order to support our activities financially. The board of neighbors discusses topics around data security, terms, business model and budgets. Regularly the board of neighbors vote on different topics. If we make profits, they will receive 50% of it. The other 50% we put into the growth and prosperity of the platform.</p>
			
		</div>
		
		<div class="collapseplus" id="collapseplus4" onclick="showInformationForm('4')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus4" onclick="showInformationForm('4')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>New Neighborhood</h2>
		
		<div class="forminformation" id="showInformationForm4">
			<p>Better together. More for one another. Less online. More offline.</p>
			
			<p>The new neighborhood we want to form is bringing people together in real life. The new neighborhood is open minded, sharing and connected by individual initiatives. It is slow. The new neighborhood is changing the world without going on the barricades. The new neighborhood is a place where trust can grow. This will take same time and affords. Let us start it today.</p>
			<p>A new neighborhood is a place where I can belong to.</p>			
		</div>
		
		<div class="collapseplus" id="collapseplus5" onclick="showInformationForm('5')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus5" onclick="showInformationForm('5')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>How do we sustain our service?</h2>
		
		<div class="forminformation" id="showInformationForm5">
			<p>Server, service and growth cause considerable costs that we have to cover.</p>
			<p>We take 10 % of each money involved transaction. We say if users gain money, we would like to participate in helping him to do so.</p>

			<p>We are not profit oriented. We rather put our money in good salries and in neighborhood management. 
				<br>We ask you to support us by offering good, services, and events for money on Polly & Bob.</p>
		</div>
		
		<div class="collapseplus" id="collapseplus6" onclick="showInformationForm('6')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus6" onclick="showInformationForm('6')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>Terms</h2>
		
		<div class="forminformation" id="showInformationForm6">
			<p style="font-size: 15px;">Polly & Bob</p>
			<p>Für eine neue Nachbarschaft. Besser Miteinander. Mehr Füreinander.</p>
			<p style="font-size: 15px;">Allgemeine Geschäftsbedingungen – Stand 1.11.2013</p>
			
			<p>Diese allgemeinen Geschäftsbedingungen gelten für die Benutzung des Angebotes von Polly & Bob durch die Nutzer*innen der Website.</p> 
			<p>Mit der Registrierung als Nutzer*in bei Polly & Bob entsteht ein Vertragsverhältnis zwischen der Nutzer*in und der Polly & Bob UG, Wühlischstr. 12, 10245 Berlin. Die Registrierung und Einrichtung eines Profils sind kostenfrei. Mit der Registrierung akzeptiert die Nutzer*in die hier aufgeführten Allgemeinen Geschäftsbedingungen. Diese werden damit Vertragsbestandteil.</p> 
			<p>Der Nutzer*in steht es grundsätzlich frei, mehrere Profile zu eröffnen und diese falls gewünscht auch annonym zu führen. Ein Profil ist jedoch nicht übertragbar.</p>
			<p>Polly & Bob behält sich vor, die Registrierung von Nutzer*innen ohne Angabe von Gründen abzulehnen. Polly & Bob ist ferner berechtigt, das Profil jederzeit aus wichtigem Grund wieder vorläufig oder endgültig zu sperren. Wir wollen auf Polly & Bob eine Kultur des Miteinanders pflegen. Nutzer*innen die wiederholt gegen diese Regeln verstoßen werden gesperrt. Eine Sperrung erfolgt in jedem Fall im Falle des Missbrauchs des Profils und insbesondere bei wiederholter Meldung durch andere Nutzer*innen. Im Falle einer Sperrung des Profils ist es der betroffenen Nutzer*in bis zu einer ausdrücklichen vorherigen Zustimmung untersagt, sich erneut registrieren zu lassen.</p>
			<p>Nutzer*innen, die das 16. Lebensjahr noch nicht vollendet haben, ist die Registrierung nicht gestattet.</p>
			
			<div class="firstab">
				<p style="font-size: 15px;">Zugang und Voraussetzungen für die Nutzung</p>
				<div class="secondtab">
					<p>1.1. Der Zugang zur Nutzung von Polly & Bob setzt eine Registrierung durch die Nutzer*in voraus. Hierfür benötigt die Nutzer*in eine E-Mail-Adresse, einen von ihr selbst gewählten Benutzernamen, ein von ihr selbst gewähltes Passwort, sowie die möglichst genaue Angabe ihres Wohnorts (Ort, Postleitzahl, Adresse).</p>
					<p>1.2. Die Nutzer*in verpflichtet sich Polly & Bob gegenüber mit Schutzwirkung zugunsten der anderen Nutzer*innen zur ordnungsgemäßen, wahrheitsgemäßen und vollständigen Angabe der von Polly & Bob abgefragten Daten.</p>
					<p>1.3. Die Nutzer*in verpflichtet sich Polly & Bob gegenüber mit Schutzwirkung zugunsten der anderen Nutzer*innen, keine wahrheitswidrigen Angaben auf ihrem Polly & Bob Profil oder den Profilen anderer Nutzer*innen zu veröffentlichen.</p>
					<p>1.4. Das Angebot von Polly & Bob richtet sich nur an private Nutzer*innen (Verbraucher*innen im Sinne von § 13 BGB), die mindestens 16 Jahre alt sind.</p>
					<p>1.5. Mit Nutzern*innen, auf die eines dieser Kriterien nicht zutrifft, soll ein Vertrag nicht zustande kommen bzw. von Polly & Bob mit rückwirkender Wirkung anfechtbar sein.</p>
				</div>
			</div>
		</div>
		
		<div class="collapseplus" id="collapseplus7" onclick="showInformationForm('7')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus7" onclick="showInformationForm('7')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>What do we discuss?</h2>
		
		<div class="forminformation" id="showInformationForm7">
			<p><b>Zum Beispiel Datenschutz</p></b>
			<p>Wir werden keine Daten verkaufen oder unbefugt an Dritte weiter geben. Wir werden keine Rechte an deinen Daten erlangen. Wir löschen deine Daten, wenn du sie löscht. Wir streben eine lokale Datenspeicherung zur besseren Absicherung vor Daten-Schnüfflern an.Das ist viel. Damit wir aber immer die besten Datenschutzbestimmungen haben, fragen wir diejenigen die es betrifft: Dich und die anderen Nutzer im Nachbarschaftsgremium. Wir werden Vorschläge aufnehmen und Alternativen diskutieren. Das Nachbarschaftsgremium kann sein Votum abgeben.</p>

			<p><b>Zum Beispiel Geschäftsmodel</p></b>
			<p>Polly & Bob bietet unzählige Möglichkeiten in der Nachbarschaft. Für das Betreiben der Plattform fallen je nach Größe und Gestaltung imense Kosten an. Es wäre einfach über affiliate Marketing und Weitergabe von Nutzerdaten dieses Geld zu verdienen. Das wollen wir allerdings nicht tun. Wir halten es für fair, bei allen Geld involvierenden Transaktion eine Provision von 10% zu nehmen. Wir bitten die Nachbarn ihre gebrauchten Sachen oder Dienstleistungen über Polly & Bob anzubieten. Sie unterstützen damit die Nachbarschaft.Im Nachbarschaftsgremium können Nachbarn sagen, wie wir das nötige Geld verdienen wollen. Auf keiner anderen Plattform ist das derzeit möglich. Wir werden verschiedene Alternativen diskutieren und gemeinsam gute Lösungen entwickeln.Nebenbei sei erwähnt, dass natürlich auch Spenden willkommen sind. Es geht immer um die Frage: Möchte ich als Nutzer lieber wie ein Kunde behandelt werde oder als Produkt, wie auf vielen anderen sozialen Netzwerken?</p>

			<p><b>Zum Beispiel Budgets</b></p>
			<p>Wie sollen die Erlöse verteilt werden? Hier geht es natürlich zunächst darum, dass wir einen excellenten Service bieten können. Aber auch um die Weiterentwicklung von Polly & Bob und das Wachstum, wozu wir beispielsweise Werbung und Marketing brauchen. Es geht auch darum, unseren Mitarbeitern faire und gute Löhne zu zahlen. Darüber hinaus wollen wir, dass das Geld, das wir in der Nachbarschaft einnehmen auch wieder in die Nachbarschaft fliesst. Dafür haben wir die NachbarschaftsmanagerIn erfunden. Eine NachbarschaftsmanagerIn ist eine NachbarIn, die viel zur Nachbarschaft beigetragen hat. Sie soll ein Budget bekommen, mit denen sie weitere Projekt anstoßen kann. Letzendlich möchten wir den Nachbarschaftsmanagerinnnen auch die Möglichkeit geben, ihr Leben damit zu finanzieren und damit die Möglichkeit, genau das zu tun, was sie tun möchte, nämlich viele kleine gute Dinge in der Nachbarschaft anstoßen und davon leben zu können.Das Nachbarschaftsgremium soll auch hier mitreden, wie diese Budgets verteilt werden. Polly & Bob arbeitet nicht gewinnorientiert. Keine andere bekannte Platform auf der Welt, gibt derzeit ihre Einnahmen an ihre Nutzer weiter. Damit die geplante Nachbarschaftsunterstützung auf Polly & Bob in Zukunft einen ordentlichen und angemessenen Anteil bekommt, sprechen wir darüber im Nachbarschaftsgremium.</p>
		</div>
		
		<div class="collapseplus" id="collapseplus8" onclick="showInformationForm('8')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus8" onclick="showInformationForm('8')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>What do we discuss?</h2>
		
		<div class="forminformation" id="showInformationForm8">
			<p><b>Zum Beispiel Datenschutz</p></b>
			<p>Wir werden keine Daten verkaufen oder unbefugt an Dritte weiter geben. Wir werden keine Rechte an deinen Daten erlangen. Wir löschen deine Daten, wenn du sie löscht. Wir streben eine lokale Datenspeicherung zur besseren Absicherung vor Daten-Schnüfflern an.Das ist viel. Damit wir aber immer die besten Datenschutzbestimmungen haben, fragen wir diejenigen die es betrifft: Dich und die anderen Nutzer im Nachbarschaftsgremium. Wir werden Vorschläge aufnehmen und Alternativen diskutieren. Das Nachbarschaftsgremium kann sein Votum abgeben.</p>

			<p><b>Zum Beispiel Geschäftsmodel</p></b>
			<p>Polly & Bob bietet unzählige Möglichkeiten in der Nachbarschaft. Für das Betreiben der Plattform fallen je nach Größe und Gestaltung imense Kosten an. Es wäre einfach über affiliate Marketing und Weitergabe von Nutzerdaten dieses Geld zu verdienen. Das wollen wir allerdings nicht tun. Wir halten es für fair, bei allen Geld involvierenden Transaktion eine Provision von 10% zu nehmen. Wir bitten die Nachbarn ihre gebrauchten Sachen oder Dienstleistungen über Polly & Bob anzubieten. Sie unterstützen damit die Nachbarschaft.Im Nachbarschaftsgremium können Nachbarn sagen, wie wir das nötige Geld verdienen wollen. Auf keiner anderen Plattform ist das derzeit möglich. Wir werden verschiedene Alternativen diskutieren und gemeinsam gute Lösungen entwickeln.Nebenbei sei erwähnt, dass natürlich auch Spenden willkommen sind. Es geht immer um die Frage: Möchte ich als Nutzer lieber wie ein Kunde behandelt werde oder als Produkt, wie auf vielen anderen sozialen Netzwerken?</p>

			<p><b>Zum Beispiel Budgets</b></p>
			<p>Wie sollen die Erlöse verteilt werden? Hier geht es natürlich zunächst darum, dass wir einen excellenten Service bieten können. Aber auch um die Weiterentwicklung von Polly & Bob und das Wachstum, wozu wir beispielsweise Werbung und Marketing brauchen. Es geht auch darum, unseren Mitarbeitern faire und gute Löhne zu zahlen. Darüber hinaus wollen wir, dass das Geld, das wir in der Nachbarschaft einnehmen auch wieder in die Nachbarschaft fliesst. Dafür haben wir die NachbarschaftsmanagerIn erfunden. Eine NachbarschaftsmanagerIn ist eine NachbarIn, die viel zur Nachbarschaft beigetragen hat. Sie soll ein Budget bekommen, mit denen sie weitere Projekt anstoßen kann. Letzendlich möchten wir den Nachbarschaftsmanagerinnnen auch die Möglichkeit geben, ihr Leben damit zu finanzieren und damit die Möglichkeit, genau das zu tun, was sie tun möchte, nämlich viele kleine gute Dinge in der Nachbarschaft anstoßen und davon leben zu können.Das Nachbarschaftsgremium soll auch hier mitreden, wie diese Budgets verteilt werden. Polly & Bob arbeitet nicht gewinnorientiert. Keine andere bekannte Platform auf der Welt, gibt derzeit ihre Einnahmen an ihre Nutzer weiter. Damit die geplante Nachbarschaftsunterstützung auf Polly & Bob in Zukunft einen ordentlichen und angemessenen Anteil bekommt, sprechen wir darüber im Nachbarschaftsgremium.</p>
		</div>
		
		
		<div class="collapseplus" id="collapseplus9" onclick="showInformationForm('9')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus9" onclick="showInformationForm('9')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>What do we discuss?</h2>
		
		<div class="forminformation" id="showInformationForm9">
			<p><b>Zum Beispiel Datenschutz</p></b>
			<p>Wir werden keine Daten verkaufen oder unbefugt an Dritte weiter geben. Wir werden keine Rechte an deinen Daten erlangen. Wir löschen deine Daten, wenn du sie löscht. Wir streben eine lokale Datenspeicherung zur besseren Absicherung vor Daten-Schnüfflern an.Das ist viel. Damit wir aber immer die besten Datenschutzbestimmungen haben, fragen wir diejenigen die es betrifft: Dich und die anderen Nutzer im Nachbarschaftsgremium. Wir werden Vorschläge aufnehmen und Alternativen diskutieren. Das Nachbarschaftsgremium kann sein Votum abgeben.</p>

			<p><b>Zum Beispiel Geschäftsmodel</p></b>
			<p>Polly & Bob bietet unzählige Möglichkeiten in der Nachbarschaft. Für das Betreiben der Plattform fallen je nach Größe und Gestaltung imense Kosten an. Es wäre einfach über affiliate Marketing und Weitergabe von Nutzerdaten dieses Geld zu verdienen. Das wollen wir allerdings nicht tun. Wir halten es für fair, bei allen Geld involvierenden Transaktion eine Provision von 10% zu nehmen. Wir bitten die Nachbarn ihre gebrauchten Sachen oder Dienstleistungen über Polly & Bob anzubieten. Sie unterstützen damit die Nachbarschaft.Im Nachbarschaftsgremium können Nachbarn sagen, wie wir das nötige Geld verdienen wollen. Auf keiner anderen Plattform ist das derzeit möglich. Wir werden verschiedene Alternativen diskutieren und gemeinsam gute Lösungen entwickeln.Nebenbei sei erwähnt, dass natürlich auch Spenden willkommen sind. Es geht immer um die Frage: Möchte ich als Nutzer lieber wie ein Kunde behandelt werde oder als Produkt, wie auf vielen anderen sozialen Netzwerken?</p>

			<p><b>Zum Beispiel Budgets</b></p>
			<p>Wie sollen die Erlöse verteilt werden? Hier geht es natürlich zunächst darum, dass wir einen excellenten Service bieten können. Aber auch um die Weiterentwicklung von Polly & Bob und das Wachstum, wozu wir beispielsweise Werbung und Marketing brauchen. Es geht auch darum, unseren Mitarbeitern faire und gute Löhne zu zahlen. Darüber hinaus wollen wir, dass das Geld, das wir in der Nachbarschaft einnehmen auch wieder in die Nachbarschaft fliesst. Dafür haben wir die NachbarschaftsmanagerIn erfunden. Eine NachbarschaftsmanagerIn ist eine NachbarIn, die viel zur Nachbarschaft beigetragen hat. Sie soll ein Budget bekommen, mit denen sie weitere Projekt anstoßen kann. Letzendlich möchten wir den Nachbarschaftsmanagerinnnen auch die Möglichkeit geben, ihr Leben damit zu finanzieren und damit die Möglichkeit, genau das zu tun, was sie tun möchte, nämlich viele kleine gute Dinge in der Nachbarschaft anstoßen und davon leben zu können.Das Nachbarschaftsgremium soll auch hier mitreden, wie diese Budgets verteilt werden. Polly & Bob arbeitet nicht gewinnorientiert. Keine andere bekannte Platform auf der Welt, gibt derzeit ihre Einnahmen an ihre Nutzer weiter. Damit die geplante Nachbarschaftsunterstützung auf Polly & Bob in Zukunft einen ordentlichen und angemessenen Anteil bekommt, sprechen wir darüber im Nachbarschaftsgremium.</p>
		</div>
	</div>
