<style>	
	.forminformation ul {
	    color: #000000;
	    font-family: code_boldregular;
	    font-size: 12px;
	    letter-spacing: 1px;
	    line-height: 1.5;
	    margin-left: 25px;
	}
	.forminformation li {
    	background: url(/images/1.png) no-repeat left 5px;
    	padding-left: 3em;
	}	
	.forminformation .firstab {
		margin-left: 15px;
	}
	.forminformation .firstab .secondtab {
		margin-left: 15px;
	}

</style>
	<div class="payment">
    <div class="collapseplus" id="collapseplus1" onclick="showInformationForm('1')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
    <div class="collapseplus" id="collapseminus1" onclick="showInformationForm('1')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
    <h2>About</h2>
    
    <div class="forminformation" id="showInformationForm1">
        <p>Polly & Bob is a neighborhood network on the internet.
            <br>We change the way we live together in the neighborhood.
            <br>More together. More for each other. Less online. More offline.</p>
        <p>Take the time. Enrich your life.</p>	
    </div>
    
    <div class="collapseplus" id="collapseplus2" onclick="showInformationForm('2')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
    <div class="collapseplus" id="collapseminus2" onclick="showInformationForm('2')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
    <h2>What can I Do on Polly & Bob?</h2>
    
    <div class="forminformation" id="showInformationForm2">
        <p style="font-size: 15px;">Find</p>
        <ul>
            <li>Neighbors</li>
            <li>Help from neighbors</li>
            <li>Services to buy</li>
            <li>Goods from neighbors to buy, borrow, use or swap</li>
            <li>Events of neighbors</li>
            <li>Groups in the neighborhood</li>
        </ul>			
        <p>In a circle of min 100m to max 30km around you.</p>
        
        <p style="font-size: 15px;">Offer</p>
        <ul>
            <li>Help to neighbors</li>
            <li>Services to sell</li>
            <li>Goods to neighbors to sell, lend, let use or swap</li>
            <li>Events to neighbors</li>
            <li>and form Groups in the neighborhood</li>				
        </ul>			
        <p>In a circle of min 100m to max 30km around you.</p>
        
        <p style="font-size: 15px;">Communicate</p>
        <ul>
            <li>Sent and receive messages</li>
            <li>Add neighbors to MyNeighbors list</li>
            <li>Chat with neighbors from MyNeighbors list</li>
            <li>Invite neighbors from MyNeighbors list to listings</li>						
        </ul>			
        <p>In a circle of min 100m to max 30km around you.</p>
    </div>
    
    <div class="collapseplus" id="collapseplus3" onclick="showInformationForm('3')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
    <div class="collapseplus" id="collapseminus3" onclick="showInformationForm('3')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
    <h2>Community on Polly & Bob</h2>
    
    <div class="forminformation" id="showInformationForm3">
        <p style="font-size: 15px;">Community Rules</p>
        <p>1. Respect and easy going
        <br>Always keep in mind: We take the time and enrich our lives.
        </p>
        
        <p>2. Support a culture of trust
        <br>We trust on first sight and over-communicate. Understanding is difficult. Ends meet with understanding.
        </p>
        
        <p>3. Flagging and exclusion
        <br>We want to create a community of people that want to change the world. We want to stop the hyperegoistic way of life. We want to stop the imperative of coolness. We want to engage in a collaborative way of life. If somebody is breaking this rules we flagg him.
        <br>Cheaters, trolls and disturbers will be excluded.
        </p>
        
        <p>4. Polly & Bob is made for makers
        <br>It is more convenient to live the online life. Click here, like there. Instead we want the people to do something together offline. Polly & Bob is made for people that want to do something rather than sitting on the couch. It is more demanding and one has to take the time for it. At the end it is more rewarding too.
        </p>
        
        <p style="font-size: 15px;">Community Managers</p>
        <p>If you have above 500 community points you become a community manager. If you are in a new neighborhood with less than 20 members you will also automatically become a community manager.</p>
        <p>Community Managers a enthusiastically contributing to the community. They are the older guys who know who’s and hows. You can ask them whenever you have a question.</p>
        <p>Community managers have certain rights other users don’t have:</p>
        <ul>
            <li>the right to open groups</li>
            <li>the right to send a message to the neighborhood</li>
            <li>the right to invite the 50 closest neighbors to their events</li>
        </ul>	
        <p>A community manager is member of the group of community managers. Here all community managers around the Globe meet and discuss topic around, how to manage the community and exchange experience about community activities.</p>
        
        <p style="font-size: 15px;">Neighborhood Managers</p>
        <p>If you have above 1.000 community points you become a neighborhood manager.</p> 
        <p>Neighborhood managers are neighbors that have even more contributed to the neighborhood. They are well trusted and honored. Whenever you have a question or need something around you they most probably will be able to help you, as they know the terrain around your very good.</p>
        <p>Neighborhood managers will have a right to use certain budgets in order to support the neighborhood even more. Depending on the cash flow of Polly & Bob the board of neighbors will dedicate budgets to the neighborhood managers.</p> 
        <p>A neighborhood manager is a member of the group of neighborhood managers. Here all neighborhood managers around the globe meet and discuss topics around, how to manage the community and exchange experience about community activities.</p>
        
        <p style="font-size: 15px;">Community Points</p>
        <p>Die community points are a breakdown of reputation. They give a hint on how trustworthy a neighbor is, when you meet him the first time. It is calculated like this:</p>
        
        <ul>
            <li>Profile completion (max. 20 points)</li>
            <li>Neighbors in MyNeighbors list (2 points per neighbor)</li>
            <li>Listings (2 points per listing)</li>
            <li>Neighbors that took part in one of your listings (1 point per neighbor)</li>
            <li>Reviews received (1 point per received review)</li>
            <li>Taken part in other neighbors listings (1 point per completed activity)</li>
            <li>Written reviews (1 point per written review)</li>
            <li>Invited users (1 point per invited user, that has registered)</li>
            <li>Shareholder (20 points if you are a shareholder)</li>
            <li>Location verified (100 points if your location is verified)</li>
            <li>Identity verified (200 points if your identity is verified)</li>
        </ul>
        <p>
            Each community point that is older than 1 year will lose half of its value and each community point that is older than two years will lose its total value. If a member is inactive for more than 2 years all community points will be reduced again. 
        </p>
        
        <p style="font-size: 15px;">Location Verifycation</p>
        <p>If you want you can have your location verified. We will send you a postcard with a password and an email with a link. Once you put the password to the link your location is verified. Whenever you will be logged in at this location it will be shown on your profile</p>
        <p style="font-size: 15px;">Identity Verifycation</p>
        <p>If you want to have your identity verified, you will have to sent us a copy of your password. We will verify it and show it on you account.</p>
        
        <p style="font-size: 15px;">Board of Neighbors</p>
        <p>The board of neighbors is formed by users that lend us money in order to support our activities financially. The board of neighbors discusses topics around data security, terms, business model and budgets. Regularly the board of neighbors vote on different topics. If we make profits, they will receive 50% of it. The other 50% we put into the growth and prosperity of the platform.</p>
        
    </div>
    
    <div class="collapseplus" id="collapseplus4" onclick="showInformationForm('4')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
    <div class="collapseplus" id="collapseminus4" onclick="showInformationForm('4')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
    <h2>New Neighborhood</h2>
    
    <div class="forminformation" id="showInformationForm4">
        <p>Better together. More for one another. Less online. More offline.</p>
        
        <p>The new neighborhood we want to form is bringing people together in real life. The new neighborhood is open minded, sharing and connected by individual initiatives. It is slow. The new neighborhood is changing the world without going on the barricades. The new neighborhood is a place where trust can grow. This will take same time and affords. Let us start it today.</p>
        <p>A new neighborhood is a place where I can belong to.</p>			
    </div>
    
    <div class="collapseplus" id="collapseplus5" onclick="showInformationForm('5')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
    <div class="collapseplus" id="collapseminus5" onclick="showInformationForm('5')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
    <h2>How do we sustain our service?</h2>
    
    <div class="forminformation" id="showInformationForm5">
        <p>Server, service and growth cause considerable costs that we have to cover.</p>
        <p>We take 10 % of each money involved transaction. We say if users gain money, we would like to participate in helping him to do so.</p>

        <p>We are not profit oriented. We rather put our money in good salries and in neighborhood management. 
            <br>We ask you to support us by offering good, services, and events for money on Polly & Bob.</p>
    </div>
    
    <div class="collapseplus" id="collapseplus6" onclick="showInformationForm('6')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
    <div class="collapseplus" id="collapseminus6" onclick="showInformationForm('6')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
    <h2>Terms</h2>
    
    <div class="forminformation" id="showInformationForm6">
        <p style="font-size: 15px;">Polly & Bob</p>
        <p>Für eine neue Nachbarschaft. Besser Miteinander. Mehr Füreinander.</p>
        <p style="font-size: 15px;">Allgemeine Geschäftsbedingungen – Stand 1.11.2013</p>
        
        <p>Diese allgemeinen Geschäftsbedingungen gelten für die Benutzung des Angebotes von Polly & Bob durch die Nutzer*innen der Website.</p> 
        <p>Mit der Registrierung als Nutzer*in bei Polly & Bob entsteht ein Vertragsverhältnis zwischen der Nutzer*in und der Polly & Bob UG, Wühlischstr. 12, 10245 Berlin. Die Registrierung und Einrichtung eines Profils sind kostenfrei. Mit der Registrierung akzeptiert die Nutzer*in die hier aufgeführten Allgemeinen Geschäftsbedingungen. Diese werden damit Vertragsbestandteil.</p> 
        <p>Der Nutzer*in steht es grundsätzlich frei, mehrere Profile zu eröffnen und diese falls gewünscht auch annonym zu führen. Ein Profil ist jedoch nicht übertragbar.</p>
        <p>Polly & Bob behält sich vor, die Registrierung von Nutzer*innen ohne Angabe von Gründen abzulehnen. Polly & Bob ist ferner berechtigt, das Profil jederzeit aus wichtigem Grund wieder vorläufig oder endgültig zu sperren. Wir wollen auf Polly & Bob eine Kultur des Miteinanders pflegen. Nutzer*innen die wiederholt gegen diese Regeln verstoßen werden gesperrt. Eine Sperrung erfolgt in jedem Fall im Falle des Missbrauchs des Profils und insbesondere bei wiederholter Meldung durch andere Nutzer*innen. Im Falle einer Sperrung des Profils ist es der betroffenen Nutzer*in bis zu einer ausdrücklichen vorherigen Zustimmung untersagt, sich erneut registrieren zu lassen.</p>
        <p>Nutzer*innen, die das 16. Lebensjahr noch nicht vollendet haben, ist die Registrierung nicht gestattet.</p>
        
        <div class="firstab">
            <p style="font-size: 15px;">1. Zugang und Voraussetzungen für die Nutzung</p>
            <div class="secondtab">
                <p>1.1. Der Zugang zur Nutzung von Polly & Bob setzt eine Registrierung durch die Nutzer*in voraus. Hierfür benötigt die Nutzer*in eine E-Mail-Adresse, einen von ihr selbst gewählten Benutzernamen, ein von ihr selbst gewähltes Passwort, sowie die möglichst genaue Angabe ihres Wohnorts (Ort, Postleitzahl, Adresse).</p>
                <p>1.2. Die Nutzer*in verpflichtet sich Polly & Bob gegenüber mit Schutzwirkung zugunsten der anderen Nutzer*innen zur ordnungsgemäßen, wahrheitsgemäßen und vollständigen Angabe der von Polly & Bob abgefragten Daten.</p>
                <p>1.3. Die Nutzer*in verpflichtet sich Polly & Bob gegenüber mit Schutzwirkung zugunsten der anderen Nutzer*innen, keine wahrheitswidrigen Angaben auf ihrem Polly & Bob Profil oder den Profilen anderer Nutzer*innen zu veröffentlichen.</p>
                <p>1.4. Das Angebot von Polly & Bob richtet sich nur an private Nutzer*innen (Verbraucher*innen im Sinne von § 13 BGB), die mindestens 16 Jahre alt sind.</p>
                <p>1.5. Mit Nutzern*innen, auf die eines dieser Kriterien nicht zutrifft, soll ein Vertrag nicht zustande kommen bzw. von Polly & Bob mit rückwirkender Wirkung anfechtbar sein.</p>
            </div>
        </div>
        <div class="firstab">
            <p style="font-size: 15px;">2. Leistungsbeschreibung</p>
            <div class="secondtab">
                <p>2.1. Polly & Bob bietet der Nutzer*in ein Internetangebot, bei dem sie für sich ein Profil erstellen, über dieses in Kontakt mit Menschen aus ihrer Nachbarschaft treten und entgeltliche sowie unentgeltliche Angebote von und Gesuche nach Veranstaltungen, Gruppen, Hilfe, Serviceleistungen und nützlichen Dingen veröffentlichen kann.</p>
            <p>2.2. Polly & Bob bietet der Nutzer*in die folgenden Leistungen vergütungsfrei an: </p>
            <ul>
                <li>die Registrierung</li>
                <li>die Bereitstellung von so genannten Profilen und vergleichbaren Funktionen zum Einstellen von Daten und Inhalten (z.B. Texte, Bilder, Grafiken), die für alle Nutzer*innen und/oder nur für bestimmte Nutzer*innengruppen von Polly & Bob sichtbar sein können;</li>
                <li>die Erstellung sowie die Veröffentlichung von unentgeldlichen Angeboten und Gesuchen zum Zweck der Vernetzung und Pflege eines kollaborativen Lebensstils;</li>
                <li>die Bereitstellung von Funktionen zur Kommunikation mit Dritten (z.B. der Versand von Benachrichtigungen sowie der Versand von Nachrichten an andere Nutzer*innen oder Chat).</li>
            </ul>
            <p>2.3 Zur Finanzierung der Ausgaben bietet Polly & Bob der Nutzer*in die folgenden Leistungen für eine Provision von 10 % auf den vereinbarten Wert der Transaktion an: </p>
            <ul>
                <li>die Erstellung sowie die Veröffentlichung von entgeldlichen Angeboten (z.B. den Verkauf oder das Verleihen von Gütern, Veranstaltungen oder Serviceleistungen).</li>
                <li>Das rechtsverbindliche Angebot zwischen den Parteien erfolgt stets durch die Abnehmer*in bzw. Leistungsempfänger*in unter konkreter Angabe der wesentlichen Vertragsbestandteile wie Preis und Menge. Die Annahme erfolgt durch die leistendende Nutzer*in durch Annahmeerklärung im System.</li>
                <li>Bevor die Nutzer*in ein entgeltliches Angebot unterbreiten darf, wird sie dazu aufgefordert die Zahlungsweise für die evtl. anfallende Provision anzugeben und in ihrem Profil zu hinterlegen. Es kann per Kreditkarte, Paypal oder per Bankeinzug gezahlt werden.</li>
                <li>Bei Annahme der leistenden Nutzer*in eines Angebots im System, ist Polly & Bob authorisiert 10 Kalendertage nach der Annahme durch die leistende Nutzer*in, die Provision über die zuvor eingestellte Zahlungsmethode einzuziehen. Die leistende Nutzer*in hat für eine ausreichende Deckung Sorge zu leisten.</li>
                <li>Wird später durch beide Parteien versichert, dass im Gegensatz zu den Angaben auf der Plattform keine Transaktion stattgefunden hat, darf die leistende Nutzer*in den von Polly & Bob eingezogenen Betrag abzüglich einer Bearbeitungsgebühr von 10% auf die Provision, mindestens jedoch abzüglich EUR 5,- zurückverlangen.</li>
            </ul>
            
            <p>2.4. Der Leistungsumfang des mit der Registrierung zwischen Polly & Bob und der Nutzer*in geschlossenen Vertrages beinhaltet keine über die oben genannten hinausgehenden Leistungen.</p>
            <p>2.5. Polly & Bob ist berechtigt, den angebotenen Leistungsumfang jederzeit ohne Zustimmung durch die Nutzer*in zu ändern, zu beschränken oder zu erweitern. Die Nutzer*in hat in diesem Fall ein Recht zur sofortigen Kündigung des Nutzungsverhältnisses durch Abmeldung ihres Profils.</p>
            <p>2.6. Polly & Bob wird Inhalte auf seinen Seiten bzw. auf den Profilen von Nutzer*innen, sofern sie Rechte der Nutzer*in in unzulässiger Weise beeinträchtigen, auf schriftliche oder per Email zugegangene Aufforderung innerhalb einer angemessenen Bearbeitungszeit löschen.</p>
            <p>2.7. Polly & Bob übernimmt es nicht und ist nicht verpflichtet, von sich aus aktiv die auf seinen Seiten veröffentlichten Inhalte auf Rechtsverletzungen zu kontrollieren. Vielmehr ist jede Nutzer*in dazu aufgefordert etwaige Rechtsverletzungen an Polly & Bob zu melden. </p>
            </div>
        </div>
        <div class="firstab">
            <p style="font-size: 15px;">3. Haftung und Gewährleistung durch Polly & Bob</p>
            <div class="secondtab">
                <p>3.1. Polly & Bob schuldet lediglich die Bereitstellung der IT-Dienstleistungen, die generell eine Kontaktaufnahme zwischen den Nutzer*innen ermöglicht. Polly & Bob übernimmt keine Gewährleistung dafür, dass innerhalb der Vertragsdauer ein Kontakt mit anderen Nutzer*innen zustande kommt, dass Angebote oder Gesuche anderer Nutzer*innen genutzt werden können, oder für die Qualität und Werthaltigkeit der von anderen Nutzern*innen über Polly & Bob bekanntgemachten Angebote.</p>
<p>3.2. Polly & Bob übernimmt keine Haftung für die Richtigkeit der Profilinformationen. Dies beinhaltet u.a. den Nutzer*innenstatus, die Interessen der Nutzer*in, die Wohnortsangabe der Nutzer*innen sowie alle weiteren von den Nutzer*innen gegenüber Polly & Bob bei der Registrierung oder beim Ausfüllen des Profils gemachten Angaben.</p>
<p>3.3. Polly & Bob haftet für Schäden nur bei Vorsatz und grober Fahrlässigkeit seiner Organe, und nur insoweit, als Polly & Bob im Verhältnis zu anderen Ursachen wesentlich an der Entstehung des Schadens mitgewirkt hat.</p>
<p>3.4. Für Schäden, welche durch leichte Fahrlässigkeit von Polly & Bob bzw. seiner Organe entstehen, haftet Polly & Bob nur bei einer Verletzung wesentlicher Vertragspflichten. Die Haftung von Polly & Bob ist auf den vertragstypischen Schaden begrenzt, mit dessen Entstehen Polly & Bob bei Vertragsschluss aufgrund von Umständen rechnen musste, die Polly & Bob bekannt waren.</p>
<p>3.5. Für den Verlust von Daten haftet Polly & Bob nach Maßgabe der vorstehenden Absätze nur dann, wenn ein Verlust solcher Daten durch angemessene Sicherungsmaßnahmen der Nutzer*in nicht vermeidbar gewesen wäre.</p>
<p>3.6. Polly & Bob übernimmt überdies keine Haftung für den eventuellen Missbrauch von Informationen durch Dritte. Es ist möglich, dass andere Nutzer*innen Polly & Bob trotz Verbotes in unzulässiger oder rechtswidriger Weise nutzen. Für eine solche unzulässige oder rechtswidrige Nutzung ist jede Haftung von Polly & Bob ausgeschlossen. Polly & Bob übernimmt überdies keine Haftung für den Fall, dass Angaben und Informationen, die die Nutzer*in selbst Dritten zugänglich gemacht hat, von diesen missbraucht werden.</p>
<p>3.7. Polly & Bob übernimmt keine Haftung für Störungen der Qualität des Zugangs zum Service aufgrund höherer Gewalt, unerwarteter technischer Probleme, Überlastung, Stromausfall, Streik oder aufgrund anderer Ereignisse, die Polly & Bob nicht zu vertreten hat.</p>
<p>3.8. Polly & Bob ist berechtigt, das Angebot vorübergehend einzuschränken oder auszusetzen, um notwendige Wartungs- oder Updatemaßnahmen durchzuführen.</p>
<p>3.9. Polly & Bob haftet nicht für Schäden, welche durch die unbefugte Kenntniserlangung Dritter von persönlichen Daten der Nutzer*in (z.B. durch einen unbefugten Zugriff von "Hackern" auf die Datenbank) entstehen, sofern diese nicht durch ein vorsätzliches oder grob fahrlässiges Tun oder Unterlassen von Polly & Bob verursacht werden.</p>
<p>3.10. Polly & Bob garantiert oder gewährleistet in keiner Weise die Speicherung von Daten oder Nachrichten der Nutzer*innen. Polly & Bob ist berechtigt, die im Profil der Nutzer*in gespeicherten Nachrichten jeweils nach Ablauf von zwölf Monaten nach Versand bzw. Empfang ohne Rückfrage zu löschen. Die Nutzer*in wird angehalten, die für sie eingehenden Nachrichten in regelmäßigen und angemessenen Abständen abzurufen und bei Bedarf auf dem eigenen Rechner oder anderen Speichermedien zu archivieren.</p>
<p>3.11. Soweit über Polly & Bob bzw. über einzelne Nutzer*innenprofile die Möglichkeit der Weiterleitung auf Datenbanken, Websites, Dienste Dritter oder ähnliches z.B. durch Einstellung von Links besteht, haftet Polly & Bob weder für die Zugänglichkeit, den Bestand oder die Sicherheit dieser Angebote, noch für den Inhalt derselben. Insbesondere haftet Polly & Bob nicht für deren Rechtmäßigkeit, inhaltliche Richtigkeit oder Aktualität.</p>
<p>3.12. Polly & Bob hat keinen Einfluss auf die Inhalte verlinkter Webseiten oder Dateien bzw. auf die Einhaltung der gesetzlichen Bestimmungen durch deren Betreiber bzw. Ersteller. Polly & Bob kann für Links somit keine Haftung übernehmen. Polly & Bob macht sich den Inhalt externer, von Polly & Bob oder von Nutzer*innen verlinkter Websites oder Dateien unter keinen Umständen zu Eigen.</p>
            </div>
        </div>

        <div class="firstab">
            <p style="font-size: 15px;">4. Verantwortlichkeit und Pflichten der Nutzer*in</p>
            <div class="secondtab">
                <p>4.1. Die Nutzer*in ist für den Inhalt ihrer Registrierung und damit für die Informationen, die sie über sich bereitstellt, allein verantwortlich. Die Nutzer*in versichert, dass die angegebenen Daten der Wahrheit entsprechen und sie persönlich beschreiben. Der Name der Nutzer*in darf dabei anonym gehalten werden. <p>
<p>4.2. Die Nutzer*in versichert ferner, dass sie Polly & Bob ausschließlich für private Zwecke nutzt, und die ihr anvertrauten Daten Dritter nicht zu Werbezwecken verwendet.<p>
                <p>4.3. Nicht erlaubt ist, Inhalte anderer Nutzer*innen systematisch auszulesen (z.B. durch ein Programm oder durch bloßes Kopieren), um sie außerhalb von Polly & Bob zu nutzen. Verboten ist auch der Einsatz von Computerprogrammen zum automatischen Auslesen von Dateien, wie z.B. Crawlern.<p>
                <p>4.4. Die Nutzer*in verpflichtet sich, Polly & Bob von Ansprüchen Dritter freizustellen, die sich aus einem Verstoß der Nutzer*in gegen diese Geschäftsbedingungen, aus einer Verletzung von Immaterialgütern oder sonstiger Rechte oder aus einer vorsätzlichen Schädigung Dritter durch die Nutzer*in unter Benutzung des Angebots von Polly & Bob ergeben.<p>
                <p>4.5. Insbesondere verpflichtet sich die Nutzer*in, Polly & Bob von jeglicher Haftung und von allen Verpflichtungen, Aufwendungen und Ansprüchen freizustellen, die sich aus Schäden wegen übler Nachrede, Beleidigung, Verletzung von Persönlichkeitsrechten Dritter durch die Nutzer*in ergeben.<p>
                <p>4.6. Der Freistellungsanspruch beinhaltet auch die Kosten der Rechtsverfolgung einschließlich Anwalts- und Gerichtskosten.<p>
                <p>4.7. Die Nutzer*in ist verpflichtet, Emails und andere über Polly & Bob erhaltene Nachrichten vertraulich zu behandeln und diese nicht ohne Zustimmung ihres Urhebers Dritten zugänglich zu machen. Wir halten die Nutzer*in an, nur wenige Informationen über sich zu veröffentlichen, gerade solche Informationen, um so gefunden zu werden, wie man gefunden werden möchte. Sofern Informationen über andere Nutzer*innen bekannt werden etwa Namen, Telefonnummern, Wohn-, E-Mail-Adressen und/oder URLs bzw. sonstige personenbezogene Daten etc. anderer Nutzer*innen, ist die Nutzer*in verpflicht, diese Informationen vertraulich zu behandeln und diese nicht ohne Zustimmung der betroffenen Nutzer*in Dritten zugänglich zu machen.<p>
                <p>4.8. Ferner verpflichtet sich jede Nutzer*in, den Service nicht missbräuchlich zu nutzen, insbesondere: <p>
                <ul>
                <li>Keine sittenwidrigen, obszönen, pornografischen oder rassistische Inhalte oder Fotos zu verbreiten;<li>
                <li>über den Service kein diffamierendes, anstößiges oder in sonstiger Weise rechtswidriges Material oder solche Informationen zu verbreiten;<li>
                <li>andere Personen nicht zu bedrohen, zu belästigen oder die Rechte (einschließlich Persönlichkeitsrechte) Dritter zu verletzen;<li>
                <li>keine kopierten Inhalte zu verbreiten, an denen die Nutzer*in keine Rechte hat;<li>
                <li>keine Daten heraufzuladen, die einen Virus enthalten (infizierte Software) oder Software oder anderes Material enthalten, das urheberrechtlich geschützt ist, es sei denn, die Nutzer*in hat die Rechte daran oder die erforderlichen Zustimmungen der Rechteinhaber*in;<li>
                <li>den Service nicht in einer Art und Weise zu benutzen, welche die Verfügbarkeit der Angebote für andere Nutzer*innen nachteilig beeinflusst;<li>
                <li>keine E-Mails / Nachrichten an Dritte abzufangen und auch nicht zu versuchen, sie abzufangen;<li>
                <li>E-Mails / Nachrichten an Nutzer*innen zu keinem anderen Zweck als der Kommunikation zu versenden und insbesondere das Anpreisen oder Anbieten von Waren oder Dienstleistungen an andere Nutzer*inne zu unterlassen (ausgenommen in Fällen, in denen dies ausdrücklich von Polly & Bob erlaubt wird);<li>
                <li>keine Kettenbriefe zu versenden;<li>
                <li>in der Personenbeschreibung und kostenlosen Kontaktanfragen keine Namen, Adressen, Telefon- oder Faxnummern, E-Mail-Adressen etc. zu nennen, sofern diese Angaben nicht ausdrücklich gefordert werden.<li>
                </ul>
                
                <p>4.9. Die Nichtbeachtung einer der in diesem Abschnitt genannten Verhaltensverpflichtungen kann zu folgenden Sanktionen führen: Aufforderung zur Stellungnahme im Falle des Verdachts von Vertrags- / Gesetzesverstößen, Sperrung der Nutzung bis zur Aufklärung von Sachverhalten (insbesondere bei Beschwerden anderer Nutzer*innen), Verwarnung einer Nutzer*in, Ein- / Beschränkung bei der Nutzung von Anwendungen von Polly & Bob, teilweises Löschen von Inhalten. Die Nichtbeachtung der in diesem Abschnitt genannten Verhaltenspflichten kann darüber hinaus sowohl zu einer sofortigen Kündigung der Nutzungsvereinbarung sowie zur Löschung des Nutzer*innenprofils und der dort gespeicherten Daten führen, als auch zivil- und strafrechtliche Folgen für die Nutzer*in selbst haben.</p>
            </div>
        </div>

        <div class="firstab">
            <p style="font-size: 15px;">5. Inhalte von Nutzer*innen</p>
            <div class="secondtab">
                <p>5.1. Die Nutzer*in hat die Möglichkeit, Inhalte, wie z.B. Texte und Bilder einzustellen. Nutzer*innen ist es verboten, Sachen oder Inhalte anzubieten oder Gesuche für diese zu veröffentlichen, deren Angebot oder Vermietung gegen geltendes Recht verstößt. Verboten ist insbesondere ein Angebot von Sachen oder Inhalten, </p>
                <ul>
                <li>deren Verleih oder Vermietung strafbar oder ordnungswidrig ist,</li>
                <li>oweit der Verleih oder die Vermietung, Zugänglichmachung oder Bewerbung Schutzrechte Dritter (insbesondere Urheber- und Leistungsschutzrechte, Kennzeichenrechte, Patentrechte, Gebrauchs oder Geschmacksmusterrechte) oder sonstige Rechte Dritter verletzt,</li>
                <li>die mit Kennzeichen verfassungswidriger Organisationen versehen sind,</li>
                <li>die einen pornographischen, gewaltverherrlichenden oder sonst jugendgefährdenden Charakter haben,</li>
                <li>die Waffen im Sinne des Waffengesetzes sind,</li>
                <li>die unmittelbar gesundheitsgefährdend sind,</li>
                <li>deren Verleihung oder Vermietung gegen die guten Sitten verstoßen würde.</li>
                </ul>
                <p>5.2. Die Nutzer*in hat die Eigenschaften der angebotenen Sache oder Inhalte genau, vollständig und wahrheitsgemäß zu beschreiben. Dabei hat er alle wesentlichen Eigenschaften zu nennen und ggf. Fehler anzugeben, die den Wert oder die Tauglichkeit der Sache nicht nur unwesentlich mindern.</p>
                <p>5.3. Die Nutzer*in darf nur Inhalte und Sachen einstellen und anbieten, deren alleinige Eigentümer*in sie ist oder die anzubieten sie berechtigt ist. </p>
                <p>5.4. Neben der auf der Online-Plattform angebotenen Sache dürfen weitere Sachen nicht beworben werden. Außerhalb der persönlichen Angaben im eigenen Nutzer*innenprofil ist das Setzen von Hyperlinks auf Angebote außerhalb der Online-Plattform unzulässig.</p>
                <p>5.5. Die Nutzer*in hat die Sache einer passenden Kategorie zuzuordnen. Polly & Bob behält sich vor, die Kategorienzuordnung eines Angebots anzupassen, um eine einheitliche und sinnvolle Kategorisierung aller Angebote auf der Plattform zu erzielen, soweit dies nicht berechtigte Interessen der Nutzer*in beeinträchtigt.</p>
                <p>5.6. Urheberrechtlich geschützte Sachen (z.B. Musikwerke, Filme, Fotografien, Sprachwerke, Landkarten, Gemälde, Grafiken, Computerprogramme, Datenbanken) dürfen von der Nutzer*in nur insoweit angeboten werden, wie sie die entsprechenden Nutzungsrechte hat.</p>
                <p>5.7. In diesem Zusammenhang wird ausdrücklich darauf hingewiesen, dass die entgeltliche Vermietung von urheberrechtlich geschützten Produkten (z.B. CDs, DVDs, Computerspiele) eine Verletzung eines fremden Urheberrechts darstellt, wenn sie unmittelbar oder mittelbar Erwerbszwecken dient und der Anbieter nicht Inhaber des Vermietrechts ist. Erwerbszwecken dient die Vermietung dann, wenn sie mit Gewinnerzielungsabsicht erfolgt.</p>
                <p>5.8. Nutzer*innen sind verpflichtet, bei ihren Angeboten die geltenden Gesetze zu befolgen. Jede Nutzer*in hat sicherzustellen, dass ihr Angebot oder die Inhalte ihres Angebotes rechtmäßig sind und keine Rechte Dritter verletzen. Insofern ist sie auch selbst dafür verantwortlich, gesetzlich vorgeschriebene Informationen zu geben.</p>
                <p>5.9. Soweit eine Sache der Nutzer*in nicht mehr zur Verfügung steht, darf die Sache nicht mehr angeboten werden. Die Nutzer*in ist daher verpflichtet, die Verfügbarkeit der Sache jeweils aktuell anzugeben.</p>
                <p>5.10. Das Angebot von Tieren, insbesondere Wirbeltieren, unterliegt besonderen gesetzlichen Vorschriften zum Schutz der Tiere. Die Beachtung dieser Vorschriften obliegt auch der Nutzer*in. Sofern diese Vorschriften eine behördliche Erlaubnis voraussetzen, ist das Angebot nur zulässig, wenn die Nutzer*in über die entsprechende Erlaubnis verfügt.</p>
                <p>5.11. Die Nutzer*in hat selber sicherzustellen, dass die von ihr angebotenen Sachen oder Dienste keiner öffentlich-rechtlichen Erlaubnis- oder Genehmigungspflicht unterliegen, insbesondere auch kein Handwerk im Sinne der Handwerksordnung darstellen. Die Nutzer*in hat ferner sicherzustellen, dass von ihr angebotene Sachen oder Dienste nicht den Tatbestand der Schwarzarbeit erfüllen. Polly & Bob trifft diesbezüglich keine Überprüfungs- Aufklärungs- oder Hinweispflicht.</p>
                <p>5.12. Polly & Bob behält sich vor, Angebote, die gegen diese Allgemeinen Geschäftsbedingungen oder gegen geltendes Recht verstoßen, ohne vorherige Ankündigung zu entfernen.</p>
            </div>
        </div>

        <div class="firstab">
            <p style="font-size: 15px;">6. Bewertungssystem</p>
            <div class="secondtab">
                <p>6.1. Polly & Bob betreibt ein Bewertungssystem, in welchem die Nutzer*innen die Möglichkeit haben, Nachbar*innen hinsichtlich einer gemeinsam erfüllten Aktion bzw. einer persönlichen Erfahrung textlich zu bewerten.</p>
<p>6.2. Die Nutzer*innen sind zur Abgabe von Bewertungen nicht verpflichtet. Die Nutzer*innen sind verpflichtet, Angaben im Rahmen der Bewertung ausschließlich wahrheitsgemäß zu machen.</p>
                <p>6.3. Eine Nutzer*in ist nicht berechtigt, mittelbar oder unmittelbar die Bewertung der eigenen Person oder des eigenen Geschäftes zu beeinflussen. Manipulationen des Rankings und Eigenbewertungen berechtigen Polly & Bob zum Ausschluss der Nutzer*in unter fristloser Kündigung des Vertrages.</p>
                <p>6.4. Bewertungen müssen sachlich sein und der Wirklichkeit entsprechen.</p>
                <p>6.5. Versteckte oder offene reine Werbeinhalte sind unzulässig.</p>
                <p>6.6. Polly & Bob prüft die Bewertungen nicht auf ihre Berechtigung. Polly & Bob übernimmt keine Haftung für Richtigkeit und Auswirkungen dieser Bewertungen, soweit ihr nicht Vorsatz oder grobe Fahrlässigkeit zur Last fällt. Bekannt oder erkennbar unrichtige Bewertungen werden gelöscht.</p>
                <p>6.7. Eine Nutzer*in ist nicht berechtigt, unter Hinweis auf das Bewertungssystem ein bestimmtes, außerhalb der im Rahmen der Online-Plattform eingegangenen vertraglichen Pflichten liegendes Verhalten zu fordern. Ein Verstoß hiergegen berechtigt den Veranstalter zur Kündigung des Teilnahmevertrags.</p>
                <p>6.8. Die Daten des Bewertungssystems werden mit der Abmeldung der Nutzer*in dem Zugriff durch die übrigen Nutzer*innen entzogen.</p>
                <p>6.9. Polly & Bob behält sich das Recht vor, von der Nutzer*in eingestellte Bewertung, zu prüfen und gegebenenfalls zu löschen, wenn aufgrund tatsächlicher Anhaltspunkte ein begründeter Verdacht besteht, dass gegen gesetzliche Bestimmungen oder diese Geschäftsbedingungen verstoßen wurde.</p>
            </div>
        </div>

        <div class="firstab">
            <p style="font-size: 15px;">7. Kommunikation</p>
            <div class="secondtab">
                <p>Mitteilungen von Polly & Bob an seine Nutzer*innen erfolgen über Bildschirmmasken nach einem "Login" oder per E-Mail. Mitteilungen von Nutzer*innen an Polly & Bob erfolgen per E-Mail über die auf den Polly & Bob-Seiten ausdrücklich genannten Adressen.</p>
            </div>
        </div>
        
        <div class="firstab">
            <p style="font-size: 15px;">8. Nutzungs- und Urheberrechte </p>
            <div class="secondtab">
                <p>Polly & Bob ist im Verhältnis zur Nutzer*in alleiniger Rechtsinhaber der Vervielfältigungs-, Verbreitungs-, Verarbeitungs- und sämtlicher Urheberrechte sowie des Rechts der unkörperlichen Übertragung und Wiedergabe der Polly & Bob-Website. Die Nutzung sämtlicher Programme und der darin enthaltenen Inhalte, Materialien sowie Marken- und Handelsnamen ist ausschließlich zu den in diesen Geschäftsbedingungen genannten Zwecken zulässig.</p>
            </div>
        </div>
        
        <div class="firstab">
            <p style="font-size: 15px;">9. Datennutzung, Datenweitergabe und Datenweitervermittlung</p>
            <div class="secondtab">
                <p>Siehe Datenschutzbestimmungen unter LINK</p>
            </div>
        </div>
        
        <div class="firstab">
            <p style="font-size: 15px;">10. Kündigung/ Beendigung des Vertragsverhältnisses</p>
            <div class="secondtab">
                <p>10.1. Die Nutzer*in hat jederzeit das Recht, den Vertrag mit sofortiger Wirkung zu kündigen. Die Kündigung erfolgt wirksam durch löschen des Profils, durch den Button „Löschen“ in den Profil-Einstellungen.</p>
                <p>10.2. Polly & Bob kann den Vertrag jederzeit aus wichtigem Grund fristlos kündigen. Ein wichtiger Grund liegt in jeder nicht nur unerheblichen Pflichtverletzung der Nutzer*in, insbesondere in einem Verstoß gegen diese AGB. Gesetzliche Kündigungsrechte bleiben unberührt.</p>
                <p>10.3. Das Vertragsverhältnis endet automatisch, wenn Polly & Bob das angebotene Internetportal einstellt.</p>
            </div>
        </div>
        
        <div class="firstab">
            <p style="font-size: 15px;">11. Gerichtsstand und anwendbares Recht</p>
            <div class="secondtab">
                <p>1. Es gilt das Recht der Bundesrepublik Deutschland unter Ausschluss deutschen und europäischen Kollisionsrechts und des UN-Kaufrechts.</p>
            </div>
        </div>
        
        <div class="firstab">
            <p style="font-size: 15px;">12. Salvatorische Klausel</p>
            <div class="secondtab">
                <p>1. Sollten einzelne Bestimmungen dieses Vertrages unwirksam sein oder werden und/oder gesetzlichen Bestimmungen widersprechen, so wird dadurch die Wirksamkeit dieser Nutzungsbedingungen im Übrigen nicht berührt. Die unwirksame Bestimmung wird von den Vertragsparteien einvernehmlich durch eine solche ersetzt, welche dem wirtschaftlichen Zweck der unwirksamen Bestimmung in rechtswirksamer Weise am nächsten kommt. Die vorstehende Regelung gilt entsprechend bei Regelungslücken.</p>
            </div>
        </div>

        <div class="firstab">
            <p style="font-size: 15px;">13. Widerrufsbelehrung</p>
            <div class="secondtab">
                <p>Widerrufsrecht
Jede Nutzer*in kann ihre Vertragserklärung innerhalb von 14 Tagen ohne Angaben von Gründen in Textform (z.B. Brief, Fax oder E-Mail) widerrufen. Die Frist beginnt nach Erhalt dieser Belehrung in Textform, jedoch nicht vor Vertragsschluss und auch nicht vor Erfüllung der Informationspflichten gemäß Artikel 246 § 2 in Verbindung mit § 1 Abs. 1 und 2 EGBGB. Zur Wahrung der Widerrufsfrist genügt die rechtzeitige Absendung des Widerrufs. Der Widerruf ist zu richten an: </p>
                <p>Per E-Mail: volker@pollyandbob.com </p>
                <p>Für eine eindeutige Zuordnung sollte der Widerruf der Nutzer*in folgende zwei Angaben enthalten:</p>
                <ul>
                    <li>Bei Polly & Bob hinterlegte E-Mail-Adresse oder Benutzername</li>
                    <li>Passwort </li>
                </ul>
                <p>Das Widerrufsrecht erlischt vorzeitig, wenn der Vertrag von beiden Seiten auf ausdrücklichen Wunsch der Nutzer*in vollständig erfüllt worden ist, bevor die Nutzer*in ihr Widerrufsrecht ausgeübt hat. Ende der Widerrufsbelehrung </p>
            </div>
        </div>
        
    </div>
    
    
<!--Privacy -->        
    
    <div class="collapseplus" id="collapseplus7" onclick="showInformationForm('7')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
    <div class="collapseplus" id="collapseminus7" onclick="showInformationForm('7')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
    <h2>Privacy</h2>
    
    <div class="forminformation" id="showInformationForm7">
        <p style="font-size: 15px;">Polly & Bob </p>
        <p>Für eine neue Nachbarschaft. Besser Miteinander. Mehr Füreinander. </p>
        
        <p style="font-size: 15px;">Datenschutzbestimmungen – Stand 1.11.2013</p>
        <p>Wir haben das Ziel und den Anspruch, die besten Datenschutzbestimmungen zu haben, die ein soziales Netzwerk im Internet haben kann. Wir schreiben heute den 1.11.2013. Heute beginnen wir damit, unsere Leistungen öffentlich anzubieten. Wir denken nicht, dass wir unseren Ansprüchen schon heute genüge tragen.  Wir müssen die vorliegenden Datenschutzbestimmungen stättig verbessern. Wir werden dafür mit den Nutzer*innen sprechen und im Nachbarschaftgremium vor jeder Änderung Abstimmungen durchführen. Wer könnte besser bestimmen, wie mit ihren Daten umgegangen wird, als die Nutzer*innen selbst? </p>
        <p>Deshalb rufen wir jeden auf, Verbesserungsvorschläge zu machen und mitzudiskutieren. Insbesondere richten wir uns an Experten und Nachbarn, die über einen großen Schatz an Erfahrungen in Bezug auf Datensicherung verfügen. Wir wollen es den Datenschnüfflern so schwer wie möglich machen. Wir werden niemals Daten verkaufen oder an Dritte weitergeben. Selbst dann, wenn wir gesetzlich dazu gezwungen werden, werden wir so wenig wie möglich an Informationen weitergeben. Die Rechte an den Daten und hochgeladenen Medien bleiben beim Nutzer. Gelöschte Daten werden vom Server tatsächlich gelöscht. </p>

        <p style="font-size: 15px;">Öffentliche Daten und nicht öffentliche Daten</p>
        <p>Öffentliche Daten,</p>
            <ul>
                <li>Nutzer*innenname</li>
                <li>Deine Profilfotos</li>
                <li>alle Profil Angaben, nach denen du gefunden werden möchtest. 
                Das sind insbesondere Informationen über das, was dir gefällt und Orte, die du interessant findest</li>
                <li>Sprachen, die du sprichst</li>
                <li>Nutzer*innen, die in deiner MeineNachbarn Liste sind</li>
                <li>Deine Community Pointes und wie sich diese Zusammensetzen</li>
                <li>Dein Status bezüglich der freiwillegen Ortsverifizierung sowie der freiwillegen Identitätsverifizierung</li>
                <li>Deine Listings und Beurteilungen, die du von anderen Nutzer*innen bekommen hast</li>
            </ul>
            <p>Nicht öffentliche Daten</p>
            <ul>	                    
                <li>Deinen Namen und Nachnamen</li>
                <li>Dein Alter</li>
                <li>Dein Geschlecht</li>
                <li>Deinen Wohnort</li>
                <li>Deine Kontoeinstellungen</li>
            </ul>
        
        <p style="font-size: 15px;">Verwendung dieser Daten</p>
        <p>Polly & Bob verwenden diese Daten ausschließlich dafür, dich mit anderen Nachbarn zu verbinden. Wir speichern diese Daten und löschen sie, wenn du sie von deinem Profil löschst. Diese Daten werden nicht an Dritte weitergegeben. Die Daten werden nicht zu Werbezwecken gebraucht.</p>
        
        <p style="font-size: 15px;">Sitzungsdaten</p>
        <p>Wir speichern folgende Sitzungsdaten annonymisiert. Durch die Annonymisierung ist die Rückbeziehung auf das Nutzer*innenverhalten auf eine bestimmte Person ausgeschlossen. Sitzungssdaten werden durch den jeweiligen Internet-Browser übermittelt und in Protokolldateien, sogenannten Server-Logfiles, gespeichert. Diese Daten sind:</p>
        <ul>
            <li>IP-Adresse (Internet-Protokoll-Adresse) des zugreifenden Rechners</li>
            <li>Nutzerkennung auf der Polly & Bob-Plattform</li>
            <li>Name der abgerufenen Seite</li>
            <li>Datum und Uhrzeit des Abrufs</li>
            <li>die Referrer-URL (Herkunfts-URL), von der der Nutzer auf die abgerufene Seite gekommen ist</li>
            <li>Übertragene Datenmenge</li>
            <li>Statusmeldung darüber, ob der Abruf erfolgreich war</li>
            <li>Sitzungs-Identifikationsnummer</li>
        <p>In den sogenannten Login-Datensätzen werden jedes Mal, wenn der Nutzer sich ins Netzwerk einloggt, folgende Nutzungsdaten gespeichert:</p>
            <li>Datum und Uhrzeit des Logins</li>
            <li>Nutzerkennung auf der Polly & Bob-Plattform</li>
            <li>IP-Adresse (Internet-Protokoll-Adresse)</li>
            <li>Nummer der Session Cookies</li>
            <li>Sitzungs-Identifikationsnummer</li>
        </ul>
        <p>Wir nutzen diese Daten, um besser zu verstehen, wie Polly & Bob genuzt</p> <p>wird. Aus dieser Erkenntnis heraus, verbessern wir die Leistungen von Polly & Bob.</p>
        <p style="font-size: 15px;">Cookies</p>
        <p>Ein Cookie ist eine Textdatei, die entweder temporär im Arbeitsspeicher des Computers abgelegt ("Sitzungscookie") oder auf der Festplatte gespeichert wird ("permanenter" Cookie).</p>
        <p>Wir verwenden keine Sitzungscookies. Wir verwenden permanente Cookies, die die persönlichen Nutzungseinstellungen annonymisiert gespeichert, so dass du deine persönlichen Einstellungen bei einem erneuten Besuch wieder vorfindest. Diese Cookies übermittelen gleichfalls die soeben genannten Sitzungsdaten, ebenfalls anonymisiert. Eine Zuordnung zur IP-Adresse der Nutzer*in wird nicht vorgehalten.</p>
        <p style="font-size: 15px;">Disclaimer</p>
        <p>Polly & Bob hat keinen Einfluss auf die Einhaltung der Datenschutzbestimmungen durch die Betreiber externer Websites und kann für die Einhaltung der Datenschutzbestimmungen durch die Betreiber verlinkter Seiten keine Haftung übernehmen. Polly & Bob macht sich den Inhalt externer, von Polly & Bob oder von Nutzer*innen verlinkter Websites oder Dateien unter keinen Umständen zu Eigen.</p>
        
        <p style="font-size: 15px;">Aufruf</p>
        <p>Bitte hilf uns mit deiner Expertise und deinen Erfahrungen dabei, unsere Datenschutzbestimmungen ständig zu verbessern und schreibe an</p> <p>Volker@pollyandbob.com</p>                
            
    </div>
    
<!-- -->
    <div class="collapseplus" id="collapseplus8" onclick="showInformationForm('8')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
    <div class="collapseplus" id="collapseminus8" onclick="showInformationForm('8')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
    <h2>Contact & Imprint</h2>
    
    <div class="forminformation" id="showInformationForm8">
        <p>Email: Volker@Pollyandbob.com<br>
        <b style="font-size: 15px;">Verantwortlicher im Sinne von § 5 TMG und § 55 RfStV:</b><br>
        Polly & Bob UG (haftungsbeschränkt)<br>
        Dr. Volker Siems<br>
        Wühlischstr. 12<br>
        10245 Berlin<br>
        Tel. 0163 3375025<br>
        volker@pollyandbob.com<br>
        HRB 152459 B
        </p>
    </div>

</div>
