{% extends 'FenchyRegularUserBundle::myProfileSettings.html.twig' %}

{% block stylesheets %}
   {{ parent() }}
{% endblock %}
{%  block javascripts %}
	{{ parent() }}
{% endblock %}
{% block content %}
	{% render 'FenchyRegularUserBundle:Myprofile:myAvatar' %}
	{% include 'FenchyRegularUserBundle:Myprofile:menu.html.twig' %}
	
			<div class="mycommunitypoints">
				<h4>{{ 'regularuser.location_verification'|trans|upper }}</h4>
				<div class="form-box-wrapper">									
					<h2>{{ 'regularuser.enter_password'|trans|upper }}</h2>
					<div class="row input-wrapper">
						<div class="input-element">					
							<input type="text" id="pass" placeholder="PASSWORD"></input>
						</div>
					</div>
					<div class="clearfix">
						<div id="buttons" class="button grey-button pull-left" style="float: right;">
							<a class="blue_button" value="ok" onClick="verifyLocation()">OK</a>
						</div>
					</div>			
				</div>
			</div>
	
	<script type="text/javascript">
		function verifyLocation(){
			var pass = $('#pass').val();
		    $.post('{{path('fenchy_regular_user_user_myprofile_locationverification')}}',               
		                {pass: pass}, 
		            function(response){				            
		                    alert(response.success);
		                    if(response.success == "your location verified.")
		                    {
		                    	setTimeout(function(){ location.reload(); }, 100); 
		                    }

		    }, "json");    
		}
					
	</script>
{% endblock %}	