{% extends 'FenchyRegularUserBundle::layoutV2.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}
{% block content %}
	{% render 'FenchyRegularUserBundle:Myprofile:myAvatar' %}
	{% include 'FenchyRegularUserBundle:Myprofile:menu.html.twig' %}
	
	
			<div class="mycommunitypoints">
				<h4>{{ 'regularuser.total_community_points'|trans }}<span>{{ displayUser.activity }}</span></h4>
                <div class="clearfix"></div>
                <div class="pointsdetail">
                	<table width="700" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="40%">{{ 'regularuser.profile_completion'|trans }}</td>
                        <td width="10%">{{ reputationPoints.profilePercent }}</td>
                        <td width="10%">{{ reputationPoints.profile }}</td>
                        {# {{ path('fenchy_regular_user_user_myprofile_main') }} #}
						<td width="40%"><a href="{{ path('fenchy_regular_user_user_myprofile_aboutmychoice') }}" class="categorylink">{{ 'regularuser.fill_my_profile_now'|trans }}</a></td>
                      </tr>
                      <tr>
                        <td width="40%">{{ 'regularuser.my_neighbors'|trans }}</td>
                        <td width="10%">{{ myNeighbourCount }}</td>
                        <td width="10%">{{ myNeighbourCount * 2 }}</td>
                        <td width="40%"><a class="categorylink" href="{{ path('fenchy_notice_indexv2',{ 'slug':'search','find':'neighbors'}) }}">{{ 'regularuser.find_new_neighbours_now'|trans }}</a></td>
                      </tr>
                      <tr>
                        <td width="40%">{{ 'regularuser.listings_posted'|trans }}</td>
                        <td width="10%">{{ repBreakdown.listingCount }}</td>
                        <td width="10%">{{ reputationPoints.notice }}</td>
                        <td width="40%"><a href="{{path('fenchy_regular_user_notice_create1')}}" class="categorylink">{{ 'regularuser.create_listing'|trans }}</a></td>
                      </tr>
                      <tr>
                        <td width="40%">{{ 'regularuser.neighbors_served'|trans }}</td>
                        <td width="10%">{{ neighbourServed }}</td>
                        <td width="10%">{{ neighbourServed }}</td>
                        <td width="40%"><a href="{{ path('fenchy_regular_user_listing_manage') }}" class="categorylink">{{ 'regularuser.update_your_listings_now'|trans }}</a></td>
                      </tr>
                      <tr>
                        <td width="40%">{{ 'regularuser.reviews_received'|trans }}</td>
                        <td width="10%">{{ repBreakdown.positiveRevCount }}</td>
                        <td width="10%">{{ reputationPoints.reviews }}</td>
                        <td width="40%"><a href="{{ path('fenchy_regular_user_listing_manage') }}" class="categorylink">{{ 'regularuser.ask_for_reviews'|trans }}</a></td>
                      </tr>                    
                      
                      <tr>
                        <td width="40%">{{ 'regularuser.completed_activities'|trans }}</td>
                        <td width="10%">{{ completedAcitivities }}</td>
                        <td width="10%">{{ completedAcitivities }}</td>
                        <td width="40%"><a href="{{ path('fenchy_notice_indexv2') }}" class="categorylink">{{ 'regularuser.search_new_activity'|trans }}</a></td>
                      </tr>
                      
                      <tr>
                        <td width="40%">{{ 'regularuser.written_reviews'|trans }}</td>
                        <td width="10%">{{ repBreakdown.revsOOCount }}</td>
                        <td width="10%">{{ reputationPoints.ownReviews }}</td>
                        <td width="40%"><a href="{{ path('fenchy_regular_user_listing_requests') }}" class="categorylink">{{ 'regularuser.write_review_now'|trans }}</a></td>
                      </tr>
                      
                      <tr>
                        <td width="40%">{{ 'regularuser.invited_and_registered_users'|trans }}</td>
                        <td width="10%"></td>
                        <td width="10%"></td>
                        <td width="40%"><a href="javascript:void(0);" class="categorylink">{{ 'regularuser.tell_friend_about_pollyandbob_now'|trans }}</a></td>
                      </tr>
                      
                      <tr>
                        <td width="40%">{{ 'regularuser.shareholder'|trans }}</td>
                        <td width="10%">{% if displayUser.member %}20{% else %}0{% endif %}</td>
                        <td width="10%">{% if displayUser.member %}20{% else %}0{% endif %}</td>
                        <td width="40%"><a href="{{ path('fenchy_frontend_share') }}" class="categorylink">{{ 'regularuser.become_shareholder_now'|trans }}</a></td>
                      </tr>
                      
                      
                      <tr>
                        <td width="40%">{{ 'regularuser.location_verified'|trans }}</td>
                        <td width="10%">{% if verified %}100{% else %}0{% endif %}</td>
                        <td width="10%">{% if verified %}100{% else %}0{% endif %}</td>
                        <td width="40%"><a href="#dialog51" name="modal" id="vzoom_1944" class="zoomthis categorylink">{{ 'regularuser.verify_your_location_now'|trans }}</a></td>
                      </tr>
                      
                      <tr>
                        <td width="40%">{{ 'regularuser.passport_verified'|trans }}</td>
                        <td width="10%">{% if identity %}100{% else %}0{% endif %}</td>
                        <td width="10%">{% if identity %}100{% else %}0{% endif %}</td>
                        <td width="40%"><a href="#dialog2" name="modal" id="vzoom_1944" class="zoomthis categorylink">{{ 'regularuser.verify_your_passport_now'|trans }}</a></td>
                      </tr>
                      
                    </table>
                </div>
            </div>	
            <div class="clearfix"></div>
            <div class="bgbottom">
            	<img alt="" src="{{ absolute(asset('images/bgbottom_contantinner.png')) }}">
            </div>
	
		<section id="boxes2">
	    	<div id="dialog51" class="window" style="height: auto; width: 590px; padding: 30px 0 0 28px;"> 
		        <div class="big_popup">
		            <div class="big_popupclose"><a href="" class="close"></a></div>
		            
						{% if verified %}
		            		<p>{{ 'regularuser.verified_location_message'|trans|upper }}</p>            								   	        		
		    	        {% else %}
		    	        	{% if verifyLocation %}
		    		        		<p>{{ 'regularuser.verify_location_message'|trans|upper }}</p>			
				            		<form action="{{ path('fenchy_regular_user_user_myprofile_verifylocation') }}" method="post" class="form-settings verifylocation">
					            		<input type="text" id="firstname" name="firstname" readonly="readonly" value="{{ displayUser.regularuser.name }}"/><br/>
					            		<input type="text" id="lastname" name="lastname" text="{{ displayUser.regularuser.lastname }}" placeholder="{{ 'regularuser.lastname'|trans  }}"/><br/>
					            		<textarea id="address" name="address" readonly="readonly">{{ displayUser.location.location }}</textarea><br/>
					            		<textarea id="additionaladdress" name="additionaladdress" placeholder="{{ 'regularuser.additional_address'|trans  }}"></textarea><br/>
					           			<input type="text" id="pincode" name="pincode" placeholder="{{ 'regularuser.postcode1'|trans }}"/><br/>
										<button type="submit"> {{ 'regularuser.ok'|trans|upper }}</button>
				    	        	</form>
								{% else %}							
				    	        	<p>{{ 'regularuser.verifing_location_message'|trans|upper }}</p>
		    	        	{% endif %}
		    	        {% endif %}
		        </div> 
		        <img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width: 100%; bottom: -9px;">   
	    	</div>    
	    	<div id="mask"></div>
    	</section>
	
	<!-- 
	 <div>
	 	{{ 'regularuser.profile_completion'|trans }}
	 	{{ reputationPoints.profilePercent }}
	 	{{ displayUser.activity }}
	 	<a href="{{ path('fenchy_regular_user_user_myprofile_main') }}" class="categorylink">{{ 'regularuser.fill_my_profile_now'|trans }}</a>
	 	<br/><br/><hr style="width:50%" align="left">
	 </div>
	 <div>
	 	{{ 'regularuser.my_neighbors'|trans }}
	 	<a href="javascript:void(0);" class="categorylink">{{ 'regularuser.find_new_neighbours_now'|trans }}</a>
	 	<br/><br/><hr style="width:50%" align="left">
	 </div>
	 <div>
	 	{{ 'regularuser.listings_posted'|trans }}
	 	{{ repBreakdown.listingCount }}
	 	{{ reputationPoints.notice }}
	 	<a href="javascript:void(0);" class="categorylink">{{ 'regularuser.create_listing'|trans }}</a>
	 	<br/><br/><hr style="width:50%" align="left">
	 </div>
	 <div>
	 	{{ 'regularuser.neighbors_served'|trans }}
	 	<a href="javascript:void(0);" class="categorylink">{{ 'regularuser.uptodate_your_listings_now'|trans }}</a>
	 	<br/><br/><hr style="width:50%" align="left">
	 </div>
	 <div>
	 	{{ 'regularuser.reviews_received'|trans }}
	 	{{ repBreakdown.positiveRevCount }}
	 	{{ reputationPoints.reviews }}
	 	<a href="javascript:void(0);" class="categorylink">{{ 'regularuser.ask_for_reviews'|trans }}</a>
	 	<br/><br/><hr style="width:50%" align="left">
	 </div>
	 <div>
	 	{{ 'regularuser.completed_activities'|trans }}
	 	<a href="javascript:void(0);" class="categorylink">{{ 'regularuser.search_new_activity'|trans }}</a>
	 	<br/><br/><hr style="width:50%" align="left">
	 </div>
	 <div>
	 	{{ 'regularuser.written_reviews'|trans }}
	 	{{ repBreakdown.revsOOCount }}
	 	{{ reputationPoints.ownReviews }}
	 	<a href="javascript:void(0);" class="categorylink">{{ 'regularuser.write_review_now'|trans }}</a>
	 	<br/><br/><hr style="width:50%" align="left">
	 </div>
	 <div>
	 	{{ 'regularuser.invited_and_registered_users'|trans }}
	 	{{ reputationPoints.facebook }}
	 	<a href="javascript:void(0);" class="categorylink">{{ 'regularuser.tell_friend_about_pollyandbob_now'|trans }}</a>
	 	<br/><br/><hr style="width:50%" align="left">
	 </div>
	 <div>
	 	{{ 'regularuser.shareholder'|trans }}
	 	<a href="javascript:void(0);" class="categorylink">{{ 'regularuser.become_shareholder_now'|trans }}</a>
	 	<br/><br/><hr style="width:50%" align="left">
	 </div>
	 <div>
	 	{{ 'regularuser.location_verified'|trans }}
	 	<a href="javascript:void(0);" class="categorylink">{{ 'regularuser.verify_your_location_now'|trans }}</a>
	 	<br/><br/><hr style="width:50%" align="left">
	 </div>
	 <div>
	 	{{ 'regularuser.passport_verified'|trans }}
	 	<a href="javascript:void(0);" class="categorylink">{{ 'regularuser.verify_your_passport_now'|trans }}</a>
	 	<br/><br/><hr style="width:50%" align="left">
	 </div>
	  -->
{% endblock %}