{% extends 'FenchyRegularUserBundle::layoutV2.html.twig' %}


{% block content %}	
	{% render 'FenchyRegularUserBundle:Myprofile:myAvatar' %}
	{% include 'FenchyRegularUserBundle:Myprofile:menu.html.twig' %}
	<div class="member">{{ 'member_since' | trans|upper }}
   		{{ displayUser.createdAt|date("m.d.Y") }}
   	</div>
   	
		
		<div class="myneighbors">
                <div class="persen">
                    <a href="#">
                    <img src="{{ absolute(asset('images/person.png')) }}" alt="" />
                    <div class="persenname">
                        <p>Betty</p>
                    </div>
                    <div class="neighbor green">
                        <p>N</p>
                        <span>168</span>
                    </div>
                    </a>
                </div>
                <div class="persen">
                    <a href="#">
                    <img src="{{ absolute(asset('images/person.png')) }}" alt="" />
                    <div class="persenname">
                        <p>Betty</p>
                    </div>
                    <div class="neighbor blue">
                        <p>N</p>
                        <span>168</span>
                    </div>
                    </a>
                </div>
                <div class="persen">
                    <a href="#">
                    <img src="{{ absolute(asset('images/person.png')) }}" alt="" />
                    <div class="persenname">
                        <p>Betty</p>
                    </div>
                    <div class="neighbor orange">
                        <p>N</p>
                        <span>168</span>
                    </div>
                    </a>
                </div>
                <div class="persen">
                    <a href="#">
                    <img src="{{ absolute(asset('images/person.png')) }}" alt="" />
                    <div class="persenname">
                        <p>Betty</p>
                    </div>
                    <div class="neighbor blue">
                        <p>N</p>
                        <span>168</span>
                    </div>
                    </a>
                </div>
                <div class="persen">
                    <a href="#">
                    <img src="{{ absolute(asset('images/person.png')) }}" alt="" />
                    <div class="persenname">
                        <p>Betty</p>
                    </div>
                    <div class="neighbor orange">
                        <p>N</p>
                        <span>168</span>
                    </div>
                    </a>
                </div>
                <div class="persen">
                    <a href="#">
                    <img src="{{ absolute(asset('images/person.png')) }}" alt="" />
                    <div class="persenname">
                        <p>Betty</p>
                    </div>
                    <div class="neighbor green">
                        <p>N</p>
                        <span>168</span>
                    </div>
                    </a>
                </div>
                <div class="persen">
                    <a href="#">
                    <img src="{{ absolute(asset('images/person.png')) }}" alt="" />
                    <div class="persenname">
                        <p>Betty</p>
                    </div>
                    <div class="neighbor blue">
                        <p>N</p>
                        <span>168</span>
                    </div>
                    </a>
                </div>
                <div class="persen">
                    <a href="#">
                    <img src="{{ absolute(asset('images/person.png')) }}" alt="" />
                    <div class="persenname">
                        <p>Betty</p>
                    </div>
                    <div class="neighbor orange">
                        <p>N</p>
                        <span>168</span>
                    </div>
                    </a>
                </div>
                <div class="persen">
                    <a href="#">
                    <img src="{{ absolute(asset('images/person.png')) }}" alt="" />
                    <div class="persenname">
                        <p>Betty</p>
                    </div>
                    <div class="neighbor blue">
                        <p>N</p>
                        <span>168</span>
                    </div>
                    </a>
                </div>
                <div class="persen">
                    <a href="#">
                    <img src="{{ absolute(asset('images/person.png')) }}" alt="" />
                    <div class="persenname">
                        <p>Betty</p>
                    </div>
                    <div class="neighbor orange">
                        <p>N</p>
                        <span>168</span>
                    </div>
                    </a>
                </div>
                <div class="persen">
                    <a href="#">
                    <img src="{{ absolute(asset('images/person.png')) }}" alt="" />
                    <div class="persenname">
                        <p>Betty</p>
                    </div>
                    <div class="neighbor green">
                        <p>N</p>
                        <span>168</span>
                    </div>
                    </a>
                </div>
                <div class="persen">
                    <a href="#">
                    <img src="{{ absolute(asset('images/person.png')) }}" alt="" />
                    <div class="persenname">
                        <p>Betty</p>
                    </div>
                    <div class="neighbor blue">
                        <p>N</p>
                        <span>168</span>
                    </div>
                    </a>
                </div>
                <div class="persen">
                    <a href="#">
                    <img src="{{ absolute(asset('images/person.png')) }}" alt="" />
                    <div class="persenname">
                        <p>Betty</p>
                    </div>
                    <div class="neighbor orange">
                        <p>N</p>
                        <span>168</span>
                    </div>
                    </a>
                </div>
                <div class="persen">
                    <a href="#">
                    <img src="{{ absolute(asset('images/person.png')) }}" alt="" />
                    <div class="persenname">
                        <p>Betty</p>
                    </div>
                    <div class="neighbor blue">
                        <p>N</p>
                        <span>168</span>
                    </div>
                    </a>
                </div>
                <div class="persen">
                    <a href="#">
                    <img src="{{ absolute(asset('images/person.png')) }}" alt="" />
                    <div class="persenname">
                        <p>Betty</p>
                    </div>
                    <div class="neighbor orange">
                        <p>N</p>
                        <span>168</span>
                    </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="bgbottom">
            	<img src="{{ absolute(asset('images/bgbottom_contantinner.png')) }}" alt="" />
            </div>    	
   	

{% endblock %}