{% extends 'FenchyRegularUserBundle::layoutV2.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('plugins/jquery-ui-1.9.1.custom/js/jquery-ui-1.9.1.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/ko/knockout-2.2.1.debug.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/moment-js/moment.min.js') }}"> </script>
    {% include '::gmapsApiAsset.html.twig' %}
    <script type="text/javascript" src="{{ asset('js/ko-extensions/jquery-autocomplete.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/ko-extensions/jquery-slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/ko-extensions/jquery-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/mvvm/global-filter-view-model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/lib/gapi-autocomplete.js') }}"></script>
    <script type="text/javascript" src="{{ absolute(asset('js/global-filter-widgets.js')) }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.tinyscrollbar.js') }}"></script>
    <script type="text/javascript">
    
        // model object instantination here
        var globalFilterViewModel;
        var autocomplete;
        var geocoder;
        var emptyCategories = {{ filterEmptyCat | json_encode() | raw }};
        var emptyPostDates = {{ filterEmptyPD | json_encode() | raw }};
        var baseViewUri = '{{ path(app.request.attributes.get('_route')) }}';
        var pagination = {{ listingsPagination }};
        var paramDistDefaults = {
            'distanceSliderMin': {{ filterDistanceSliderMinUser }},
            'distanceSliderMax': {{ filterDistanceSliderMaxUser }},
            'distanceSliderDefault': {{ filterDistanceSliderDefaultUser }},
            'distanceSliderSnap': {{ filterDistanceSliderSnapUser }}
        };
        var notice_tinyscroll;
        
        window.translations = {
            'no_limit': '{{ 'notice.no_limit' | trans }}',
            'sort_rel': '{{ 'notice.filter.sort.rel' | trans }}',
            'sort_dist': '{{ 'notice.filter.sort.dist' | trans }}',
            'sort_time': '{{ 'notice.filter.sort.time' | trans }}'
        };


        $(document).ready(function() {
        nice = $('.blockneighbors .neighborScroll').niceScroll();
        	$(document).on({
        	    "mouseup touchend": function () {
					//alert("bye");
					var distance = $(this).find('span .tooltip-value').text();
					//alert($(this).find('span .tooltip-value').text());
					$("#distance_m").text(distance);
        	    	filterUsers(distance);
        	    }
        	}, ".ui-slider-handle");
			
            notice_tinyscroll = $('#scrollable').tinyscrollbar();
            ko.bindingHandlers['class'] = {
                'update': function(element, valueAccessor) {
                    if (element['__ko__previousClassValue__']) {
                        $(element).removeClass(element['__ko__previousClassValue__']);
                    }
                    var value = ko.utils.unwrapObservable(valueAccessor());
                    $(element).addClass(value);
                    element['__ko__previousClassValue__'] = value;
                }
            };
            
            geocoder = new google.maps.Geocoder();
            
            var routes = {
                fenchy_filter_content: '{{path('fenchy_filter_content')}}',
                fenchy_what_autocomplete_suggestions: '{{path('fenchy_what_autocomplete_suggestions')}}',
            };
            
            var filterLastUrl = '{{ filterLastUrl }}';
            
            globalFilterViewModel = new GlobalFilterViewModel(geocoder, baseViewUri, routes, pagination, emptyCategories, emptyPostDates, paramDistDefaults, translations, filterLastUrl);
            
                  
            ko.applyBindings( globalFilterViewModel, document.getElementById('globalFilter'));
            globalFilterViewModel.retrieveFilterContent( true );
            
            autocomplete = new GApiAutocomplete(
                document.getElementById('location'),
                globalFilterViewModel );
            
                var _default_location = '';
                
                {% if app.user and not app.user.location.location %}
                    _default_location = '{{default_location}}';
                {% elseif app.user and app.user.location.location %}
                    _default_location = '{{app.user.location.location|replace({"\n": ''})}}';
                {% else %}
                    _default_location = '{{default_location}}';     
                {% endif %}
                    
                $('input#location').val(_default_location);

                		          
            
        });
        function filterUsers(dis)
		{
        	var dist = dis.slice(0,-2)
			dist = dist*1000;
			var url = "{{ path('fenchy_regular_user_user_myprofile_filterusers') }}";
			$.ajax({
				url : url+'?dist='+dist,
				type : "post",
				data : {
					},
				beforeSend : function() {
					$(".ajax_loader_info").show();
					$("#no_neighbours").hide();
					$(".filters_data").hide();
				},
				success : function(response) {
					//alert(response);
					if(!response)
					{
						$("#no_neighbours").show();
					}
					else
					{
						$("#no_neighbours").hide();
					}
					$(".filters_data").html(response);
				},
				error : function() {
					alert('Something went wrong!');
				},
				complete : function() {
					$(".ajax_loader_info").hide();
					$(".filters_data").show();			
				}
			});
		}
                function unBlockNeigh(obj)
                {
                    var form = obj.id;
                    var url = $('.'+form).attr('action');
		    var data = $('.'+form).serialize();                     
                   
		     $.ajax({
		        type: "POST",
		        url: url,
		        data: data,
		        beforeSend: function()
		        {
		        	$(".ajax_loader_info1").show();
		        	$("#dialog52").css('opacity','0.8');
		        },
		        success : function(response) {
		         
                            $('input[name="selected_neighbors[]"]:checked').map(function()
                            {
                                var id = $(this).val();
                                $('#person'+id).hide();
                            }).get();
		        },
		        complete : function() {
		        	 $(".ajax_loader_info1").hide();
		    		 $("#dialog52").hide();
                                 $('#unblock_neighbour').click();
                                 //window.location.reload();
			}
		     
		     });
                }
                
                
        // apply binding here
    </script>
    {# any view specific JS scripts for this view #}
{% endblock %}

{% block content %}	
	{% render 'FenchyRegularUserBundle:Myprofile:myAvatar' %}
	{% include 'FenchyRegularUserBundle:Myprofile:menu.html.twig' %}
	
	<style>
	#filter-distance-slider .ui-state-hover
	{
		border:none !important;
	}
	</style>
	<div class="member">
	
            <div style="float:left;font-size: 11px;">{{ 'regularuser.around_you'|trans }}</div><div id="distance_m" style="float:right;color: #e14f45;font-size: 11px;"></div>
            <div class="" style="text-align: center">
                <div id="filter-distance-slider" 
                data-bind="jqSlider: {
                    value: {{ filterDistanceSliderDefaultUser }}, 
                    min: {{ filterDistanceSliderMinUser }}, 
                    max: {{ filterDistanceSliderMaxUser }}, 
                    step: {{ filterDistanceSliderSnapUser }}
                },
                jqSliderValue: fcDistance" class="bord ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all jq-slider">
                    <a href="#" class="ui-slider-handle ui-state-default ui-corner-all">
                        <i class="icon-align-justify"></i>
                        <span class="inner-tooltip">
                            <strong class="tooltip-value" data-bind="text: fcDistanceText"></strong>
                            <span class="tooltip-arrow">
                            </span>
                        </span>                                            
                    </a>
                </div>
                <div class="slider-value">
                    {#<strong class="pull-left">&lt; 100m</strong>
                    <strong class="pull-right">&gt; 30km</strong>#}
                </div>
                                                          
            </div>
	</div>
   	
			
			<div class="myneighbors">
				<div id="no_neighbours" style="display: none; padding: 18px 0px 0px 230px;position: absolute;"><h4>{{ 'regularuser.message.no_neighbors'|trans }}</h4></div>
				<div class="ajax_loader_info" style="display: none; padding: 118px 0px 0px 438px;">
						<img alt="" src="{{ absolute(asset('images/ajax-loader-info.gif')) }}">
				</div>
				<div class="filters_data">
				{% if users2 %}
				{% set i=0 %}
				{% for user in users2 %}
		                <div class="persen">
		                	<a href="{{ path('fenchy_regular_user_user_otherprofile_aboutotherchoice') }}/{{ user.id }}" class="my_neighbour">
		                    {% if user.twitterusername %}
                                    <img src="/{{ user.twitterusername }}" alt="" />
                                    {% else %}
				    <img alt="" src="{{ absolute(asset('images/default_profile_picture.png')) }}">
				    {% endif %}
		                    <div class="persenname">
		                        <p>{{ user.userRegular.firstname }}</p>
		                    </div>		                    
		                    <div class="neighbor {{ managertype[i][2] }}">
		                        <p>{{ managertype[i][1] }}</p>
		                        <span>{{ user.activity }}</span>
		                    </div>
		                    </a>
		                </div>
		                {% set i= i+1 %}
		         {% endfor %}
		         {% else %}
			         <div id="no_neighbours_onload" style="padding: 18px 0px 0px 230px;position: absolute;"><h4>{{ 'regularuser.message.no_neighbors'|trans }}</h4></div>
			     {% endif %}
		         
		         </div>
                                <nav>
                                    <ul>
                                        <li><a href="#dialog52" name="modal" id="vzoom_1944" class="zoomthis paddingset" style="margin-left: -135px;{#{% if not blockneighbors %}#}display: none; {#{% endif %}#}">{{ 'regularuser.blocked_neighbors'|trans }}</a></li>
				       	<li><a class="paddingset" href="{{ path('fenchy_notice_indexv2',{ 'slug':'search','find':'neighbors'}) }}">{{ 'regularuser.find_neighbors'|trans }}</a></li>
				    </ul>
				 </nav>
         
         	</div>
         	
            <div class="clearfix"></div>
            <div class="bgbottom">
            	<img src="{{ absolute(asset('images/bgbottom_contantinner.png')) }}" alt="" />
            </div>    	
   	
            <section id="boxes2">
	    	<div id="dialog52" class="window" style="height: auto; width: 590px; padding: 30px 0 0 28px;"> 
		        <div class="big_popup">
		            <div class="big_popupclose"><a href="" class="close"></a></div>
                            <form action="{{ path('fenchy_regular_user_user_otherprofile_unblockneighbors') }}" name="unblockNeighbor" method="post" class="unblockNeighbor-form">
                                <div class="ajax_loader_info1" style="display: none;margin-left: 230px; margin-top: 210px; position: absolute; z-index: 10000;">
                                    <img alt="" src="{{ absolute(asset('images/ajax-loader-info.gif')) }}">
                                </div>       
		            <div class="blockneighbors">
                                <div class="neighborScroll">
                                    {% if blockneighbors %}
                                        {% set i=0 %}
                                        {% for blockneighbor in blockneighbors %}
                                                <div class="persen" id="person{{blockneighbor.blocked.id}}">
                                                            {% if blockneighbor.blocked.id != app.user.id %}
                                                               <div class="checkbox">
                                                                <input type="checkbox" name="selected_neighbors[]" value="{{ blockneighbor.blocked.id }}">
                                                                <label></label>
                                                               </div>
                                                            {% endif %}
                                                            <a href="javascript:void(0);" class="my_neighbour">
                                                                {% render "FenchyNoticeBundle:GlobalFilter:generateCode" with { 'userId': blockneighbor.blocked.id } %}
                                                                        <div class="persenname">
                                                                        <p>{{ blockneighbor.blocked.name }}</p>
                                                                </div>
                                                                <div class="neighbor {{ blockmanagertype[i][2] }}">
                                                                    <p>{{ blockmanagertype[i][1] }}</p>
                                                                    <span>{{ blockneighbor.blocked.activity }}</span>
                                                                </div>
                                                            </a>			                            
                                                </div>
                                            {% set i= i+1 %}
                                        {% endfor %}
                                    {% else %}
                                        <div id="no_neighbours" style="padding: 18px 0px 0px 230px;position: absolute;"><h4>{{ 'regularuser.message.no_neighbors'|trans }}</h4></div>
                                    {% endif %}                                    
                                </div>
                                <input id="unblockNeighbor-form" style="cursor: pointer; background: none repeat scroll 0 0 #51B9D4; color: #FFFFFF; padding: 0 10px; float: right;" class="blue-button" type="button" value="{{ 'regularuser.unblock'|trans }}" onclick="unBlockNeigh(this);"/>
                            </div>
                                
                            </form>
		        </div> 
		        <img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width: 100%; bottom: -9px;">   
	    	</div>    
	    	<div id="mask"></div>
    	</section>
            
       <a id="unblock_neighbour" href="#dialog306" class="zoomthis blue_button" name="modal" id="vzoom_1944" style="display: none;"></a>
        <section id="boxes2">
		<div id="dialog306" class="window">
		<div id="dialog45">
		   	<div class="big_popup">
		      	<div class="big_popupclose"><a href="" class="close"></a></div>
				<div id="messageForm">
					<p>{{ 'regularuser.unblock_neighbor_success'|trans }}</p>
				</div>
			</div>
			<img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width: 100%; bottom: -9px;">
		</div>
		</div>
		<div id="mask"></div>
	</section>
{% endblock %}