<!DOCTYPE html>
<!--[if lt IE 7]>				<html lang="en" class="ie ie6 lte9 lte8 lte7">	<![endif]-->
<!--[if IE 7]>					<html lang="en" class="ie ie7 lte9 lte8 lte7">	<![endif]-->
<!--[if IE 8]>					<html lang="en" class="ie ie8 lte9 lte8">		<![endif]-->
<!--[if IE 9]>					<html lang="en" class="ie ie9 lte9">			<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->	<html lang="en">								<!--<![endif]-->
        <head>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
            <meta charset="UTF-8">
            <link rel="icon" href="{{ asset('images/favicon.ico') }}" />
            
			{% block stylesheets %}
                <link rel="stylesheet" href="{{ absolute(asset('css/frontend/font-awesome.css')) }}" type="text/css" />                
                <link rel="stylesheet" href="{{ absolute(asset('css/app/base-v2.css')) }}" type="text/css" />
                <link rel="stylesheet" href="{{ asset('css/app/header-v2.css') }}" type="text/css" />
                <link rel="stylesheet" href="{{ asset('css/app/foot-v2.css') }}" type="text/css" />
                <link rel="stylesheet" href="{{ asset('js/fancybox/jquery.fancybox-1.3.4.css') }}" type="text/css" /> 
                {% if not app.user %}
                <link rel="stylesheet" href="{{ asset('css/regular_user/registration/login-v2.css') }}" type="text/css" />
                {% else %}
                <link rel="stylesheet" href="{{ asset('css/regular_user/profile/userprofile-v2.css') }}" type="text/css" />
                {% endif %}
                <!-- Add CSS -->
                {% if app.request.locale == 'en' %}
						<link rel="stylesheet" href="{{ absolute(asset('css/frontend/frontend/style.css')) }}" type="text/css" />                
	            {% elseif app.request.locale == 'de' %}
	            		<link rel="stylesheet" href="{{ absolute(asset('css/frontend/frontend/style_de.css')) }}" type="text/css" />
	            {% endif %}
			    <link rel="stylesheet" href="{{ absolute(asset('css/frontend/frontend/skin.css')) }}" type="text/css" />
			    <link rel="stylesheet" href="{{ absolute(asset('css/frontend/frontend/popup.css')) }}" type="text/css" />
			    <link rel="stylesheet" href="{{ absolute(asset('css/frontend/frontend/nivo-slider.css')) }}" type="text/css" />
			    <!-- Add CSS -->  
            {% endblock %}
            {% block javascripts %}
                {# any view specific JS scripts for this view #}                
                <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/ajax-calls.js') }}"></script>
                <!--[if lt IE 9]>
                    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                    <script type="text/javascript" src="{{ absolute(asset('js/respond.min.js')) }}"></script>	
                <![endif]-->
                <!--[if lte IE 9]>
                    <script type="text/javascript" src="{{ asset('js/jquery.placeholder.min.js') }}"></script>
                    <script type="text/javascript">                
                        $(document).ready(function(){$('input, textarea').placeholder();});
                    </script>
                <![endif]-->
                <script type="text/javascript" src="{{ asset('plugins/jquery-ui-1.9.1.custom/js/jquery-ui-1.9.1.custom.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('plugins/jquery-blockui/jquery.blockui.js') }}" ></script>
                <script type="text/javascript" src="{{ absolute(asset('js/sript-action-v2.js')) }}"></script>
                <script type="text/javascript" src="{{ absolute(asset('js/regular_user/profile/footer-lang-dialogv2.js')) }}"></script>
                <script type="text/javascript" src="{{ asset('js/fancybox/jquery.fancybox-1.3.4.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/fancybox/jquery.mousewheel-3.0.4.pack.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/i18n/jquery.ui.datepicker-'~app.request.locale~'.js') }}"></script>
                {% if not app.user %}                
                <script type="text/javascript" src="{{ asset('js/regular_user/login/form.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/regular_user/registration/form.js') }}"></script>
                {% else %}
                <script type="text/javascript" src="{{ asset('js/regular_user/profile/userprofile-v2.js') }}"></script>
                {% endif %}                
                {% if not app.user %}
                <script type="text/javascript">
                function onFbInit() {
                    $('.login-with-facebook').click(function(){
                        FB.login(function(response) {

                            if (response.authResponse) {
                                $.ajax({
                                    type: "POST",
                                    url: "{{ path('fenchy_login_facebook') }}",
                                    data: { token: response.authResponse.accessToken, facebookId: response.authResponse.userID }
                                }).done(function( data ) {
                                    if (null != data.url) {
                                        window.location.replace( data.url );
                                    } else {
                                        alert( '{{ 'regularuser.unexpected_problem_facebook'|trans }}');
                                    }
                                }).fail(function( data ) {
                                    if (null != data.responseText) {
                                        alert( data.responseText );
                                    } else {
                                        alert( '{{ 'regularuser.unexpected_problem_facebook'|trans }}');
                                    }
                                });
                            }
                        }, {
                            scope: 'email, user_birthday, user_location'
                        });
                        return false;
                    });
                }
                
                </script>  
                {% endif %}
                
                <script type="text/javascript">
                    $(document).ready(function(){
                    {% if app.user and not app.user.location.location %}
                        $("input#location").fancybox({
                            type: 'iframe',
                            href: '{{ path('fenchy_regular_user_settings_filllocationpopup') }}?'+Math.random(),
                            width: 900,
                            height: 550,
                            centerOnScroll: true,
                            onClosed: function(){
                                window.location.reload();
                            }
                        });                        
                        
                    {% endif %}
                    });
                    </script>
		            <!-- Add Js -->
		   			<script type="text/javascript" src="{{ asset('js/jquery-popup.js') }}"></script>
				    <script type="text/javascript" src="{{ asset('js/popup.js') }}"></script>
				    <script type="text/javascript" src="{{ asset('js/jquery-latest.js') }}"></script>
				    <script type="text/javascript" src="{{ asset('js/jquery.nivo.slider.js') }}"></script>
				    <script type="text/javascript" src="{{ asset('js/jquery.jcarousel.js') }}"></script>
				    <script type="text/javascript" src="{{ asset('js/jquery.nicescroll.js') }}"></script>
				    <script type="text/javascript" src="{{ asset('js/default.js') }}"></script>
				    
				    <script type="text/javascript">
				    $(window).load(function() {
				    	$("#mycarousel").hide();
						$('#slider1').nivoSlider();
					});
				    var nice = false;
				    $(document).ready(function() {
				      nice = $(".eventcontent p").niceScroll();
				      nice = $("#mycarousel .carouselcontent p").niceScroll();
				    });
				    var obj = window;//$(window);
					</script>
					
					<script type="text/javascript">
					/**
					 * We use the initCallback callback
					 * to assign functionality to the controls
					 */
					function mycarousel_initCallback(carousel) {
					    $('.jcarousel-control a').bind('click', function() {
					        carousel.scroll($.jcarousel.intval($(this).text()));
					        return false;
					    });
					
					    $('.jcarousel-scroll select').bind('change', function() {
					        carousel.options.scroll = $.jcarousel.intval(this.options[this.selectedIndex].value);
					        return false;
					    });
					
					    $('#mycarousel-next').bind('click', function() {
					        carousel.next();
					        currslid = carousel.last;
					        $('#bottomlink a').removeClass('selected');
				            $('#bottomlink a#slide'+currslid).addClass('selected');
					        return false;
					    });
					
					    $('#mycarousel-prev').bind('click', function() {
					        carousel.prev();
					        currslid = carousel.last;
					        $('#bottomlink a').removeClass('selected');
				            $('#bottomlink a#slide'+currslid).addClass('selected');
					        return false;
					    });
					};
					
					// Ride the carousel...
					
					$(document).ready(function() {
						$("#mycarousel").jcarousel({
					        scroll: 1,
					        initCallback: mycarousel_initCallback,
					        // This tells jCarousel NOT to autobuild prev/next buttons
					        buttonNextHTML: null,
					        buttonPrevHTML: null
					    });
					});
					</script>
					<script>
					$(function() {
					    $('#bottomlink a').click(function() {
					    	    $('#eventslisting').hide();
					    	    $('#ascrail2000').hide();
					    	    $('#ascrail2000-hr').hide();
					    	    $('#ascrail2001').hide();
					    	    $('#ascrail2001-hr').hide();
					    	    $('#ascrail2002').hide();
					    	    $('#ascrail2002-hr').hide();
					    	    $('#ascrail2003').hide();
					    	    $('#ascrail2003-hr').hide();
					    	    
					    	    $("#mycarousel").show();
					            $('#bottomlink a').removeClass('selected');
					            $(this).addClass('selected');
					            //$('a', this).addClass('selected');
					        
					    });
					    $('#save_msg_id').hide();
					    $("#save_loc_id").click(function() {
					    	 $('#save_msg_id').show();
						});

					    $('.login').click(function(event) {
							  event.preventDefault();
							  $('.loginwindow').slideToggle('fast', function() {
							  });
						});

					    $('.myprofilelink').click(function(event) {
							  event.preventDefault();
							  $('.loginwindow2').css('right','213px');
							  $('.loginwindow2').css('top','40px');
							  $('.loginwindow2').slideToggle('fast', function() {
							  });
						  });

					    $("#registration_user_regular_postcode").keydown(function(event) {
					            if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
					               	return;
					            } else {
					                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
					                    event.preventDefault();
					                }
					            }
					        });
					});
					</script>
					
				    <!-- Add Js -->
            {% endblock %}
                
            {% block plugins %}
            {% endblock %}
            <title>{% block title %}{{ 'main.title_suffix'|trans }}{% endblock %}</title>
            
    </head>
    <body>
	    <div class="slider-wrapper theme-default">
	        <div id="slider1" class="nivoSlider">
	        	 <a class="homebanner1" href="#"></a>
                 <a class="homebanner2" href="#"></a>
                 <a class="homebanner3" href="#"></a>
	        </div>
	    </div>
		<div class="sidemenu">
	    	<a href="#dialog4" name="modal" id="vzoom_1944" class="zoomthis aboutpnb">{{ 'main.about_pb'|trans }}</a><br>
	    	<a href="#dialog5" name="modal" id="vzoom_1944" class="zoomthis whatcan">{{ 'main.what_can_i_do'|trans }}</a>
	    </div>
        <div class="wrapper">            
                {% block header %}
                    {% include '::headerV2.html.twig' %}
                {% endblock %}
		        <section id="slidercontent">
		            <div class="text1">{{ 'frontend.take_the_time'|trans }}</div>
		            <!-- <a href="{{path('fenchy_frontend_indexv2')}}"><img src="{{ absolute(asset('images/logo.png')) }}" alt="" /></a>-->
		            <a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis signup"><img src="{{ absolute(asset('images/logo.png')) }}" alt="" /></a>
		            <div class="text2">{{ 'frontend.enrich_your_life'|trans }}</div>
		            <div class="clearfix"></div>
		            <h2>{{ 'frontend.welcome_to_neighborhood'|trans }}</h2>
		            <div class="clearfix"></div>
		            {% block body %}
                    {% block tagline_content %}

                    {% endblock %}
		        </section>
		        <div class="clearfix"></div>
                <div id="page-spacer"></div>
                
                <div id="page-wrapper" class="container">                      
                   {% block positive_msg %}
                       {% set flash = app.session.flash('positive') %}
                       {% if flash|length > 0 %}
                           <div class="flash-message">
                               <div class="flash-message-inner">
                                   <p id="account-resume" class="alert-success"><i class="icon-ok"></i>{{ flash|trans }}</p>
                               </div>
                           </div>
                       {% endif %}
                       {% set flash = app.session.flash('positive-overlayer') %}
                       {% if flash|length > 0 %}
                           <div class="flash-message flash-message-overlayer">
                               <div class="flash-message-inner">
                                   <p id="account-resume" class="alert-success"><i class="icon-ok"></i>{{ flash|trans }}</p>
                               </div>
                           </div>
                       {% endif %}                        
                   {% endblock %}

                   {% block negative_msg %}
                       {% set flash = app.session.flash('negative') %}
                       {% if flash|length > 0 %}
                           <div class="flash-message">
                               <div class="flash-message-inner">
                                   <p id="account-resume" class="alert-error"><i class="icon-remove"></i>{{ flash|trans }}</p>
                               </div>
                           </div>
                       {% endif %}
                       {% set flash = app.session.flash('negative-overlayer') %}
                       {% if flash|length > 0 %}
                           <div class="flash-message flash-message-overlayer">
                               <div class="flash-message-inner">
                                   <p id="account-resume" class="alert-error"><i class="icon-remove"></i>{{ flash|trans }}</p>
                               </div>
                           </div>
                       {% endif %}                        
                   {% endblock %}

                       {% block content %}

                       {% endblock %}

                   {% endblock %}
                   <div class="footer-push"></div>
               </div>
            
        </div>
        {% block foot %}
                {% include '::footV2.html.twig' %}
                {% if not app.user %}
                {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
                {% endif %}
       {% endblock %}
        
    	
    	<!-- Begin MailChimp Signup Form -->

<style type="text/css">
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>


        <section id="boxes2">
        <div id="dialog1" class="window"> 
			<div class="big_popup">
                <div class="big_popupclose"><a href="" class="close"></a></div>
                <!-- Your custom code here -->
                <div class="title">{{ 'main.interested'|trans }}</div>
                <div class="clearfix"></div>
                <p>{{ 'main.join_interest'|trans }}</p>
                <div id="mc_embed_signup">
                <form action="http://pollyandbob.us7.list-manage1.com/subscribe/post?u=43c83103fae20f39b4d0d5878&amp;id=cfd1046153" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                	<input type="email" value="Your E-mail" name="EMAIL" onFocus="myFocus(this);" onBlur="myBlur(this);" id="mce-EMAIL">
                	<input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="">
                </form>
                </div>
                <!-- Your custom code end -->
			</div>
        </div>
        <div id="mask"></div>
    	</section>
    	
    	<section id="boxes2">
            <div id="dialog4" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close"></a></div>
                    <!-- Your custom code here -->
                    <a href="#" class="aboutpnb">{{ 'main.about_pb'|trans }}</a>
                    <div class="clearfix"></div>
                    <p>{{ 'main.first_blue_popup_desc'|trans }}<br><br>{{ 'main.take_time_enrich'|trans }}</p>
                    <a href="#dialog5" name="modal" id="vzoom_1944" class="zoomthis whatcan">{{ 'main.first_popup_link'|trans }}</a>
                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section>
        
    	 <section id="boxes2">
            <div id="dialog5" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close"></a></div>
                    <!-- Your custom code here -->
                    <a href="#" class="whatcan">You can do a lot on Polly &amp; Bob</a>
                    <div class="clearfix"></div>
                    <div class="candolot">
                        <div class="left">
                            <h4>Find Something<br><span>in the neighborhood</span></h4>
                            <div class="clearfix"></div>
                            <a href="#dialog6" name="modal" id="vzoom_1944" class="zoomthis">Neighbors</a>
                            <a href="#dialog11" name="modal" id="vzoom_1944" class="zoomthis">Groups</a>
                            <a href="#dialog12" name="modal" id="vzoom_1944" class="zoomthis">Help</a>
                            <a href="#dialog13" name="modal" id="vzoom_1944" class="zoomthis">Goods</a>
                            <a href="#dialog14" name="modal" id="vzoom_1944" class="zoomthis">Service</a>
                            <a href="#dialog15" name="modal" id="vzoom_1944" class="zoomthis">Events</a>
                            <a style="padding:5px 10px; float:right; margin-right:18px;" href="#dialog16" name="modal" id="vzoom_1944" class="zoomthis">Something Else</a>
                        </div>                        
                        <div class="right">
                            <h4>Offer Something<br><span>to the neighborhood</span></h4>
                            <div class="clearfix"></div>
                            <a href="#dialog17" name="modal" id="vzoom_1944" class="zoomthis">Groups</a>
                            <a href="#dialog18" name="modal" id="vzoom_1944" class="zoomthis">Yourself</a>
                            <a href="#dialog19" name="modal" id="vzoom_1944" class="zoomthis">Goods</a>
                            <a href="#dialog20" name="modal" id="vzoom_1944" class="zoomthis">Help</a>
                            <a href="#dialog21" name="modal" id="vzoom_1944" class="zoomthis">Events</a>
                            <a href="#dialog22" name="modal" id="vzoom_1944" class="zoomthis">Service</a>
                            <a style="padding:5px 10px;" href="#dialog23" name="modal" id="vzoom_1944" class="zoomthis">Something Else</a>
                        </div>                        
                    </div>
                    <div class="clearfix"></div>
                    <p class="left">Polly &amp; Bob connects you to your neigborhood</p>
{#                     <p class="right">Take the time. Enrich your life.</p>#}
                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section>
        <section id="boxes2">
            <div id="dialog6" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close1"></a></div>
                    <!-- Your custom code here -->
                    <div class="innerpopups">
                        <h4>Find Neighbors!</h4>
                        <div class="clearfix"></div>
                        <p class="text1">You need a chess player?</p>
                        <div class="clearfix"></div>
                        <p class="text2">You need people like you?</p>
                        <div class="clearfix"></div>
                        <p class="text3">You want to meet people for xy?</p>
                        <div class="clearfix"></div>
                        {% if app.user %}
                        	<a href="{{ path('fenchy_notice_indexv2') }}" class="whatcan">Make a Listing</a>
                        {% else %}
                        	<a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis whatcan make_listing">Make a Listing</a>
                        {% endif %}
                        <div class="clearfix"></div>
                        <span>Polly &amp; Bob connects you to your neighborhood</span>
                    </div>
<!--                    
                    <form name="">
                    	<input type="text" />
                        <a href="#dialog1" name="modal" id="vzoom_1944" class="zoomthis"><input type="submit" value="" /></a>
                    </form>
                    
-->                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section>
        <section id="boxes2">
            <div id="dialog11" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close1"></a></div>
                    <!-- Your custom code here -->
                    <div class="innerpopups">
                        <h4>Find Groups!</h4>
                        <div class="clearfix"></div>
                        <p>You need a running group?</p>
                        <div class="clearfix"></div>
                        <p class="text1">You want to meet people regularly to a certain topic?</p>
                        <div class="clearfix"></div>
                        <p>You want to discuss local political stuff with neighbors?</p>
                        <div class="clearfix"></div>
                        {% if app.user %}
                        	<a href="{{ path('fenchy_notice_indexv2') }}" class="whatcan">Make a Listing</a>
                        {% else %}
                        	<a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis whatcan make_listing">Make a Listing</a>
                        {% endif %}
                        <div class="clearfix"></div>
                        <span>Polly &amp; Bob connects you to your neighborhood</span>
                    </div>
                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section>
        <section id="boxes2">
            <div id="dialog12" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close1"></a></div>
                    <!-- Your custom code here -->
                    <div class="innerpopups">
                        <h4>Find Help!</h4>
                        <div class="clearfix"></div>
                        <p>You need a help to solve your computer problem?</p>
                        <div class="clearfix"></div>
                        <p class="text1">You want to point your corrider and need a helping hand?</p>
                        <div class="clearfix"></div>
                        <p>You someone to sit your dog?</p>
                        <div class="clearfix"></div>
                        {% if app.user %}
                        	<a href="{{ path('fenchy_notice_indexv2') }}" class="whatcan">Make a Listing</a>
                        {% else %}
                        	<a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis whatcan make_listing">Make a Listing</a>
                        {% endif %}
                        <div class="clearfix"></div>
                        <span>Polly &amp; Bob connects you to your neighborhood</span>
                    </div>
                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section>
        <section id="boxes2">
            <div id="dialog13" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close1"></a></div>
                    <!-- Your custom code here -->
                    <div class="innerpopups">
                        <h4>Find Goods!</h4>
                        <div class="clearfix"></div>
                        <p class="text1">You need a certain CD?</p>
                        <div class="clearfix"></div>
                        <p class="text3">You need a car for the weekend?</p>
                        <div class="clearfix"></div>
                        <p>You need a certain tool?</p>
                        <div class="clearfix"></div>
                        {% if app.user %}
                        	<a href="{{ path('fenchy_notice_indexv2') }}" class="whatcan">Make a Listing</a>
                        {% else %}
                        	<a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis whatcan make_listing">Make a Listing</a>
                        {% endif %}
                        <div class="clearfix"></div>
                        <span>Polly &amp; Bob connects you to your neighborhood</span>
                    </div>
                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section>
        <section id="boxes2">
            <div id="dialog14" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close1"></a></div>
                    <!-- Your custom code here -->
                    <div class="innerpopups">
                        <h4>Find Services!</h4>
                        <div class="clearfix"></div>
                        <p class="text1">You need a reliable babysitter for tonight?</p>
                        <div class="clearfix"></div>
                        <p class="text3">You need some guys for your move for small money?</p>
                        <div class="clearfix"></div>
                        <p>You need any service and want something reliable person from the neighborhood?</p>
                        <div class="clearfix"></div>
                        {% if app.user %}
                        	<a href="{{ path('fenchy_notice_indexv2') }}" class="whatcan">Make a Listing</a>
                        {% else %}
                        	<a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis whatcan make_listing">Make a Listing</a>
                        {% endif %}
                        <div class="clearfix"></div>
                        <span>Polly &amp; Bob connects you to your neighborhood</span>
                    </div>
                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section>
        <section id="boxes2">
            <div id="dialog15" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close1"></a></div>
                    <!-- Your custom code here -->
                    <div class="innerpopups">
                        <h4>Find Events!</h4>
                        <div class="clearfix"></div>
                        <p class="text1">Where is the next neighborhood meetup?</p>
                        <div class="clearfix"></div>
                        <p class="text2">What is going on around me?</p>
                        <div class="clearfix"></div>
                        <p  class="text3">What is the next football game taking place?</p>
                        <div class="clearfix"></div>
                        <p class="text1">Where can meet neighbors easily?</p>
                        <div class="clearfix"></div>
                        {% if app.user %}
                        	<a href="{{ path('fenchy_notice_indexv2') }}" class="whatcan">Make a Listing</a>
                        {% else %}
                        	<a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis whatcan make_listing">Make a Listing</a>
                        {% endif %}
                        <div class="clearfix"></div>
                        <span>Polly &amp; Bob connects you to your neighborhood</span>
                    </div>
                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section>        
        <section id="boxes2">
            <div id="dialog16" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close1"></a></div>
                    <!-- Your custom code here -->
                    <div class="innerpopups">
                        <h4>Find something else!</h4>
                        <div class="clearfix"></div>
                        <p class="text1">You have lost your keys?</p>
                        <div class="clearfix"></div>
                        <p class="text3">You want to find the best currywurst in your neighborhood?</p>
                        <div class="clearfix"></div>
                        <p>You are in need of anything that dose not fit into help, service, goods, neighbors or groups?</p>
                        <div class="clearfix"></div>
                        {% if app.user %}
                        	<a href="{{ path('fenchy_notice_indexv2') }}" class="whatcan">Make a Listing</a>
                        {% else %}
                        	<a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis whatcan make_listing">Make a Listing</a>
                        {% endif %}
                        <div class="clearfix"></div>
                        <span>Polly &amp; Bob connects you to your neighborhood</span>
                    </div>
                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section>
        <section id="boxes2">
            <div id="dialog17" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close1"></a></div>
                    <!-- Your custom code here -->
                    <div class="innerpopups">
                        <h4>Offer Groups</h4>
                        <div class="clearfix"></div>
                        <p class="text1">You want to gather people in a group to a certain topic.</p>
                        <div class="clearfix"></div>
                        <p class="text3">You want to share news with certain neighbors?</p>
                        <div class="clearfix"></div>
                        {% if app.user %}
                        	<a href="{{ path('fenchy_notice_indexv2') }}" class="whatcan">Make a Listing</a>
                        {% else %}
                        	<a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis whatcan make_listing">Make a Listing</a>
                        {% endif %}
                        <div class="clearfix"></div>
                        <span>Polly &amp; Bob connects you to your neighborhood</span>
                    </div>
                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section>
        <section id="boxes2">
            <div id="dialog18" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close1"></a></div>
                    <!-- Your custom code here -->
                    <div class="innerpopups">
                        <h4>Offer Yourself</h4>
                        <div class="clearfix"></div>
                        <p class="text1">You want to offer some services?</p>
                        <div class="clearfix"></div>
                        <p class="text2">You want to offer help?</p>
                        <div class="clearfix"></div>
                        <p class="text3">You want to offer goods?</p>
                        <div class="clearfix"></div>
                        {% if app.user %}
                        	<a href="{{ path('fenchy_notice_indexv2') }}" class="whatcan">Make a Listing</a>
                        {% else %}
                        	<a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis whatcan make_listing">Make a Listing</a>
                        {% endif %}
                        <div class="clearfix"></div>
                        <span>Polly &amp; Bob connects you to your neighborhood</span>
                    </div>
                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section>
        <section id="boxes2">
            <div id="dialog19" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close1"></a></div>
                    <!-- Your custom code here -->
                    <div class="innerpopups">
                        <h4>Offer Goods?</h4>
                        <div class="clearfix"></div>
                        <p>You want to lend your car to neighbors on paid bases?</p>
                        <div class="clearfix"></div>
                        <p class="text1">You want to lend your drilling machine to neighbors for free?</p>
                        <div class="clearfix"></div>
                        <p>You want to give away some CD's or Music for free?</p>
                        <div class="clearfix"></div>
                        <p class="text1">You want to swap clothes?</p>
                        <div class="clearfix"></div>
                        {% if app.user %}
                        	<a href="{{ path('fenchy_notice_indexv2') }}" class="whatcan">Make a Listing</a>
                        {% else %}
                        	<a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis whatcan make_listing">Make a Listing</a>
                        {% endif %}
                        <div class="clearfix"></div>
                        <span>Polly &amp; Bob connects you to your neighborhood</span>
                    </div>
                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section>
        <section id="boxes2">
            <div id="dialog20" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close1"></a></div>
                    <!-- Your custom code here -->
                    <div class="innerpopups">
                        <h4>Offer Help?</h4>
                        <div class="clearfix"></div>
                        <p>You are a native english speaker and like to help out a neighbor?</p>
                        <div class="clearfix"></div>
                        <p class="text1">You like dogs and like to offer dog sitting, because you can't have your own?</p>
                        <div class="clearfix"></div>
                        <p>You are an expert in xy and like to offer a hand if needed?</p>
                        <div class="clearfix"></div>
                        {% if app.user %}
                        	<a href="{{ path('fenchy_notice_indexv2') }}" class="whatcan">Make a Listing</a>
                        {% else %}
                        	<a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis whatcan make_listing">Make a Listing</a>
                        {% endif %}
                        <div class="clearfix"></div>
                        <span>Polly &amp; Bob connects you to your neighborhood</span>
                    </div>
                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section>
        <section id="boxes2">
            <div id="dialog21" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close1"></a></div>
                    <!-- Your custom code here -->
                    <div class="innerpopups">
                        <h4>Offer Events</h4>
                        <div class="clearfix"></div>
                        <p>You want to organize an event with neighbors?</p>
                        <div class="clearfix"></div>
                        <p class="text3">You want to invite some people for dinner?</p>
                        <div class="clearfix"></div>
                        <p  class="text1">You want to make a barbeque and invite some neighbors?</p>
                        <div class="clearfix"></div>
                        {% if app.user %}
                        	<a href="{{ path('fenchy_notice_indexv2') }}" class="whatcan">Make a Listing</a>
                        {% else %}
                        	<a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis whatcan make_listing">Make a Listing</a>
                        {% endif %}
                        <div class="clearfix"></div>
                        <span>Polly &amp; Bob connects you to your neighborhood</span>
                    </div>
                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section>
        <section id="boxes2">
            <div id="dialog22" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close1"></a></div>
                    <!-- Your custom code here -->
                    <div class="innerpopups">
                        <h4>Offer Service?</h4>
                        <div class="clearfix"></div>
                        <p class="text1">You want to earn some money on a talent, that you have?</p>
                        <div class="clearfix"></div>
                        <p class="text3">You are a babysitter and want to over your services here for money?</p>
                        <div class="clearfix"></div>
                        <p>You want to offer a paid service to neighbors?</p>
                        <div class="clearfix"></div>
                        {% if app.user %}
                        	<a href="{{ path('fenchy_notice_indexv2') }}" class="whatcan">Make a Listing</a>
                        {% else %}
                        	<a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis whatcan make_listing">Make a Listing</a>
                        {% endif %}
                        <div class="clearfix"></div>
                        <span>Polly &amp; Bob connects you to your neighborhood</span>
                    </div>
                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section>
        <section id="boxes2">
            <div id="dialog23" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close1"></a></div>
                    <!-- Your custom code here -->
                    <div class="innerpopups">
                        <h4>Offer something else?</h4>
                        <div class="clearfix"></div>
                        <p>You want to offer anything that does no fit into help, service, goods, neighbors or groups?</p>
                        <div class="clearfix"></div>
                        {% if app.user %}
                        	<a href="{{ path('fenchy_notice_indexv2') }}" class="whatcan">Make a Listing</a>
                        {% else %}
                        	<a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis whatcan make_listing">Make a Listing</a>
                        {% endif %}
                        <div class="clearfix"></div>
                        <span>Polly &amp; Bob connects you to your neighborhood</span>
                    </div>
                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section> 
    	
        <section id="boxes2">
            <div id="dialog7" class="window"> 
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close2"></a></div>
                    <!-- Your custom code here -->
                    <p>{{ 'main.we_need_your_location'|trans }}</p>
                    <div class="clearfix"></div>
                    <form name="">
                    	<input type="text" />
                    	<input type="text" />
                        <input type="button" id="save_loc_id" class="aboutpnb" value="Save" />
                    </form>
                    <br>
                    <br>
                    <br>
                    <p style="color: #51B9D4;" id="save_msg_id">{{ 'main.save_location_form_msg'|trans }}</p>
                    <div class="clearfix"></div>
                    <div class="map">
		    			<div id="map_canvas"></div>
		    		</div>
                    <div class="clearfix"></div>
                    <a href="#" class="btn_black">{{ 'main.back'|trans }}</a>
                    <!-- Your custom code end -->
                </div>
            </div>
            <div id="mask"></div>
    	</section>
    	
    	<section id="boxes2">
            <div id="dialog10" class="window"> 
			{% if not app.user %}
                {% render 'UserBundle:Registration:register' %}
            {% endif %}
            </div>
            <div id="mask"></div>
    	</section>
    	
    	
    	
    	
    	
    	
    	
<!-- 
<div id="mc_embed_signup">
<form action="http://pollyandbob.us7.list-manage1.com/subscribe/post?u=43c83103fae20f39b4d0d5878&amp;id=cfd1046153" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<a href="#" id="mc_embed_close" class="mc_embed_close">Close</a>    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>
 -->
<script type="text/javascript">
var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
try {
    var jqueryLoaded=jQuery;
    jqueryLoaded=true;
} catch(err) {
    var jqueryLoaded=false;
}
var head= document.getElementsByTagName('head')[0];
if (!jqueryLoaded) {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
    head.appendChild(script);
    if (script.readyState && script.onload!==null){
        script.onreadystatechange= function () {
              if (this.readyState == 'complete') mce_preload_check();
        }
    }
}
var script = document.createElement('script');
script.type = 'text/javascript';
script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
head.appendChild(script);
var err_style = '';
try{
    err_style = mc_custom_error_style;
} catch(e){
    err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
}
var head= document.getElementsByTagName('head')[0];
var style= document.createElement('style');
style.type= 'text/css';
if (style.styleSheet) {
  style.styleSheet.cssText = err_style;
} else {
  style.appendChild(document.createTextNode(err_style));
}
head.appendChild(style);
setTimeout('mce_preload_check();', 250);

var mce_preload_checks = 0;
function mce_preload_check(){
    if (mce_preload_checks>40) return;
    mce_preload_checks++;
    try {
        var jqueryLoaded=jQuery;
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    try {
        var validatorLoaded=jQuery("#fake-form").validate({});
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    mce_init_form();
}
function mce_init_form(){
    jQuery(document).ready( function($) {
      var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
      var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
      $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
      options = { url: 'http://pollyandbob.us7.list-manage.com/subscribe/post-json?u=43c83103fae20f39b4d0d5878&id=cfd1046153&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                    beforeSubmit: function(){
                        $('#mce_tmp_error_msg').remove();
                        $('.datefield','#mc_embed_signup').each(
                            function(){
                                var txt = 'filled';
                                var fields = new Array();
                                var i = 0;
                                $(':text', this).each(
                                    function(){
                                        fields[i] = this;
                                        i++;
                                    });
                                $(':hidden', this).each(
                                    function(){
                                        var bday = false;
                                        if (fields.length == 2){
                                            bday = true;
                                            fields[2] = {'value':1970};//trick birthdays into having years
                                        }
                                        if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                            this.value = '';
                                        } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                            this.value = '';
                                        } else {
                                            if (/\[day\]/.test(fields[0].name)){
                                                this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;
                                            } else {
                                                this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                            }
                                        }
                                    });
                            });
                        return mce_validator.form();
                    },
                    success: mce_success_cb
                };
      $('#mc-embedded-subscribe-form').ajaxForm(options);

              $('#mc_embed_signup').hide();
        cks = document.cookie.split( ';' );
        var show=true;
        for(i=0;i<cks.length;i++){
            parts = cks[i].split('=');
            if( parts[0].indexOf('MCEvilPopupClosed')!= -1 ) show = false;
        }
        if (show){
            $('#mc_embed_signup a.mc_embed_close').show();
            setTimeout( function(){ $('#mc_embed_signup').fadeIn();} , 2000);
            $('#mc_embed_signup a.mc_embed_close').click(function(){ mcEvilPopupClose();});
        }

        $(document).keydown(function(e){
            if (e == null) {
              keycode = event.keyCode;
            } else {
              keycode = e.which;
            }
            if(keycode == 27){
                mcEvilPopupClose();
            }
        });

        function mcEvilPopupClose(){
            $('#mc_embed_signup').hide();
            var now = new Date();
            var expires_date = new Date( now.getTime() + 31536000000 );
            document.cookie = 'MCEvilPopupClosed=yes;expires=' + expires_date.toGMTString()+';path=/';
        }

    });
}
function mce_success_cb(resp){
    $('#mce-success-response').hide();
    $('#mce-error-response').hide();
    if (resp.result=="success"){
        $('#mce-'+resp.result+'-response').show();
        $('#mce-'+resp.result+'-response').html(resp.msg);
        $('#mc-embedded-subscribe-form').each(function(){
            this.reset();
        });
    } else {
        var index = -1;
        var msg;
        try {
            var parts = resp.msg.split(' - ',2);
            if (parts[1]==undefined){
                msg = resp.msg;
            } else {
                i = parseInt(parts[0]);
                if (i.toString() == parts[0]){
                    index = parts[0];
                    msg = parts[1];
                } else {
                    index = -1;
                    msg = resp.msg;
                }
            }
        } catch(e){
            index = -1;
            msg = resp.msg;
        }
        try{
            if (index== -1){
                $('#mce-'+resp.result+'-response').show();
$('#mce-'+resp.result+'-response').html(msg);
            } else {
                err_id = 'mce_tmp_error_msg';
                html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';

                var input_id = '#mc_embed_signup';
                var f = $(input_id);
                if (ftypes[index]=='address'){
                    input_id = '#mce-'+fnames[index]+'-addr1';
                    f = $(input_id).parent().parent().get(0);
                } else if (ftypes[index]=='date'){
                    input_id = '#mce-'+fnames[index]+'-month';
                    f = $(input_id).parent().parent().get(0);
                } else {
                    input_id = '#mce-'+fnames[index];
                    f = $().parent(input_id).get(0);
                }
                if (f){
                    $(f).append(html);
                    $(input_id).focus();
                } else {
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);
                }
            }
        } catch(e){
            $('#mce-'+resp.result+'-response').show();
            $('#mce-'+resp.result+'-response').html(msg);
        }
    }
}

</script>
<!--End mc_embed_signup-->
    
    	
    	
    	
    	
    </body>
</html>