{# empty Twig template #}
    <section id="toplinks">
       		<div class="left">	
             <!-- <a href="{{path('fenchy_frontend_indexv2')}}"><img width="61" src="{{ absolute(asset('images/logo.png')) }}" alt="Polly&Bob"/></a>-->
{#             <a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis signup"><img width="61" src="{{ absolute(asset('images/logo.png')) }}" alt="Polly&Bob"/></a>#}
             <a href="javascript:void(0);" class="signup"><img width="61" src="{{ absolute(asset('images/logo.png')) }}" alt="Polly&Bob"/></a>
            </div>
            <div class="right">
                {% if not is_granted('ROLE_USER') %}
                <ul>
                	<li id="login"><!-- changed Id of li -->
                		<a href="#" class="login">{{'frontend.sign_in'|trans}}</a>
                		{% if not is_granted('ROLE_USER') %}
		                <div class="loginwindow">
		                    <img class="iconarrow" src="{{ asset('images/icon_arrow.png') }}" alt="" />
		                    {% render "UserBundle:Security:login" %}
		                </div>                    
            			{% endif %} 
                	</li>
{#                    <li><a href="#dialog10" name="modal" id="vzoom_1944" class="zoomthis signup">{{'frontend.sign_up'|trans}}</a></li>#}
                    <li><a href="javascript:void(0);" class="signup">{{'frontend.sign_up'|trans}}</a></li>
                </ul>
{#                 <ul id="user-account-login">                    #}
{#                     <li id="user-account-login-login">#}
{#                         <a href="#">#}
{#                             <span>{{'frontend.sign_in'|trans}}#}
{#                                 <i class="icon-caret-down"></i>#}
{#                                 <i class="icon-caret-up"></i>#}
{#                             </span>#}
{#                             <!--[if IE 8]>#}
{#                                 <div class="before"></div>#}
{#                                 <div class="after"></div>#}
{#                             <![endif]-->#}
{#                         </a>                        #}
{#                     </li>#}
{#                     <li id="user-account-login-signup">#}
{#                         <a href="#"><span>{{'frontend.sign_up'|trans}}</span></a>#}
{#                     </li>#}
{#                 </ul>#}
                {% else %}
                    {% render 'UserBundle:Widgets:userPanel' %}
                    
                {% endif %}
{#                 <aside>#}
{#                     <div class="button green-button create-listing">#}
{#                         <a href="{{path('fenchy_regular_user_notice_create1')}}" class="wrapper">#}
{#                             <i class="icon-list-alt"></i>#}
{#                             <strong>{{'frontend.create_listing'|trans}}</strong>#}
{#                         </a>#}
{#                     </div>#}
{#                 </aside>                #}
            </div>
                    
                    
                
        
        <!--[if IE 8]>
            <div class="after"></div>
        <![endif]-->
    </section>
    <div class="clearfix"></div>
    <!-- main -->
