{% extends '::baseV3.html.twig' %}
{% form_theme form '::labelForm.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link rel="stylesheet" href="{{ asset('css/app/sidebar-v2.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/jWindowCrop.js') }}"></script>
    <script type="text/javascript">
            $(document).ready(function() {
		
		    $('.crop_me3').jWindowCrop({
				targetWidth: 970, //Width of facebook cover division
				targetHeight: 326, //Height of cover division
				loadingText: '',
				onChange: function(result) {
					var strcropX = $(this).css('left');
					var strcropY = $(this).css('top');
					strcropX = strcropX.replace(/px/g, '');
					strcropX = strcropX.replace(/-/g, '');
					strcropY = strcropY.replace(/px/g, '');
					strcropY = strcropY.replace(/-/g, '');
				}
			});
			
		    $('.placeholder').find('.jwc_controls').empty();
	      
		});
   </script> 
{% endblock %}
{% block content %}
<section class="main content-rtl">
    <div id="main-container" class="wrapper-inner-content">
        <div class="clearfix">            
            {% block settings_content %}{% endblock %}            
        </div>
    </div>    
</section>
        
{% endblock %}


{% block galleryContainer %}
    <div id="gallery-edit-container" class="file-uploader"></div>
    
    <div style="display:none">
        <div id="crop-area">
            <img src="" id="target" alt="" />
            <table class="buttons-panel">
                <tbody>
                    <tr>
                        <td><button id="crop-cancel" class="button gray">{{ 'btn.cancel'|trans }}</button></td>
                        <td><button id="crop-submit" class="button green">{{ 'btn.ok'|trans }}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}
