 <script type="text/javascript"> 
	 $(document).ready(function() {	
	     $("#offerprice").keydown(function(event) {
	         if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
	            	return;
	         } else {
	             if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
	                 event.preventDefault();
	             }
	         }
	     });
	     $("#pieces").keydown(function(event) {
	         if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
	            	return;
	         } else {
	             if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
	                 event.preventDefault();
	             }
	         }
	     });
	 }); 
	 
		function sendRequest()
		{
			var id = {{ notice.id }};
			var request_text = $('#requestdata').val();
			var item = $('#pieces').val();			
			var price = $('#price').val();
			var total = $('#total').val();
			var currency = $('#cur option:selected').text();
			var free = $('#freebox').is(':checked');
			var offerprice = $('#offerprice').val();
			var noticetype = '{{ notice.type }}';
			//alert(request_text);
			
			var itemAvailableDisplay = $('#itemAvailable').css('display');
			var display = $('#proposeprice').css('display');
			var flag = true;
			if(itemAvailableDisplay == 'block')
			{				
				var item = parseInt($('#pieces').val(), 10);				
				var ava_item = parseInt($('#hiddentext').val(), 10);				
				if(item <= 0 )
				{
					alert('ENTER MORE THAN ONE');
					flag = false;
				}
			}	
			
			
			if(display == 'block')
			{
				if($('#freebox').is(':checked') && $('#offerprice').val()!="" )
				{
					alert('Give price or select the free.');
					flag = false;
				}
				if(!$('#freebox').is(':checked') && $('#offerprice').val() =="" )
				{
					alert('Give price or select the free.');
					flag = false;
				}
				if(!$('#freebox').is(':checked') && $('#offerprice').val() !="" )
				{
					if(currency == 'CURRENCY')
					{
						alert('Select currency');
						flag = false;
					}
				}
				if(noticetype ==  'service')
				{
					if(!$('#default_settings').is(':checked'))
					{
						alert('Check default payment settings');
						flag = false;
					}
				}
			}
			if($('#requestdata').val() == "" || $('#requestdata').val() == '*REQUIRED')
			{
				$('#requestdata').val('*REQUIRED');
				flag = false;
			}
			if(flag)
			{
				var url = "{{path('fenchy_notice_send_reueqst')}}";
				$.ajax({
					url : url,
					type : "post",
					data : {
						'noticeId': {{ notice.id }},					
						'request_text': request_text,
						'item': item,
						'price': price,
						'total': total,
						'currency': currency,
						'free': free,
						'offerprice': offerprice,										
						},
					beforeSend : function() {
						
					},
					success : function(response) {
						//alert('Your request send');
						$('#RequestSend').click();
						$('#dialog42').hide();
					},
					error : function() {
						alert('Something went wrong!');
					},
					complete : function() {
						$('#requestdata').val('');
						$('#pieces').val('0');
						var price = "{{ notice.price }}";
						$('#price').val(price);
						$('#total').val('0');
						$('#cur option:selected').text('');
						$('#freebox').prop('checked', false);
						//$('#freebox').attr('checked' : false);
						$('#default_settings').prop('checked' , false);
						$('#offerprice').val('');
						//setTimeout(function(){ location.reload(); }, 100);
					}
				}); 
			}				
		}
		$(function(){
			  $('#freebox').click(function(){
					var item = parseInt($('#pieces').val(), 10);
					var price1 = '{{ notice.price }}'; 
				  	if($('#freebox').is(':checked'))
				  	{
					  	$('#price').val(0);	
					  	$('#offerprice').val(0);
						$('#total').val(item * parseInt($('#price').val(), 10));	
				  	}
				  	else
				  	{
				  		$('#price').val(price1);
				  		$('#total').val(item * parseInt($('#price').val(), 10));  
				  	}
			  });
		});
		$('#freebox').is(':checked');
		$(function(){
			  $('.zoomthis').click(function(){
			    
			    $('#proposeprice').hide();
			    var text = $(this).text();
			    if(text== 'Propose a price' || text== 'Propose a time and price')
			    {
				    $('#proposeprice').show();
			    }
			  });
			});
		$(function(){
			  $('#pieces').blur(function(){
				var item = parseInt($('#pieces').val(), 10);
				var price = parseInt($('#price').val(), 10);
				var ava_item = parseInt($('#hiddentext').val(), 10);
				
				if(item > ava_item)
				{
					$('#pieces').val(0);
					alert("ONLY " + ava_item + " AVAILABLE");
					$('#total').val(parseInt($('#pieces').val(), 10) * price);
				}
				else
					$('#total').val(parseInt($('#pieces').val(), 10) *price);								   
			  });
			});
		$(function(){
			  $('#offerprice').blur(function(){
				var item = parseInt($('#pieces').val(), 10);
				var price = $('#offerprice').val();
				var price1 = '{{ notice.price }}'; 
				if(price=="")
					$('#price').val(price1);
				else
					$('#price').val(price);	
				$('#total').val(item * parseInt($('#price').val(), 10));											   
			  });
			});
		function sendMsg()
		{
			var flag = true;
			var title = $('#MsgTitle').val();
			var content = $('#MsgContent').val();			
			
			if(title == "" || content == "")
			{
				flag = false;
				$('#MsgTitle').attr('placeholder', 'required*');
				$('#MsgContent').attr('placeholder', 'required*');
			}
			var receiver = "{{ notice.user.id }}";
			if(flag)
			{
				var url = "{{path('fenchy_regular_user_sendmsgform')}}";
				$.ajax({
					url : url,
					type : "post",
					data : {
						'receiverId': receiver,				
						'title': title,
						'content': content,										
						},
					beforeSend : function() {
						
					},
					success : function(response) {
						$('#dialog44').hide();
						$('#successDialog').click();
					},
					error : function() {
						alert('Something went wrong!');
					},
					complete : function() {
						$('#MsgTitle').val('');
						$('#MsgContent').val('');					
					}
				}); 
			}		
		}
</script>
{# empty Twig template #}
<style>
.rightparts .profile .person img {
    height: 152px;
    width: 152px;
}
</style>
<div class="rightparts">
	<div class="right" >
  	  	<div class="options">
  	  	{% if notice.type != "neighbours" and notice.type != "groups" and notice.type != "offergroups" %}
	    	{% set price = notice.price %}
	    	{% if (price|length) > 0 %}
	    		<h4>{{ price }} {% if notice.currency !="currency" %} {{ notice.currency |trans }}{% else %} {{ 'euro'|trans }} {% endif %} 
	    		{% if notice.type == 'offerevents' %}
    				{{ 'notice.perspot' | trans }}
    			{% elseif notice.type == 'offerservice' %}
    				{{ 'notice.perhour' | trans }}
    			{% elseif notice.type == 'offergoods' %}
    				{{ 'notice.perpiece' | trans }}
    			{% endif %}
    			</h4>
    		{% elseif notice.type.priceAvailable %}
    			<h4> Free </h4>    			
    		{% endif %}
    	{% endif %}
    		<div class="optionsdetail">
                {% for value in notice.values %}
                	{% set options = value.valueAsString | split('^') %}
                	{% for option in options %}
						{% if option %}
							{% if app.user.id is defined and app.user.id != displayUser.id and (option != "need" and option != "offer")%}
								{% if notice.completed %}
									<a href="#dialog43" name="modal" id="vzoom_1944" class="zoomthis blue-button">{{ option|trans }}{%  if option == "contact_me" %}&nbsp;{{ displayUser.name }}!{% endif %}</a>
								{% else %}
    								<a href="#dialog42" name="modal" id="vzoom_1944" class="zoomthis blue-button">{{ option|trans }}{%  if option == "contact_me" %}&nbsp;{{ displayUser.name }}!{% endif %}</a>
    							{% endif %}
                			{% elseif (option != "need" and option != "offer")%}
    							<a href="#dialog43" name="modal" id="vzoom_1944" class="zoomthis blue-button">{{ option|trans }}{%  if option == "contact_me" %}&nbsp;{{ displayUser.name }}!{% endif %}</a>
    						{% endif %}
    					{% endif %}
    				{% endfor %}
    			{% endfor %}
            </div>
            <div class="clearfix"></div>
            {% if notice.type != "neighbours" and notice.type != "groups" and notice.type != "offergroups" %}
    		<h2>
	    		{% if notice.startDate %}
	    			{{ 'regularuser.message.date'|trans }} {{ notice.startDate|date('d.m.Y')}}
	    				
	    		{% endif %}
	    		{% if notice.endDate %}
	    			{% if date(notice.endDate) != date(notice.startDate) %}
	    				{{ 'regularuser.message.to'|trans }} {{ notice.endDate|date('d.m.Y')}}
	    			{% endif %}
	    		{% endif %}<br>
	    		{% if notice.startTime %}
					{{ 'regularuser.message.from'|trans }} {{ notice.startTime|date('H:m') }}
	    		{% endif %}
	    		{% if notice.endTime %}
	    			{{ 'regularuser.message.to'|trans }} {{ notice.endTime|date('H:m') }}
	    		{% endif %}
	    		
	    	</h2>
	    	<h2>
	    		{% if not notice.startDate %}
	    			{{ 'listing.create.date_arrange'|trans }}
	    		{% endif %}
	    	</h2>
	    	
	    	<h2>
	    		{% if not notice.startTime %}
	    			{{ 'listing.create.start_time_arrange'|trans }}
	    		{% endif %}
	    	</h2>
    		{% if notice.locationArrange %}
    			<h2>{{ 'listing.create.location_arrange'|trans }}</h2>
    		{% else %}
    			<h2>{{ notice.location }}</h2>
    		{% endif %}
    	{% endif %}	
    	</div>
    	<div class="options">
    		<h4>{{ displayUser.name }}</h4>
    		<div class="profile">        	
        		<div class="person">
        		{% if app.user %}
        		<a href="{{ path('fenchy_regular_user_user_otherprofile_aboutotherchoice',{'userId': displayUser.id}) }}">
            		{% render "FenchyNoticeBundle:GlobalFilter:generateCode" with { 'userId': displayUser.id } %}
            	</a>
            	{% else %}
            	<a href="javascript:void(0);">
            		{% render "FenchyNoticeBundle:GlobalFilter:generateCode" with { 'userId': displayUser.id } %}
            	</a>
            	{% endif %}	
            			<div class="neighbor {{ managerType[2] }}">
							<p>{{ managerType[1] }}</p>
							<span>{{ displayUser.activity }}</span>
					</div>               
            	</div>
            </div>
            <h2>{{displayUser.regularuser.aboutMe|truncate(200)}}</h2>
            {% if app.user.id is defined and app.user.id != displayUser.id %}
              	<div class="optionsdetail">              	
              	<a href="#dialog44" class="zoomthis blue_button" name="modal" id="vzoom_1944" style="margin-left: 70px;">                                            
               		{{ 'btn.send_message' | trans }}
            	</a></div>
        	{% endif %}            
		</div>		
		{% render "FenchyNoticeBundle:Widgets:userListings" with {'notice_id' : notice.id} %}
		{% render "FenchyNoticeBundle:Widgets:similarListings" with {'notice_id' : notice.id} %}
		
    </div>
</div>
<section id="boxes2">
	<div id="dialog42" class="window">
	   	<div class="big_popup">
	      	<div class="big_popupclose"><a href="" class="close"></a></div>
	      	
		    <form action="" method="post">
		    <div id="requestDiv">
		    	<h3>{{ 'request.msg1'|trans }}</h3>
		    	<h2>{{ 'request.msg2'|trans }} {{ displayUser.name }}</h2>	    	
    			
    			{% if notice.pieces >1 or notice.spot >1 %}
    			<div id="itemAvailable">
    			<p>     			
	    			{% if notice.type == "offerservice" %}
	    				<input type="text" id="pieces" placeholder="{{ 'listing.create.hour'|trans|upper }}"></input>  X
    				{% elseif notice.type == "offergoods" %}
    					{{ notice.pieces }} {{ 'listing.create.pieces'|trans|upper }} {{ 'request.left'|trans|upper }} {{ 'request.how_many'|trans|upper }}<br><br>
    					<input type="hidden" id="hiddentext" value="{{ notice.pieces }}"/>
    					<input type="text" id="pieces" placeholder="{{ 'listing.create.pieces'|trans|upper }}"></input>  X
    				{% elseif notice.type == "offerevents" %}
    					{{ notice.spot }} {{ 'listing.create.spot'|trans|upper }} {{ 'request.left'|trans|upper }} {{ 'request.how_many'|trans|upper }}<br><br>
    					<input type="hidden" id="hiddentext" value="{{ notice.spot }}"/>
						<input type="text" id="pieces" placeholder="{{ 'listing.create.spot'|trans|upper }}"></input>  X
    				{% endif %}    				
    				<input type="text" id="price" value="{{ notice.price }}" readonly="readonly"></input> =
    				<input type="text" id="total" placeholder="{{ 'listing.create.total'|trans|upper }}" readonly="true"></input>    				
    			</p>
    			</div>
    			{% endif %}
    			
    			<div id="proposeprice">
    			<p>
    				{{ 'request.price_propose'|trans }}
    				<br><br>    				
    				{% if notice.type == "offerservice" or notice.type == "service" %}
    					<input id="offerprice" type="text" placeholder="{{ 'listing.create.price_hour'|trans|upper }}"/>
    				{% elseif notice.type == "offergoods" %}
    					<input id="offerprice" type="text" placeholder="{{ 'listing.create.price_piece'|trans|upper }}"/>
    				{% elseif notice.type == "offerevents" %}
    					<input id="offerprice" type="text" placeholder="{{ 'listing.create.price_spot'|trans|upper }}"/>
    				{% endif %}
    				
    				<select id="cur">
    					<option>CURRENCY</option>
    					<option>EURO</option>
    					<option>DOLLAR</option>
    					
    				</select>
    				<input type="checkbox" value="free" id="freebox"> FREE
    				<br><br>
    				{% if notice.type == "service" %}
    				<input type="checkbox" value="payment_settings" id="default_settings">&nbsp;USE DEFAULT PAYMENT SETTINGS
    				<br><br>
    				<a href="{{ path('fenchy_regular_user_settings_payment') }}" class="blue_button">{{ 'listing.create.learn_more'|trans }} </a>
    				<br><br>
    				{% endif %}
    			</p>
    			</div>
    			
    			<p> {{ 'request.message_to_user'|trans|upper }} {{ displayUser.name }}<br>
    				<input type="text" id="requestdata" style="width: -moz-available" placeholder="Request Message"/>
    			</p>
			    <a class="blue-btn" style="padding-top: 8px; height: 21px;" href="{{path('fenchy_notice_indexv2')}}">
			    	{{ 'request.return_to_listing'|trans }}
			  	</a>
				<input class="blue-btn" type="button" id="continue" value="{{ 'request.send'|trans }}" onclick="sendRequest();"/>
				</div>
			</form>
		</div>
		<img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width: 100%;" />
	</div>
	<div id="mask"></div>
</section>
<section id="boxes2">
	<div id="dialog43" class="window">
	   	<div class="big_popup">
	      	<div class="big_popupclose"><a href="" class="close"></a></div>
	      	{% if app.user.id is defined and app.user.id != displayUser.id %}
	      		{% if notice.completed %}
	      			<div id="requestDiv">
		    			<p>{{'request.sorry_msg'|trans }}
				      		{% if notice.type == "offerevents" %}
				      				{{ 'notice.spot'|trans }}
				      		{% else %}
				      				{{ 'notice.piece'|trans }}
				      		{% endif %}
	      				</p>  			
   					</div>
	      		{% endif %}
	      	{% endif %}
			{% if app.user.id is defined and app.user.id == displayUser.id%}
		    	<div id="requestDiv">
		    		<p>{{ 'request.your_list'|trans }}</p>  			
   				</div>
   			{% endif %}
   			{% if app.user.id is not defined %}
   				<div id="requestDiv">
		    		<p>{{ 'request.login_require'|trans }}</p>  			
   				</div>
   			{% endif %}			
		</div>
		<img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="top: 69px; width: 100%;">
	</div>
	<div id="mask"></div>
</section>
<a id="successDialog" href="#dialog45" class="zoomthis blue_button" name="modal" id="vzoom_1944" style="display: none;">
<section id="boxes2">
	<div id="dialog44" class="window">
	   	<div class="big_popup">
	      	<div class="big_popupclose"><a href="" class="close"></a></div>
				<p>{{ 'regularuser.write_msg_to'|trans }} {{ notice.user.name }} about {{ notice.title }}</p>
					<input type="text" id="MsgTitle" placeholder="{{ 'message.title'|trans }}"/>
					<textarea id="MsgContent" placeholder="{{ 'message.content'|trans }}"></textarea>
				<input class="blue_button" style="margin-bottom: 10px; margin-left: -71px; margin-top: 130px;" type="button" id="continue" value="{{ 'btn.send'|trans }}" onclick="sendMsg();"/>
		</div>
		<img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width:100%">
	</div>
	<div id="mask"></div>
</section>

<section id="boxes2">
	<div id="dialog45" class="window">
	   	<div class="big_popup">
	      	<div class="big_popupclose"><a href="" class="close"></a></div>
			<div id="messageForm">
				<p>{{ 'regularuser.msg_send'|trans }}</p>
			</div>
		</div>
		<img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width: 100%; bottom: -9px;">
	</div>
	<div id="mask"></div>
</section>

<a id="RequestSend" href="#dialog49" class="zoomthis blue_button" name="modal" id="vzoom_1944" style="display: none;">
<section id="boxes2">
	<div id="dialog49" class="window">
	   	<div class="big_popup">
	      	<div class="big_popupclose"><a href="" class="close"></a></div>
			<div id="messageForm">
				<p>{{ 'request.msg1'|trans }}</p>
			</div>
		</div>
		<img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width: 100%; bottom: -9px;">
	</div>
	<div id="mask"></div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('#static-calendar').datepicker({
            beforeShowDay : function (date) {

                var listingStarts = new Date('{{ notice.startDate|date('Y-m-d') }}');
                listingStarts.setHours(0);
                listingStarts.setMinutes(0);
                listingStarts.setSeconds(0);
                listingStarts.setMilliseconds(0);
                var listingEnds = new Date('{{ notice.endDate|date('Y-m-d') }}');
                listingEnds.setHours(23);
                listingEnds.setMinutes(59);
                listingEnds.setSeconds(59);
                listingEnds.setMilliseconds(99);
                if (date - listingStarts >= 0 && listingEnds - date > 0) {
                    return [true, 'highlight'];
                }

                return [true, ''];
             },
             defaultDate : ''
        });
        
    });
</script>
