{% extends 'FenchyAdminBundle::layout.html.twig' %}
{% form_theme filter '::filterForm.html.twig' %}
{% block admincontent %}

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
                    <td align="center">
                        <form action="{{ path('fenchy_admin_notices') }}" method="post" {{ form_enctype(filter) }}>
                        <table width="100%" border="1" cellspacing="0" cellpadding="0" class="searchuser">
                        <tr>
                            <td width="85">{{ form_label(filter.reported_only) }}:</td>
                            <td width="35">{{ form_widget(filter.reported_only) }}</td>
                            <td width="70">{{ form_label(filter.title) }}:</td>
                            <td width="150">{{ form_widget(filter.title) }}</td>
                            <td width="70">{{ form_label(filter.type) }}:</td>
                            <td width="150">{{ form_widget(filter.type) }}</td>
                            <td width="60">{{ form_label(filter.sort) }}</td>
                            <td width="130">{{ form_widget(filter.sort) }}</td>
                            <td width="90">{{ form_label(filter.order) }}</td>
                            <td width="110">{{ form_widget(filter.order) }}</td>
                            <td width="100"><input type="submit" value="Search" class="searchoptions"/></td>
                            <td>&nbsp;</td>
                            {{ form_rest(filter) }}
                      </tr>
                      </table>
                      </form>
                    </td>
              </tr>
        </table>
   
    <div class="clearfix"></div>
    <div class="sTableWrapper">
    <table class="sTable" id="userlist" cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="head0" width="5%" align="center">ID</th>
                <th class="head1" width="20%">Title</th>
                <th class="head0" width="5%">Type</th>
                <th class="head1" width="20%">Created at</th>
                <th class="head1" width="20%">Owner</th>
                <th class="head0" width="5%">Flags</th>
                <th class="head1" width="7%">On dashboard</th>
                <th class="head0" width="20%">actions</th>
            </tr>
        </thead>
        <tbody>
            {% for notice in pagination %}
                <tr class="has-subrow">
                    <td class="con0" width="5%" align="center">{{ notice.id }}</td>
                    <td class="con1" width="20%">{{ notice.title }}</td>
                    <td class="con0" width="5%">{{ notice.type.name }}</td>
                    <td class="con1" width="20%">{{ notice.createdAt|date('Y-m-d H:i') }}</td>
                    <td class="con0" width="20%"><a href="{{ url('fenchy_admin_user', {id: notice.user.id}) }}" style="color:black">{{ notice.user }}</a></td>
                    <td class="con1" width="5%">{{ notice.stickers.count }}</td>
                    <td class="con0" width="7%">{% if notice.onDashboard %}Yes{% else %}No{% endif %}</td>
                    <td class="con1" width="20%">
                        <!--<a href="{{ url('fenchy_admin_notice', {id: notice.id}) }}" style="color:black">Edit</a> |-->
                        {% if not notice.onDashboard %}
                        <a href="{{ url('fenchy_admin_notice_add_to_dashboard', {id: notice.id}) }}" style="color:black" class="confirm">Dashboard-Add</a>
                        {% else %}
                        <a href="{{ url('fenchy_admin_notice_remove_from_dashboard', {id: notice.id}) }}" style="color:black" class="confirm">Dashboard-Remove</a>
                        {% endif %}
                        <br> <a href="{{ url('fenchy_admin_notice_delete', {id : notice.id}) }}" onclick="return confirm('Are you sure you want to delete this Listing?');" style="color:black">Delete</a>
                    </td>
                </tr>
                <tr class="subrow displayNone">
                    <td>&nbsp;</td>
                    <td colspan="8">
                        <table>
                            <tbody>
                                <tr class="has-subrow"><td>Details</td></tr>
                                <tr class="subrow displayNone">
                                    <td>
                                        <table>
                                            <tr>
                                                <td>Content:</td>
                                                <td>{{ notice.content }}</td>
                                            </tr>
                                            <tr>
                                                <td>Location:</td>
                                                <td>{{ notice.location }}</td>
                                            </tr>
                                            <tr>
                                                <td>Values:</td>
                                                <td>                                                    
                                                        {% for value in notice.values %}
                                                            {% set options = value.valueAsString | split('^') %}
                                                                {% for option in options %}
                                                                    | {{ option|trans }}
                                                                {%endfor%}
                                                        {%endfor%}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="has-subrow"><td>Flags</td></tr>
                                <tr class="subrow displayNone">
                                    <td>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="head0" width="20%">Reporter</th>
                                                    <th class="head1" width="20%">Reasons</th>                                                    
                                                    <th class="head0" width="20%">Created at</th>
                                                    <th class="head1" width="20%">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for sticker in notice.stickers %}
                                                    <tr>
                                                        <td class="con0" width="20%">{{ sticker.reportedBy }}</td>
                                                        <td class="con1" width="20%"><ul class="reasons">
                                                            {% for reason in sticker.reason %}
                                                                <li>{{ sticker.reasonName(reason)|trans }}</li>
                                                            {% endfor %}
                                                        </ul></td>                                                        
                                                        <td class="con0" width="20%">{{ sticker.createdAt|date('y-m-d H:i') }}</td>
                                                        <td class="con1" width="20%">
                                                            <a href="{{ url('fenchy_admin_flag_delete', {id : sticker.id, type : 'notice'}) }}" onclick="return confirm('Are you sure you want to delete this Flag?');" style="color:black">Delete</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
         </div>
        <div class="sTableOptions">
            <div class="pagination pgright">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
   
{% endblock %}
    