<style>
nav li a.selected b {
    color: white;
}
</style>
<nav>
	<ul>
	   	<li><a {% if link == 'fenchy_regular_user_user_groupprofile_creategroup' or link == 'fenchy_regular_user_user_groupprofile_groupinfo' %} class="selected"" {% endif %} href="{{ path('fenchy_regular_user_user_groupprofile_groupinfo', {'groupId': groupId}) }}" >{{ 'regularuser.group_info' |trans|upper}}</a></li>
        <li><a {% if link == 'fenchy_regular_user_user_groupprofile_grouplistingsreviews' %} class="paddingset selected" {% else %}class="paddingset {{ link }}" {% endif %} href="{{ path('fenchy_regular_user_user_groupprofile_grouplistingsreviews',{ 'groupId': groupId }) }}">{{ 'regularuser.listing_reviews'|trans }}</a></li>
        <li><a {% if link == 'fenchy_regular_user_user_groupprofile_groupmembers' %} class="paddingset selected" {% else %}class="paddingset {{ link }}" {% endif %} href="{{ path('fenchy_regular_user_user_groupprofile_groupmembers', {'groupId': groupId}) }}">{{ 'otherprofile.members'|trans }} {{ 1+groupmembers|length }}<br><span>{{ 'regularuser.neighbours'|trans }} {{ mutualNeighbors|length }}</span></a></li>
        {% if(usergroup.user.id == app.user.id) %}
        <li><a {% if link == 'fenchy_regular_user_user_groupprofile_groupsettings' %} class="paddingset_groupsetting selected"{% else %}class="paddingset_groupsetting" {% endif %} href="{{ path('fenchy_regular_user_user_groupprofile_groupsettings', {'groupId': groupId}) }}">{{ 'regularuser.group_settings' |trans|upper}}</a></li>
        <li>
        <a {% if link == 'fenchy_regular_user_groupprofile_grouppayment' %} class="selected" {% endif %} href="{{ path('fenchy_regular_user_groupprofile_grouppayment',{ 'groupId': groupId }) }}">{{ 'settings.account.payment'|trans }}</a>
        </li>
        {% endif %}
        {% if(usergroup.user.id == app.user.id or adminmember == 1) %}
        <li><a {% if link == 'fenchy_regular_user_user_groupprofile_groupnotifications' %} class="selected" {% endif %} href="{{ path('fenchy_regular_user_user_groupprofile_groupnotifications',{'groupId': groupId }) }}">Notifications</a></li>
        <li class="nomargin"><a {% if link == 'fenchy_regular_user_user_groupprofile_groupmessages' %} class="selected" {% endif %} href="{{ path('fenchy_regular_user_user_groupprofile_groupmessages', {'groupId': groupId}) }}"><b>{{ messages|length }}</b> {{ 'regularuser.group_messages'|trans }}</a></li>
        {% endif %}
    </ul>
</nav>