<style> 
        .createlinks 
        {
            display:none;
        }
        #group-profile input[type="text"],form select
        {	
            
            color: #333333;
            font-family: code_boldregular;
            font-size: 12px;
            
            letter-spacing: 1px;
            margin-bottom: 10px;
            
            
        }
        #form_file 
        {
            display: none;
        }
        #form_file2 {
            display: none;
        }
        .profileandcover_image .blue_button {
            margin-left: 60px !important;
            padding: 2px 5px 1px !important;
        }
        .profile .persenname a {
            color: #FFFFFF;
            font-size: 11px;
            position: relative;
            top: 7px;
        }
        #placeholder {
            display: block;
            height: 123px;
            width: 455px;
            margin: 0 auto;
            position: relative;
            padding: 0 0 81px;
            top: 20px;
        }
        .placeholder {
            display: block;
            height: 262px;
            width: 970px;
            margin: 0 auto;
            position: relative;
        }
        .placeholder .crop_me2 {
            pointer-events: none !important;
        }
        .crop_me
        {
            display: block !important;
        }
        #placeholder img {
            margin: auto;
            display: block;
            height: auto;
            position: absolute;
            width: 100%;
        }

        #placeholder .jwc_frame
        {
            cursor: move !important;
        }
        .jwc_controls .dragger {
            background: url("{{ asset('images/drag.png') }}") no-repeat scroll 9px 8px rgba(84, 97, 133, 0.4);
            border-radius: 2px 2px 2px 2px;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12) inset;
            color: #FFFFFF;
            display: inline;
            font-family: mathletebulky;
            font-size: 17px;
            padding: 4px 9px 6px 24px;
            letter-spacing: 1px;
        }
        ._6_f {
            max-width: 275px;
            display: inline-block;
        }
        ._8_2 {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 24px;
            line-height: 30px;
            font-weight: bold;
            display: inline-block;
            padding-right: 30px;
        }
        ._8_2, .alternate {
            color: #FFF;
            text-rendering: optimizelegibility;
            text-shadow: 0 0 3px rgba(0,0,0,0.8);
        }
        .alternate {
            font-size: 20px;
            font-weight: normal;
            white-space: nowrap;
            color: #fff;
        }
        {%  if '_' not in coverpath %}
        .groupnoti_block .mylistingcount
        {
               top:481px !important;
        }
        {% endif %}
</style> 
{% block stylesheets %}    
    <link rel="stylesheet" href="{{ asset('js/fancybox/jquery.fancybox-1.3.4.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('plugins/tapmodo-Jcrop-1902fbc/css/jquery.Jcrop.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('plugins/aehlke-tag/css/jquery.tagit.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('plugins/aehlke-tag/css/tagit.ui-zendesk.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('plugins/jquery-ui-1.9.1.custom/css/custom-theme/jquery-ui-1.9.1.fenchy.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/app/settings-v2.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/app/main-container-v2.css') }}" type="text/css" />    
    <link rel="stylesheet" href="{{ asset('css/gallery/punkave/galleryEdit-V2.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/gallery/punkave/editSmall.css') }}" type="text/css" />
{% endblock %}
        
{% block javascripts %}    
    <script type="text/javascript" src="{{ asset('js/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/gallery/punkave/FileUploaderSmall.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fancybox/jquery.fancybox-1.3.4.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/tapmodo-Jcrop-1902fbc/js/jquery.Jcrop.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/gallery/punkave/editSmall.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/aehlke-tag/js/tag-it.js') }}"></script>
    <script type="text/javascript">
        
     window.onload=function(){
         
         $('.crop_me').jWindowCrop({
				targetWidth: 455, //Width of facebook cover division
				targetHeight: 152, //Height of cover division
				loadingText: '',
				onChange: function(result) {
					var strcropX = $(this).css('left');
					var strcropY = $(this).css('top');
					strcropX = strcropX.replace(/px/g, '');
					strcropX = strcropX.replace(/-/g, '');
					strcropY = strcropY.replace(/px/g, '');
					strcropY = strcropY.replace(/-/g, '');	
					$('#form_cropX').val(strcropX);
					$('#form_cropY').val(strcropY);
					/*console.log("separation from left- "+result.cropX);
					console.log("separation from left- "+result.cropY);
					console.log("width- "+result.cropW-455);
					console.log("Height- "+result.cropH-123);*/
				}
			});
                     $('.crop_me').css('left',{{ cropX }}+'px');
		    $('.crop_me').css('top',-{{ cropY }}+'px');   
                        
                        
		    Test = {
		        UpdatePreview: function(obj){
                            var f = obj.files[0];
                            // Only process image files.
                            if (!f.type.match('image.*')) {
                                alert('{{ 'regularuser.alert_for_wrong_file'|trans}}');
                                return;
                            } 
		          // if IE < 10 doesn't support FileReader
		          if(!window.FileReader){
		             // don't know how to proceed to assign src to image tag
		          } else {
		             var reader = new FileReader();
		             var target = null;
		             
		             reader.onload = function(e) {
		              target =  e.target || e.srcElement;
		               $("img.form_file").prop("src", target.result);
		             };
		              reader.readAsDataURL(obj.files[0]);
		          }
		        }
		    };

		    Test2 = {
			        UpdatePreview: function(obj){
                                    var f = obj.files[0];
                                    // Only process image files.
                                    if (!f.type.match('image.*')) {
                                        alert('{{ 'regularuser.alert_for_wrong_file'|trans}}');
                                        return;
                                    } 
			          // if IE < 10 doesn't support FileReader
			          if(!window.FileReader){
			             // don't know how to proceed to assign src to image tag
			          } else {
			             var reader = new FileReader();
			             var target = null;
			             
			             reader.onload = function(e) {
			              target =  e.target || e.srcElement;
			               $("img.form_file2").prop("src", target.result);
			             };
			              reader.readAsDataURL(obj.files[0]);
			          }
			        }
			    };
		    
		    $('#form_file').change(function(){ 
		    	Test.UpdatePreview(this);
		    });
		    $('#form_file2').change(function(){ 
		    	Test2.UpdatePreview(this);
		    });

		    $("#FormFileBrowse1").click(function(){
		    	   $("#form_file").click();
		    });

		    $("#FormFileBrowse2").click(function(){
		    	   $("#form_file2").click();
		    });
                    
                    $('.crop_me2').attr('src', '{{ absolute(asset(coverpath)) }}').load(function() {  
                    //alert('Image Loaded');  
                    });
		    
			
		    $('.crop_me2').jWindowCrop({
				targetWidth: 970, //Width of facebook cover division
				targetHeight: 325, //Height of cover division
				loadingText: ''
			});
                        
                    var vcropY = 0;
                    {% if cropY %}
                    vcropY = {{ cropY }};
                    {% endif %}
                    
		    var newCropY = 2.13 * vcropY;
                    newCropY = Math.ceil(newCropY);
                    //alert(newCropY);
		    $('.crop_me2').css('left',{{ cropX }}+'px');
		    $('.crop_me2').css('top',-newCropY+'px');
		    
                    $('#form_cropX').val({{ cropX }});
                    $('#form_cropY').val({{ cropY }});  
		    $('.placeholder').find('.jwc_controls').empty();
		    

		};
    </script>
{% endblock %}


{% block content %}

	<div class="profile {%  if '_' in coverpath %}group{% endif %}">
				
                                {% if usergroup.managergroup == '' %}
                                <div class="open-close">
					{% if usergroup.status == 1 %}
					{{ 'regularuser.open'|trans|upper }}
					{% elseif usergroup.status == 2 %}
					{{ 'regularuser.closed'|trans|upper }}
					{% endif %}
				</div>
                                {% else %}
                                <div class="manager_group_{{ usergroup.managergroup }}">
					{% if usergroup.managergroup == 'C' %}
					{{ 'listing.community_group_status'|trans|upper }}
					{% elseif usergroup.managergroup == 'N' %}
					{{ 'listing.neighborhood_group_status'|trans|upper }}
					{% endif %}
				</div>    
				{% endif %}
				<div class="profile_bak" >
				    <div {%  if '_' in coverpath %}class="placeholder"{% endif %}>
					{%  if '_' in coverpath %}
						<img alt="" class="crop_me2" width="970" src="">
					{% else %}
						<img alt="" src="{{ absolute(asset('images/bg_profileheader.png')) }}">
					{% endif %}
				    </div>
				</div>
				
                <div class="left">
                    <div class="persen">
                    {%  if profilepath %}
			<img alt="" width="162" height="162" src="{{ absolute(asset(profilepath)) }}">
                    {% else %}
                        <img alt="" src="{{ absolute(asset('images/default_profile_picture.png')) }}">
                    {% endif %}
                        {% if usergroup.user.id == app.user.id %}
                    	<div class="persenname">
                            <a href="#dialog36" name="modal" id="vzoom_1944" class="zoomthis">{{ 'regularuser.edit'|trans }}</a>
			</div>
                        {% endif%}
                    </div>
                    <div class="clearfix"></div>
                    
                    <div class="about-details" align="center">
                    	<span>
                        {% if (usergroup.managergroup == '') %}
                            {{ usergroup.groupname }}
                        </span><br>
                        <span>{% set varStack = usergroup.location | split(',') %}
                    	{{ varStack[0] }}</span>
                        {% elseif usergroup.managergroup == 'C' %}
                            {{ 'listing.community_group_status'|trans|upper }}    
                                </span><br>
                        <span>Germany</span>
                        {% elseif usergroup.managergroup == 'N' %}
                            {{ 'listing.neighborhood_group_status'|trans|upper }}  
                        </span>
                        {% endif %}
                        
                    </div>
                    <div class="clearfix"></div>
                </div>
               <div class="right">                	
                		<a href="javascript:void(0);" class="">
                		{% if(usergroup.user.id == displayUser.id or adminmember==1 ) %}
                			{{ 'regularuser.you_are_admin'|trans }}
                		{% elseif(groupMember) %}
                			{{ 'regularuser.you_are_member'|trans }}
                		{% else %}
                			{{ 'regularuser.you_are_not_member'|trans }}
                		{% endif %}
                		</a>
                   
                </div>
     </div>
     <div class="clearfix"></div>
     {% if usergroup.user.id == app.user.id %}
     <section id="boxes2">
            <div id="dialog36" class="window"> 
                <form action="{{ path('fenchy_regular_user_user_groupprofile_groupinfo', {'groupId': groupId }) }}" method="post" {{ form_enctype(form) }} class="form-settings location">
                    <input type="hidden" value="1" name="imagesave" />
                    <input type="submit" class="blue_button" style="z-index: 150;float: right; position: absolute; top: 349px; left: 395px;" value="Upload" />
                <div class="big_popup">
                    <div class="big_popupclose"><a href="" class="close"></a></div>
                			
			<div class="profileandcover_image">
                            
                                <div class="profileimage">
                                    <div class="title">{{ 'regularuser.groupprofile_image'|trans}}</div>
                                    <div class="clearfix"></div>

	                         	{{ form_row(form.file) }}
	                         	{% if profilepath =="" %}
                                    <img src="{{ asset('images/profileimage.png') }}" class="form_file" alt="" width="128" height="128" style="border-radius: 50% 50% 50% 50%" />
	                         	{% else %}
                                    <img src="{{ asset(profilepath) }}" class="form_file" alt="" width="128" height="128" style="border-radius: 50% 50% 50% 50%"/>
	                         	{% endif %}

                                    <div style="display:none;">{{ form_rest(form) }}</div>
                                    <a id="FormFileBrowse1" href="#" class="blue_button">Select</a>

                                    <div class="clearfix"></div>                                            
                                </div>
						
                                <div class="coverimage">
                                    <div class="title">{{ 'regularuser.groupcover_image'|trans}}</div>
                                    <div class="clearfix"></div>

                                    <div id="placeholder">
                                                            {{ form_row(form.file2) }}
                                    {% if coverpath =="" %}
                                            <img src="{{ asset('images/coverimage.png') }}" class="form_file2 crop_me" alt="" width="455"/>
                                    {% else %}
                                            <img src="{{ asset(coverpath) }}" class="form_file2 crop_me" alt="" width="455" />
                                    {% endif %}
                                        </div>
                                        {{ form_row(form.cropX) }}
                                        {{ form_row(form.cropY) }}
                                    
                                        <div style="display:none;">{{ form_rest(form) }}</div>
                                        <div class="clearfix"></div>
                                        <div class="coverimage_buttons">
                                            <a id="FormFileBrowse2" href="#" class="blue_button">Select</a>                        
                                        </div>

                                 </div>
                                
                </div>
               	<!-- Your custom code end -->
                </div>
                <img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width: 100%; bottom: -9px;">
                </form>   
            </div>
            <div id="mask"></div>
    	</section> 
     {% endif %}
     
{% endblock %}
