<script type="text/javascript">
function closeDeleteDialog(id)
{
        $('#dialog'+id).hide();
        $('#mask').hide();
}    
function add_stick()
{ 
 $('#flagwindow').slideToggle('fast', function() {
			  });
}                         
function addMembers(receiver)
{	
	var url = "{{path('fenchy_regular_user_user_groupprofile_joinclosedgrouprequest')}}";
        {% if requestObj %}
            $('#neighbor_request_send').click();
            return false;
        {% endif%}
	
        $.ajax({
		url : url,
		type : "post",
		data : {
			'neighborId': receiver,
			},
		beforeSend : function() {
		},
		success : function(response) {			
			$('#neighbor_request_send').click();
			$('.added_n').hide();
			$('.requested_n').show();
		},
		error : function() {
			alert('Something went wrong!');
		},
		complete : function() {							
		}
	}); 
}

function sendMsgToGroup()
		{
			var flag = true;
{#			var title = $('#MsgTitle').val();#}
			var content = $('#MsgContent').val();
			
			if(content == "")
			{
				flag = false;
{#				$('#MsgTitle').attr('placeholder', 'required*');#}
				$('#MsgContent').attr('placeholder', 'required*');
			}
                        if(content.trim() == "" )
                        {
                                flag = false;
{#				$('#MsgTitle').val('');#}
				$('#MsgContent').val('');
{#                                $('#MsgTitle').attr('placeholder', 'required*');#}
				$('#MsgContent').attr('placeholder', 'required*');
                        }
			var receiver = "{{ usergroup.user.id }}";
			var groupId = "{{ groupId }}";
			
			if(flag)
			{
				var url = "{{path('fenchy_regular_user_sendmsgtogroupform')}}";
				$.ajax({
					url : url,
					type : "post",
					data : {
						'receiverId': receiver,
						'content': content,
						'groupId': groupId,										
						},
					beforeSend : function() {
						
					},
					success : function(response) {
						$('#dialog34').hide();
						$('#successDialog2').click();
					},
					error : function() {
						alert('Something went wrong!');
					},
					complete : function() {
{#						$('#MsgTitle').val('');#}
						$('#MsgContent').val('');					
					}
				}); 
			}		
		}
</script>
{% if 'join' in app.request.uri %}
<script type="text/javascript">
window.onload=function(){ 
    $('.neighbor_success1').click(); 
    
 $('.crop_me2').attr('src', '{{ absolute(asset(usergroup.webpath2)) }}').load(function() {  
                    //alert('Image Loaded');  
 });
 $('.crop_me2').jWindowCrop({
				targetWidth: 970, //Width of facebook cover division
				targetHeight: 325, //Height of cover division
				loadingText: ''
			});
                        
                    var vcropY = 0;
                    {% if usergroup.cropY %}
                    vcropY = {{ usergroup.cropY }};
                    {% endif %}
                    
		    var newCropY = 2.13 * vcropY;
                    newCropY = Math.ceil(newCropY);
                
		    $('.crop_me2').css('left',{{ usergroup.cropX }}+'px');
		    $('.crop_me2').css('top',-newCropY+'px');
		    $('.crop_me').css('left',{{ usergroup.cropX }}+'px');
		    $('.crop_me').css('top',-{{ usergroup.cropY }}+'px');
                    $('#form_cropX').val({{ usergroup.cropX }});
                    $('#form_cropY').val({{ usergroup.cropY }});  
		    $('.placeholder').find('.jwc_controls').empty();
};</script>
{% endif %}
{% if 'leave' in app.request.uri %}
<script type="text/javascript">
window.onload=function(){ $('.neighbor_success2').click(); 
 $('.crop_me2').attr('src', '{{ absolute(asset(usergroup.webpath2)) }}').load(function() {  
                    //alert('Image Loaded');  
 });
 $('.crop_me2').jWindowCrop({
				targetWidth: 970, //Width of facebook cover division
				targetHeight: 325, //Height of cover division
				loadingText: ''
			});
                        
                    var vcropY = 0;
                    {% if usergroup.cropY %}
                    vcropY = {{ usergroup.cropY }};
                    {% endif %}
                    
		    var newCropY = 2.13 * vcropY;
                    newCropY = Math.ceil(newCropY);
                
		    $('.crop_me2').css('left',{{ usergroup.cropX }}+'px');
		    $('.crop_me2').css('top',-newCropY+'px');
		    $('.crop_me').css('left',{{ usergroup.cropX }}+'px');
		    $('.crop_me').css('top',-{{ usergroup.cropY }}+'px');
                    $('#form_cropX').val({{ usergroup.cropX }});
                    $('#form_cropY').val({{ usergroup.cropY }});  
		    $('.placeholder').find('.jwc_controls').empty();
};</script>


{% endif %}
{% if usergroup.managergroup == '' %}
<div class="rightside">
                 <div class="right" >
                    <div class="options">
                        <h4>YOUR OPTIONS</h4>
                        <div class="optionsdetail">
                        
                        	{% if(usergroup.user.id == displayUser.id or adminmember == 1) %}
                        	<a href="{{path('fenchy_regular_user_notice_create1',{'groupId': groupId}) }}" class="blue_button">{{'frontend.create_listing'|trans}}</a>
                                {% endif %}
                                {% if(usergroup.user.id != displayUser.id and adminmember != 1) %}
                                    <a href="#dialog34" class="zoomthis blue_button" name="modal" id="vzoom_1944">{{ 'regularuser.send_new_message'|trans }}</a>
                                 {% endif %}
                            
                            {% if(usergroup.user.id == displayUser.id or adminmember == 1) %}
                                {% set lang = 'regularuser.message.are_you_sure_group'|trans %}
                                <a href="#dialog6611" name="modal" id="vzoom_1944" class="zoomthis blue_button " >{{ 'regularuser.delete_group'|trans }}</a>
                                {% endif %}
                            {% if(groupMember) and usergroup.user.id != displayUser.id %}
                            {% if requestObj %}    
                                <a href="{{ path('fenchy_regular_user_user_groupprofile_leavegroup',{'groupId': groupId,'msg':'leave','requestId': requestObj.id }) }}" class="blue_button">{{ 'regularuser.leave_group'|trans }}</a>
                            {% else %}
                                <a href="{{ path('fenchy_regular_user_user_groupprofile_leavegroup',{'groupId': groupId,'msg':'leave','requestId': '0' }) }}" class="blue_button">{{ 'regularuser.leave_group'|trans }}</a>
                            {% endif %}
                            {% else %}
                                {% if usergroup.user.id != displayUser.id %}
		                    <a href="{% if usergroup.status == 1 %}{{ path('fenchy_regular_user_user_groupprofile_joingroup',{'groupId': groupId,'msg':'join' }) }} {% else %}javascript:void(0){% endif %}" {% if usergroup.status == 2 %} onclick="addMembers({{ usergroup.id }});" {% endif %} class="blue_button added_n">{{ 'regularuser.join_group'|trans }}</a>
                                    <a href="#dialog305" class="zoomthis blue_button requested_n" name="modal" id="vzoom_1944" style="display: none;">{{ 'regularuser.join_group'|trans }}</a>
                                {% endif %}
                            {% endif %}
                            <!--<a href="javascript:void(0);" class="blue_button">{{ 'regularuser.block'|trans }}</a>-->
                            {% if app.user.id != usergroup.user.id %}
                                    <a href="javascript:void(0);" onclick="add_stick();" class="add-sticker">{{ 'regularuser.flag'|trans }}</a>
                            {% endif %}                
                        </div>
		            </div>
                         <div class="bgbottom"><img src="{{ asset('images/bgbottom_leftpart.png')}}" alt=""></div>
		        </div>
		    {% if app.user.id != usergroup.user.id %}
			        <div id="flagwindow" class="groupflagwindow">
					<img class="iconarrow" src="{{ asset('images/icon_arrow.png') }}" alt="" />
					{% render 'FenchyUtilBundle:Sticker:groupSticker' with {'id': usergroup.id} %}
                                </div>
                    {% endif %}     
</div>
{% elseif (usergroup.managergroup != '' and (usergroup.user.id == displayUser.id or adminmember == 1)) %}
    <style>
    #group-profile .leftside
    {
        width: 940px !important;
    }
    .bgbottom-big{
        width: 970px !important;
    }
    </style>
{% elseif (usergroup.managergroup != '' ) %}
 <div class="rightside">
                 <div class="right" >
                    <div class="options">
                        <h4>YOUR OPTIONS</h4>
                        <div class="optionsdetail">
                        
                        	{% if(usergroup.user.id == displayUser.id or adminmember == 1) %}
                        	<a href="{{path('fenchy_regular_user_notice_create1',{'groupId': groupId}) }}" class="blue_button">{{'frontend.create_listing'|trans}}</a>
                                {% endif %}
                                {% if(usergroup.user.id != displayUser.id and adminmember != 1) %}
                                    <a href="#dialog34" class="zoomthis blue_button" name="modal" id="vzoom_1944">{{ 'regularuser.send_new_message'|trans }}</a>
                                 {% endif %}
                            
                            {% if(usergroup.user.id == displayUser.id or adminmember == 1) %}
                                {% set lang = 'regularuser.message.are_you_sure_group'|trans %}
                                <a href="#dialog6611" name="modal" id="vzoom_1944" class="zoomthis blue_button " >{{ 'regularuser.delete_group'|trans }}</a>
                                {% endif %}
                            {% if(groupMember) and usergroup.user.id != displayUser.id %}
                            {% if requestObj %}    
                                <a href="{{ path('fenchy_regular_user_user_groupprofile_leavegroup',{'groupId': groupId,'msg':'leave','requestId': requestObj.id }) }}" class="blue_button">{{ 'regularuser.leave_group'|trans }}</a>
                            {% else %}
                                <a href="{{ path('fenchy_regular_user_user_groupprofile_leavegroup',{'groupId': groupId,'msg':'leave','requestId': '0' }) }}" class="blue_button">{{ 'regularuser.leave_group'|trans }}</a>
                            {% endif %}
                            {% else %}
                                {% if usergroup.user.id != displayUser.id %}
		                    <a href="{% if usergroup.status == 1 %}{{ path('fenchy_regular_user_user_groupprofile_joingroup',{'groupId': groupId,'msg':'join' }) }} {% else %}javascript:void(0){% endif %}" {% if usergroup.status == 2 %} onclick="addMembers({{ usergroup.id }});" {% endif %} class="blue_button added_n">{{ 'regularuser.join_group'|trans }}</a>
                                    <a href="#dialog305" class="zoomthis blue_button requested_n" name="modal" id="vzoom_1944" style="display: none;">{{ 'regularuser.join_group'|trans }}</a>
                                {% endif %}
                            {% endif %}
                            <!--<a href="javascript:void(0);" class="blue_button">{{ 'regularuser.block'|trans }}</a>-->
                            {% if app.user.id != usergroup.user.id %}
                                    <a href="javascript:void(0);" onclick="add_stick();" class="add-sticker">{{ 'regularuser.flag'|trans }}</a>
                            {% endif %}                
                        </div>
		            </div>
                         <div class="bgbottom"><img src="{{ asset('images/bgbottom_leftpart.png')}}" alt=""></div>
		        </div>
		    {% if app.user.id != usergroup.user.id %}
			        <div id="flagwindow" class="groupflagwindow">
					<img class="iconarrow" src="{{ asset('images/icon_arrow.png') }}" alt="" />
					{% render 'FenchyUtilBundle:Sticker:groupSticker' with {'id': usergroup.id} %}
                                </div>
                    {% endif %}     
</div>   
{% endif %}

<a id="successDialog2" href="#dialog35" class="zoomthis blue_button" name="modal" id="vzoom_1944" style="display: none;"></a>
<section id="boxes2">
	<div id="dialog34" class="window">
	   	<div class="big_popup">
	      	<div class="big_popupclose"><a href="" class="close"></a></div>
				<p>{{ 'regularuser.write_msg_to'|trans }} {{ usergroup.groupname}}</p>
{#					<input type="text" id="MsgTitle" placeholder="{{ 'message.title'|trans }}"/>#}
					<textarea id="MsgContent" placeholder="{{ 'message.content'|trans }}"></textarea>
				<input class="blue_button" style="margin-left: 340px; margin-bottom: 10px;" type="button" id="continue" value="{{ 'btn.send'|trans }}" onclick="sendMsgToGroup();"/>
		</div>
		<img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width: 100%; bottom: -9px;">
	</div>
	<div id="mask"></div>
</section>
<section id="boxes2">
	<div id="dialog35" class="window">
	   	<div class="big_popup">
	      	<div class="big_popupclose"><a href="" class="close"></a></div>
			<div class="title">
				<p>{{ 'regularuser.msg_send'|trans }}</p>
			</div>
		</div>
                <img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width: 100%; bottom: -9px;">
	</div>
	<div id="mask"></div>
</section>
    <a id="neighbor_request_send" href="#dialog304" class="zoomthis blue_button" name="modal" id="vzoom_1944" style="display: none;"></a>	
	<section id="boxes2">
		<div id="dialog304" class="window">
		<div id="dialog45">
		   	<div class="big_popup">
		      	<div class="big_popupclose"><a href="" class="close"></a></div>
				<div id="messageForm">
                                    {% if requestObj %}
                                        <p>{{ 'regularuser.join_group_requested'|trans }}</p>
                                    {% else %}    
					<p>{{ 'regularuser.your_request_send'|trans }}</p>
                                    {% endif %}    
				</div>
			</div>
			<img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width: 100%; bottom: -9px;">
		</div>
		</div>
		<div id="mask"></div>
	</section>

    <section id="boxes2">
		<div id="dialog305" class="window">
		<div id="dialog45">
		   	<div class="big_popup">
		      	<div class="big_popupclose"><a href="" class="close"></a></div>
				<div id="messageForm">
                                       <p>{{ 'regularuser.join_group_requested'|trans }}</p>
				</div>
			</div>
			<img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width: 100%; bottom: -9px;">
		</div>
		</div>
		<div id="mask"></div>
	</section>
    
    <a href="#dialog306" name="modal" id="vzoom_1944" class="zoomthis blue-button not_remove_admins">
    <section id="boxes2">
		<div id="dialog306" class="window">
		<div id="dialog45">
		   	<div class="big_popup">
		      	<div class="big_popupclose"><a href="" class="close"></a></div>
				<div id="messageForm">
                                       <p>{{ 'regularuser.not_delete_admin'|trans }}</p>
				</div>
			</div>
			<img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width: 100%; bottom: -9px;">
		</div>
		</div>
		<div id="mask"></div>
	</section>
    
    <section id="boxes2">
            <div id="dialog6611" class="window">
                <div id="dialog41">
                    <div class="big_popup">
                        <div class="big_popupclose"><a href="" class="close"></a></div>
                        <form action="{{ path('fenchy_regular_user_user_groupprofile_deletegroup',{'groupId': groupId }) }}" method="post">
                             <p>{{ 'regularuser.message.are_you_sure_group'|trans }}</p>

                            <a class="blue-btn" style="padding-top: 8px; height: 21px;" onclick="closeDeleteDialog('6611')">
                                            {{ 'btn.no'|trans }}
                                </a>
                                <input class="blue-btn" type="submit" id="continue" value="{{ 'btn.yes'|trans }}"/>
                            </form>
                        </div>    
                    </div>
                    <img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width: 100%; bottom: -9px;">
                </div>    
                <div id="mask"></div>
            </section>