{# //extends 'FenchyRegularUserBundle::settings.html.twig' #}
{% extends 'FenchyRegularUserBundle::myProfileSettings.html.twig' %}

{% block stylesheets %}
   {{ parent() }}
<link rel="stylesheet" href="{{ asset('css/app/settings-v2.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('css/app/main-container-v2.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
<script type="text/javascript" src="{{ asset('js/regular_user/listing/create.js') }}"></script>
<script type="text/javascript" src="{{ asset('plugins/ko/knockout-2.2.1.debug.js') }}"></script>
{% include '::gmapsApiAsset.html.twig' %}

<script type="text/javascript" src="{{ asset('js/ko-extensions/jquery-autocomplete.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mvvm/user-settings-view-model.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/lib/gapi-autocomplete.js') }}"></script>
    

        <script type="text/javascript" src="{{ asset('js/regular_user/settings/form.js') }}"></script>
        
    

{% endblock %}

{% block content %}
	{% render 'FenchyRegularUserBundle:Groupprofile:groupAvatar' with { 'groupId' : groupId } %}
	{% render 'FenchyRegularUserBundle:Groupprofile:groupmenu' with { 'groupId' : groupId } %}
		
		
		<div id="other-profile">
      		<div class="leftside">	
				<div class="feedsdetail">
				{% if listings %}
				{% set i=0 %}
                    {% for notice in listings %}
                       	<div class="feeds2">
{#                             <div class="leftimg">#}
{#                             	<div class="bg-gray"><!-- <img src="{{ absolute(asset('images/bg_gray.png')) }}"  alt="" />--></div>#}
{#                                 <img src="/{{ user.twitterusername }}" width="135" height="135" alt="" />#}
{#                                 <div class="neighbor orange">#}
{#                                     <p>N</p>#}
{#                                     <span>{{ user.activity }}</span>#}
{#                                 </div>		                            #}
{#                                 <div class="otherdetail">#}
{#                                     <p>500M</p>#}
{#                                     <span>300<br><b>{{ 'otherprofile.members'|trans|upper }}</b></span>#}
{#                                 </div>#}
{#                             </div>#}
							<div class="leftimg">
                                	<a href="{{path('fenchy_notice_show_slug', {'slug': notice.slug, 'year': notice.createdAt|date('Y'), 'month': notice.createdAt|date('m'), 'day': notice.createdAt|date('d')  })}}">
		                        		<img width="200" height="135" alt="" src="{{ asset(notice.mainimagelanding) }}"  onerror="imgError(this)">
		                        	</a>
		                    </div>
                            <div class="rightimg"><img src="{{ absolute(asset('images/bgright_rightpart.png')) }}" alt="" /></div>
                            <div class="right">
                                <a href="{{path('fenchy_notice_show_slug', {'slug': notice.slug, 'year': notice.createdAt|date('Y'), 'month': notice.createdAt|date('m'), 'day': notice.createdAt|date('d')  })}}">
                                	<h3>{{notice.title}}</h3>
                                </a>
                                <div class="clearfix"></div>
                                <div class="otherdetail">
	                                <div class="left" style="letter-spacing: 1px;">
	                                	{% render "FenchyNoticeBundle:GlobalFilter:noticeDistanceCode" with { 'noticeLocLat': notice.location.latitude,'noticeLocLon': notice.location.longitude } %}
	                                </div>
                            	</div>
                            	<div class="clearfix"></div>
                                <p>{{ notice.content|truncate(130)|replace({'...': ". . ."})|raw }}</p>
								 <div class="bottom-buttons">
                                	<div class="comments">
                                        <div id="comments" class="comments">Show Comments</div>
                                        <div id="commentdetail" class="commentdetail">
                                            <div class="commentopen">Show Comments</div>
                                                {% if i < reviews %}
	                    						{% for initialComment in initialComments[i] %}
			                                    	{% if initialComment %}
			                                    		<div class="data"> 
                                                                            {% if initialComment['author']['id'] in blockUser %}
				                                      		<a href="javascript:void(0);">
				                                      			{% render "FenchyNoticeBundle:GlobalFilter:generateCode" with { 'userId': initialComment['author']['id'] } %}
				                                      		</a>
                                                                            {% else %}
                                                                                <a href="{{ initialComment['author']['profileUrl'] }}">
				                                      			{% render "FenchyNoticeBundle:GlobalFilter:generateCode" with { 'userId': initialComment['author']['id'] } %}
				                                      		</a>
                                                                            {% endif %}
				                                      		<p>{{ initialComment['text'] }}</p>
				                                     	</div>
			                                      	{% endif %}
		                                		{% endfor %}
	                                		{% endif %}                                                  
                                        </div>
                                    </div>
                                	<div class="reviews">
                                		<div id="reviews" class="reviews">Show Reviews</div>
                                    	<div id="reviewdetail" class="reviewdetail">
                                    		<div class="reviewopen">Show Reviews</div>                                    		
                                    		{% if i < reviews %}                                    		
	                    						{% for initialReview in initialReviews[i] %}
			                                    	{% if initialReview %}
			                                    		<div class="data">  
                                                                            {% if initialReview['author']['id'] in blockUser %}
				                                      		<a href="javascript:void(0);">
				                                      			{% render "FenchyNoticeBundle:GlobalFilter:generateCode" with { 'userId': initialReview['author']['id'] } %}
				                                      		</a>
                                                                            {% else %}
                                                                                <a href="{{ initialReview['author']['profileUrl'] }}">
				                                      			{% render "FenchyNoticeBundle:GlobalFilter:generateCode" with { 'userId': initialReview['author']['id'] } %}
				                                      		</a>
                                                                            {% endif %}
				                                      		<p>{{ initialReview['text'] }}</p>
				                                     	</div>
			                                      	{% endif %}
		                                		{% endfor %}
	                                		{% endif %}
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        {%   set i=i+1 %}
                     {% endfor %}
                  {% else %}
                        <h3>{{ 'regularuser.no_listing'|trans|upper }}</h3>	
                  {% endif %}
                          
              	</div>
              </div> 
              
			  {% render 'FenchyRegularUserBundle:Groupprofile:groupLeftSidebar' with { 'groupId' : groupId } %}
       			
       </div>        
		
		
		
        <script>
  			 function imgError(url)
  			 {
  			   var img = new Image();
  			   img.src = url;
  			   var newsrc = $(url).attr('src');
  			   newsrc=newsrc.replace('square_l','medium');
			   $(url).attr('src',newsrc);	   
  			 }
  			</script>            
{% endblock %}
