{% extends 'FenchyRegularUserBundle::layoutV2.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
  		var PAYMILL_PUBLIC_KEY = '760970626785a3e7030d736d85bf1411';
	</script>
	<script type="text/javascript" src="https://bridge.paymill.com/"></script>
    <script type="text/javascript">
    $(document).ready(function(){

    	$("div[id^='showInformationForm']").hide();
    	$("div[id^='collapseminus']").hide();
    	$("div[id^='PaymentForm']").hide();
    	$('.changeSettingButton').hide();
    	var noticeType = '{{ noticeType }}';
        var noticeId = '{{ noticeId }}';
    	if(noticeType !="" || noticeId !=="")
    	{
        	$('#Active').addClass('selected');
    	}
    	//$('#debitcard1').val('');
	    //$('#debitcard2').val('');
	    //$('#debitcard3').val('');
	    //$('#paypal1').val('');
	    //$('#creditcard2').val('');
	    //$('#creditcard3').val('');
    });
    	    
    function showInformationForm(id)
	{
    	var i=0;
    	for(i=1; i<=3; i++)
    	{
        	if(i!=id)        	
        		$('#showInformationForm'+i).hide();
    	}    	
    	$('#collapseminus1').hide();
    	$('#collapseminus2').hide();
    	$('#collapseminus3').hide();
    	
    	$('#collapseplus1').show();
    	$('#collapseplus2').show();
    	$('#collapseplus3').show();
    	
		var a = $('#showInformationForm'+id).css('display');
		if(a == 'block')
		{			
			$('#showInformationForm'+id).hide();
			$('#collapseminus'+id).hide();
			$('#collapseplus'+id).show();
		}			
		else
		{	
			$('#showInformationForm'+id).show();
			$('#collapseminus'+id).show();
			$('#collapseplus'+id).hide();
		}
	}  
    function showPaymentForm(id)
	{    	
    	var btn = $('.changeSettingButton').css('display');
    	if(btn == 'block')
    		$('.changeSettingButton').hide();
    	else
    		$('.changeSettingButton').show();
    		
		var a = $('#PaymentForm'+id).css('display');
		if(a == 'block')
		{	
			$("div[id^='PaymentForm']").hide();
			$('#SetSetting p').show();
			$('#PaymentForm'+id).hide();
			$('.changeSettingButton').hide();
		}
		else
		{
			$("div[id^='PaymentForm']").hide();
			$('#SetSetting p').hide();
			$('#PaymentForm'+id).show();
			$('.changeSettingButton').show();
		}
	}

    function savePaymentSetting(id,action)
	{    
    	var account_holder = $('#debitcard1').val();
    	var account_no = $('#debitcard2').val();
    	var bank_code = $('#debitcard3').val();
    	var paypal_email = $('#paypal1').val();
    	var card_type = $("#creditcard1 option:selected").val();
    	var card_no = $('#creditcard2').val();
    	var card_holder = $('#creditcard3').val();
    	var cvv_code = $('#creditcard6').val();
    	var end_month = $("#creditcard4 option:selected").val();
    	var end_year = $("#creditcard5 option:selected").val();
    	var noticeType = '{{ noticeType }}';
        var noticeId = '{{ noticeId }}';
		var type="";

		//alert(account_holder+"  "+account_no+"    "+bank_code+"   "+paypal_email+"   "+card_type+"   "+card_no+"   "+card_holder+"  "+end_month+"   "+end_year);
    	var flag = true;
    	if(id == 1)
    	{
        	type = "debit";
	    	if(!$("#debitcardcheck").is(':checked'))
	    	{
                        var notification1 = '{{'payment.notify1'|trans}}';
			alert(notification1);
	        	//alert('ACEEPT TERMS & CONDITION');
	        	flag = false;
	    	}
	    	if(account_holder =="" || account_no == "" || bank_code =="")
	    	{
                        var notification2 = '{{'payment.notify2'|trans}}';
			alert(notification2);
	        	//alert('ALL FILED ARE REQUIRED');
                        flag = false;
	    	}
	    	if(!paymill.validateAccountNumber(account_no))
	    	{
                        var notification3 = '{{'payment.notify3'|trans}}';
			alert(notification3);
		    	//alert('ENTER VALID ACCOUNT NUMBER');
		    	flag = false;
	    	}	
	    	if(!paymill.validateBankCode(bank_code))
	    	{
                        var notification4 = '{{'payment.notify4'|trans}}';
			alert(notification4);
	    		//alert('NOT VALID BANK CODE');
	    		flag = false;
	    	}	
	    	$('#paypal1').val('');
		    $('#creditcard2').val('');
		    $('#creditcard3').val('');
		    $('#creditcard6').val('');		    
		    card_type="";
		    card_no ="";
		    card_holder ="";
		    cvv_code ="";		    
		    end_month ="";
		    end_year = "";
		    paypal_email ="";
    	}
    	if(id == 2)
    	{
        	type="paypal";
	    	if(!$("#paypalcheck").is(':checked'))
	    	{
                        var notification1 = '{{'payment.notify1'|trans}}';
			alert(notification1);
	        	//alert('ACEEPT TERMS & CONDITION');
	        	flag = false;
	    	}
	    	if(paypal_email =="")
	    	{
                        var notification2 = '{{'payment.notify2'|trans}}';
			alert(notification2);
                        flag = false;
	    	}
	    	$('#debitcard1').val('');
		    $('#debitcard2').val('');
		    $('#debitcard3').val('');
		    $('#creditcard2').val('');
		    $('#creditcard3').val('');
		    $('#creditcard6').val('');
		    account_holder ="";
		    account_no ="";
		    bank_code="";
		    card_type="";
		    card_no ="";
		    card_holder ="";
		    cvv_code ="";		    
		    end_month ="";
		    end_year = "";
    	}
    	if(id == 3)
    	{
        	type="credit";
	    	if(!$("#creditcardcheck").is(':checked'))
	    	{
                        var notification1 = '{{'payment.notify1'|trans}}';
			alert(notification1);
	        	//alert('ACEEPT TERMS & CONDITION');
	        	flag = false;
	    	}
	    	if(card_holder =="" || card_no=="" || cvv_code=="" )
	    	{
                        var notification2 = '{{'payment.notify2'|trans}}';
			alert(notification2);
	        	//alert('ALL FILED ARE REQUIRED');
                        flag = false;
	    	}
	    	if(!paymill.validateCardNumber(card_no))
	    	{
                        var notification5 = '{{'payment.notify5'|trans}}';
			alert(notification5);
		    	//alert('ENTER VALID CARD NUMBER');
		    	flag = false;
	    	}
	    	if(!paymill.validateExpiry(end_month, end_year))
	    	{
                        var notification6 = '{{'payment.notify6'|trans}}';
			alert(notification6);
	    		//alert('SELECT VALID EXPIRY DATE');
		    	flag = false;
	    	}
	    	if(!paymill.validateCvc(cvv_code))
	    	{
                        var notification7 = '{{'payment.notify7'|trans}}';
			alert(notification7);
		    	//alert('NOT VALID CVC');
		    	flag = false;
	    	}	
	    	$('#debitcard1').val('');
		    $('#debitcard2').val('');
		    $('#debitcard3').val('');
		    $('#paypal1').val('');
		    account_holder ="";
		    account_no ="";
		    bank_code="";
		    paypal_email="";
    	}
    	if(flag)
    	{
			var url = "{{path('fenchy_regular_user_settings_paymentsave')}}";
			$.ajax({
				url : url,
				type : "post",
				data : {
					'id': id,
					'account_holder': account_holder,
					'account_no': account_no,
					'bank_code': bank_code,
					'paypal_email': paypal_email,
					'card_type': card_type,
					'card_no': card_no,
					'card_holder': card_holder,
					'end_month': end_month,
					'end_year': end_year,
					'type': type,
					'cvv_code': cvv_code					
					},
				beforeSend : function() {
					
				},
				success : function(response) {					
					$('#SetSetting').html(response);
					$('#PaymentForm'+id).hide();
                                        var url = $.session.get("watchlistingurl");
                                        
                                        if(url)
                                        {
                                            $.session.remove('watchlistingurl');
                                            window.location.replace(url);
                                        }
					if( action =='return' && noticeType)
					{					
						$('#Return')[0].click();
					}
                                        else if( action =='return' && noticeId)
					{					
						$('#Return1')[0].click();
					}
					else
					{	
						$('#SaveSettingMsg').click();
					}
				},
				error : function() {
					alert('Something went wrong!');
				},
				complete : function() {	
					if(id==1)
					{
						$('#paypal1').val('');
						$('#creditcard2').val('');
				    	$('#creditcard3').val('');
				    	$('#creditcard6').val('');
					}
					if(id==2)
					{
						$('#debitcard1').val('');
				    	$('#debitcard2').val('');
				    	$('#debitcard3').val('');
				    	$('#creditcard2').val('');
				    	$('#creditcard3').val('');
				    	$('#creditcard6').val('');
					}
					if(id==3)
					{
						$('#debitcard1').val('');
				    	$('#debitcard2').val('');
				    	$('#debitcard3').val('');
				    	$('#paypal1').val('');
					}
					$('#SetSetting').html($('#SetSetting1').html());
					$('.changeSettingButton').hide();
				}
			});
    	}
	}
    function deletePaymentSetting(id)
	{
    	var url = "{{path('fenchy_regular_user_settings_paymentdelete')}}";
		$.ajax({
			url : url,
			type : "post",
			data : {
				'id':id,			
				},
			beforeSend : function() {
				
			},
			success : function(response) {	
				$('#SetSetting').html(response);
				$('#PaymentForm'+id).hide();			
				$('#DeleteSettingMsg').click();
			},
			error : function() {
				alert('Something went wrong!');
			},
			complete : function() {				
				$('#debitcard1').val('');
			   	$('#debitcard2').val('');
			   	$('#debitcard3').val('');
				$('#paypal1').val('');
				$('#creditcard2').val('');
				$('#creditcard6').val('');
			   	$('#creditcard3').val('');
			}
		});
	}
    $("#creditcard2").keydown(function(event) {    	
        if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
           	return;
        } else {
            if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                event.preventDefault();
            }
        }
    });
    $("#creditcard6").keydown(function(event) {
        if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
           	return;
        } else {
            if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                event.preventDefault();
            }
        }
    });
    $("#debitcard2").keydown(function(event) {
        if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)) {
           	return;
        } else {
            if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                event.preventDefault();
            }
        }
    });
    </script>
{% endblock %}

{% block content %}
	{% render 'FenchyRegularUserBundle:Myprofile:myAvatar' %}
    {% include 'FenchyRegularUserBundle:Settings:menuV2.html.twig' %}
	<div class="payment">
		<h2 style="margin-left: 0px !important;">{{ 'payment.default_payment'|trans|upper }}</h2>
		<div class="form-box">
			{% if payment %}
			<div id="SetSetting">
				{% set typeindex = 1 %}
				{% if payment.type == 'debit' %}
					<h3>{{ 'payment.direct_debit'|trans }} / {{ 'payment.sepa'|trans }}</h3>
						{% set typeindex = 1 %}					
				{% elseif payment.type == 'paypal' %}
					<h3>{{ 'payment.paypal'|trans }}</h3>
					{% set typeindex = 2 %}					
				{% elseif payment.type == 'credit' %}
					<h3>{{ 'payment.credit_card'|trans }}</h3>
						{% set typeindex = 3 %}
				{% endif %}
							
				<div class="paymentdetails">
					<a class="payment-button" href="javascript:void(0);" onclick="showPaymentForm('{{ typeindex }}')">{{ 'payment.change'|trans|upper }}</a>
					<a class="payment-button" href="javascript:void(0);" onclick="deletePaymentSetting('{{ payment.id }}')">{{ 'payment.delete'|trans|upper }}</a><br>
					<div class="changeSettingButton">
						<a class="payment-button" href="javascript:void(0);" onclick="showPaymentForm('1')">{{ 'payment.direct_debit'|trans|upper }}</a>
						<a class="payment-button" href="javascript:void(0);" onclick="showPaymentForm('2')">{{ 'payment.paypal'|trans|upper }}</a>
						<a class="payment-button" href="javascript:void(0);" onclick="showPaymentForm('3')">{{ 'payment.credit_card'|trans|upper }}</a>
					</div>
				</div>
			</div>
			{% else %}
				<div id="SetSetting">
					<p style="margin-bottom: 20px;">{{ 'payment.no_default'|trans|upper }}
					{{ 'payment.choose_default'|trans|upper }}</p>
					<div class="paymentdetails">
						<a class="payment-button" href="javascript:void(0);" onclick="showPaymentForm('1')">{{ 'payment.direct_debit'|trans|upper }}</a>
						<a class="payment-button" href="javascript:void(0);" onclick="showPaymentForm('2')">{{ 'payment.paypal'|trans|upper }}</a>
						<a class="payment-button" href="javascript:void(0);" onclick="showPaymentForm('3')">{{ 'payment.credit_card'|trans|upper }}</a>
					</div>
				</div>
			{% endif %}
			<div class="forminfo" id="PaymentForm1">
			<h3>{{ 'payment.direct_debit'|trans }} / {{ 'payment.sepa'|trans }}</h3>
				<ul>
					<li>
						<label>{{ 'payment.account_holder'|trans|upper }}</label>
					</li>
					<li>
						{% if app.request.locale == "de" %}
							<label style="margin-left: 0px; -webkit-margin-start: -10px;">{{ 'payment.account'|trans|upper }}</label>
						{% else %}
							<label style="margin-left:-48px; -webkit-margin-start: -60px;">{{ 'payment.account'|trans|upper }}</label>
						{% endif %}
					</li>
					<li>
					{% if app.request.locale == "de" %}
							<label style="-webkit-margin-start: -10px;">{{ 'payment.bank_code'|trans|upper }}</label>
						{% else %}
							<label>{{ 'payment.bank_code'|trans|upper }}</label>
						{% endif %}						
					</li><br>
					<li style="margin-bottom: 10px;">
						<input type="text" id="debitcard1" value="{% if payment %}{{payment.accountHolder}}{% endif %}"/>
					</li>
					<li>
						<input type="text" id="debitcard2" value="{% if payment %}{{payment.accountNo}}{% endif %}"/>
					</li>
					<li>	
						<input type="text" id="debitcard3" value="{% if payment %}{{payment.bankCode}}{% endif %}"/>
					</li>
					<li style="margin-bottom: 10px;">
						{% if payment %}
							<input type="checkbox" id="debitcardcheck" checked="checked"/>
						{% else %}
							<input type="checkbox" id="debitcardcheck"/>
						{% endif %}
						<label style="margin-left: -52px !important">{{ 'payment.term_condition'|trans|upper }}</label>
					</li><br>
					<li	style="margin-bottom: 10px;">
						<div class="paymentdetails">
							<a class="payment-button" href="javascript:void(0);" style="margin-bottom: 10px; width: 15%;" onclick="savePaymentSetting(1,'stay')">{{ 'payment.save'|trans|upper }}</a>
							{% if noticeType !="" or noticeId !="" %}
								<a class="payment-button" href="javascript:void(0);" style="width: 48%;" onclick="savePaymentSetting(1,'return')">{{ 'payment.save2'|trans|upper }}</a>
							{% endif %}
						</div>
					</li>
				</ul>				
			</div>
			
			<div class="forminfo" id="PaymentForm2">
			<h3>{{ 'payment.paypal'|trans }}</h3>
				<ul>
					<li>
						<label>{{ 'payment.email_to_paypal'|trans|upper }}</label>						
					</li><br>
					<li style="margin-bottom: 10px;">
						<input type="text" id="paypal1" value="{% if payment %}{{payment.paypalEmail}}{% endif %}"/>
					</li><br>
					<li style="margin-bottom: 10px;">
						
						{% if payment %}
							<input type="checkbox" id="paypalcheck" checked="checked"/>
						{% else %}
							<input type="checkbox" id="paypalcheck"/>
						{% endif %}
						<label style="margin-left: -52px !important">{{ 'payment.term_condition'|trans|upper }}</label>
					</li><br>
					<li style="margin-bottom: 10px;">
						<div class="paymentdetails">
							<a class="payment-button" href="javascript:void(0);" style="margin-bottom: 10px; width: 15%;" onclick="savePaymentSetting(2,'stay')">{{ 'payment.save'|trans|upper }}</a>
							{% if noticeType !=""  or noticeId !="" %}
								<a class="payment-button" href="javascript:void(0);" style="width: 48%;" onclick="savePaymentSetting(2,'return')">{{ 'payment.save2'|trans|upper }}</a>
							{% endif %}
						</div>
					</li>
				</ul>				
			</div>	
			<div class="forminfo" id="PaymentForm3">
			<h3>{{ 'payment.credit_card'|trans }}</h3>
				<ul>
					<li>
						<label style="margin: 0px 22px 0px 2px;">{{ 'payment.type_of_card'|trans|upper }}</label>
					</li>
					<li>
						{% if app.request.locale == "de" %}
							<label style="margin: 0 -16px 0 -16px;">{{ 'payment.card'|trans|upper }}</label>
						{% else %}
							<label style="margin: 0 10px 0 10px;">{{ 'payment.card'|trans|upper }}</label>
						{% endif %}
					</li>
					<li>
						{% if app.request.locale == "de" %}
							<label style="margin: 0 10px 0 75px;">{{ 'payment.cvv'|trans|upper }}</label>
						{% else %}
							<label style="margin: 0 0 0 106px;">{{ 'payment.cvv'|trans|upper }}</label>
						{% endif %}
					</li>
					<li>
						{% if app.request.locale == "de" %}
							<label style="margin: 0 108px 0 75px; -webkit-margin-start: 87px;">{{ 'payment.card_holder'|trans|upper }}</label>
						{% else %}
							<label style="margin: 0 110px 0 65px;">{{ 'payment.card_holder'|trans|upper }}</label>
						{% endif %}
					</li>
					<li>
						<label style="margin-left: -60px;">{{ 'payment.valid_till'|trans|upper }}</label>
					</li><br>
					<li style="margin-bottom: 10px;">
						<select id="creditcard1">
                                                    {% if payment %}
                                                    {%  if payment.cardType == 'VISA' %}
							<option selected="selected">{{ 'payment.visa'|trans|upper }}</option>
							<option>{{ 'payment.master_card'|trans|upper }}</option>
                                                    {% else %}
                                                        <option>{{ 'payment.visa'|trans|upper }}</option>
							<option selected="selected">{{ 'payment.master_card'|trans|upper }}</option>
                                                    {% endif %}
                                                    {% else %}                                                       
                                                        <option>{{ 'payment.visa'|trans|upper }}</option>
							<option selected="selected">{{ 'payment.master_card'|trans|upper }}</option>
                                                    {% endif %}
                                                        
						</select>
					</li>
					<li>	
						{% if app.request.locale == "de" %}
							<input type="text" id="creditcard2" style="margin: 0px 50px; -webkit-margin-start: 70px;" value="{% if payment %}{{payment.cardNo}}{% endif %}"/>
						{% else %}
							<input type="text" id="creditcard2" style="margin: 0px 30px; -webkit-margin-start: 50px;" value="{% if payment %}{{payment.cardNo}}{% endif %}"/>
						{% endif %}
					</li>
					<li>
						{% if app.request.locale == "de" %}
							<input type="text" id="creditcard6" style="margin: 0 10px 0 -25px; -webkit-margin-end: 31px;" value="{% if payment %}{{cvv_code}}{% endif %}"/>
						{% else %}
							<input type="text" id="creditcard6" style="margin: 0 10px 0 10px;" value="{% if payment %}{{cvv_code}}{% endif %}"/>
						{% endif %}
					</li>
					<li>
						{% if app.request.locale == "de" %}
							<input type="text" id="creditcard3" style="margin: 0 15px 0 27px; -webkit-margin-end: 31px;" value="{% if payment %}{{payment.cardHolder}}{% endif %}"/>
						{% else %}
							<input type="text" id="creditcard3" style="margin: 0 10px 0 10px;" value="{% if payment %}{{payment.cardHolder}}{% endif %}"/>
						{% endif %}
					</li>
					<li>
						<select id="creditcard4">
                                                    {% if payment %}
                                                    {% for i in 1..12 %}
                                                        {%if i != payment.endMonth %}
                                                            {% if i<= 9 %}
                                                                <option>0{{i}}</option>
                                                            {% else %}
                                                                <option>{{i}}</option>
                                                            {% endif %}                                                        
                                                        {% endif %}
                                                        {% if i== payment.endMonth %}
                                                                <option selected="selected">{{ payment.endMonth }}</option>
                                                        {% endif %}
                                                     {% endfor %}
                                                     {% else %}
                                                            {% for i in 1..12 %}
                                                        
                                                            {% if i<= 9 %}
                                                                <option>0{{i}}</option>
                                                            {% else %}
                                                                <option>{{i}}</option>
                                                            {% endif %}                                                        
                                                     {% endfor %}
                                                    {% endif %}
						</select>
					</li>
					<li>	
						<select id="creditcard5">
                                                    {% if payment %}
							{% for i in 0..75 %}
                                                            {% if "now"|date("Y")+i != payment.endYear %}
                                                                <option>{{ "now"|date("Y")+i }}</option>
                                                             {% endif %}
                                                            {% if "now"|date("Y")+i == payment.endYear %}
                                                                <option selected="selected">{{ payment.endYear }}</option>
                                                            {% endif %}
							{% endfor %}
                                                  {%  else %}
                                                            {% for i in 0..75 %}                                                            
                                                                <option>{{ "now"|date("Y")+i }}</option>
							{% endfor %}
                                                  {% endif %}
						</select>
						
					</li><br>
					<li style="margin-bottom: 10px;">
						{% if payment %}
							<input type="checkbox" id="creditcardcheck" checked="checked"/>
						{% else %}
							<input type="checkbox" id="creditcardcheck"/>
						{% endif %}
						<label style="margin-left: -52px !important">{{ 'payment.term_condition'|trans|upper }}</label>
					</li><br>
					<li	style="margin-bottom: 10px;">
						<div class="paymentdetails">
							<a class="payment-button" href="javascript:void(0);" style="margin-bottom: 10px; width: 15%;" onclick="savePaymentSetting(3,'stay')">{{ 'payment.save'|trans|upper }}</a>
							{% if noticeType !="" or noticeId !="" %}
								<a class="payment-button" href="javascript:void(0);" style="width: 48%;" onclick="savePaymentSetting(3,'return')">{{ 'payment.save2'|trans|upper }}</a>
							{% endif %}
						</div>
					</li>
				</ul>				
			</div>
		</div>
			
		<div class="collapseplus" id="collapseplus1" onclick="showInformationForm('1')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus1" onclick="showInformationForm('1')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>{{ 'payment.why_payment_setting'|trans|upper }}</h2>
		
		<div class="forminformation" id="showInformationForm1">
			<p>{{ 'payment.why_payment_setting1'|trans|upper }}</p>
			<p>{{ 'payment.why_payment_setting2'|trans|upper }}<br>
			{{ 'payment.why_payment_setting3'|trans|upper }}</p>
			<p>{{ 'payment.why_payment_setting4'|trans|upper }} {{ 'payment.why_payment_setting5'|trans|upper }}</p>
			<p>{{ 'payment.why_payment_setting6'|trans|upper }}</p>
			<p>{{ 'payment.why_payment_setting7'|trans|upper }}</p>
		</div>
		
		<div class="collapseplus" id="collapseplus2" onclick="showInformationForm('2')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus2" onclick="showInformationForm('2')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>{{ 'payment.how_decide_term'|trans|upper }}</h2>
		
		<div class="forminformation" id="showInformationForm2">
			<p>{{ 'payment.become_member'|trans|upper }} {{ 'payment.place'|trans|upper }}</p>
			<div class="paymentdetails">
				<a class="payment-button" href="{{ path('fenchy_frontend_boardofneigbor') }}" style="width: 25%;">{{ 'payment.board_neighbour'|trans|upper }}</a>
			</div>
		</div>
		
		<div class="collapseplus" id="collapseplus3" onclick="showInformationForm('3')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus3" onclick="showInformationForm('3')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>{{ 'payment.how_support'|trans|upper }}</h2>
		
		<div id="showInformationForm3">
		
			<div class="forminfobox">
				<p>{{ 'payment.you_can_msg'|trans|upper }}</p>
				<div class="paymentdetails">
					<a class="payment-button" href="{{path('fenchy_regular_user_notice_create2', {'typename':'offergoods'})}}">{{ 'payment.offer_good'|trans|upper }}</a><br>
					<a class="payment-button" href="{{path('fenchy_regular_user_notice_create2', {'typename':'offerservice'})}}">{{ 'payment.offer_service'|trans|upper }}</a><br>
					<a class="payment-button" href="{{path('fenchy_regular_user_notice_create2', {'typename':'offerevents'})}}">{{ 'payment.offer_event'|trans|upper }}</a>
				</div>
			</div>
			<div class="forminfobox">			
				<p>{{ 'payment.you_can_invest'|trans|upper }}</p>
				<div class="paymentdetails">
					<a class="payment-button" href="{{ path('fenchy_frontend_share') }}">{{ 'payment.invest'|trans|upper }}</a>
				</div>
			</div>
			<div class="forminfobox">
				<p>{{ 'payment.donate'|trans|upper }}</p>
				<div class="paymentdetails">
					<a class="payment-button" href="{{ path('fenchy_frontend_share') }}">{{ 'payment.donation'|trans|upper }}</a>
				</div>
			</div>
		</div>
	</div>
        <div class="clearfix"></div>
            <div class="bgbottom">
            	<img alt="" src="{{ absolute(asset('images/bgbottom_contantinner.png')) }}">
            </div>
	<a id="Return" href="{{ path('fenchy_regular_user_notice_create2', {'typename': noticeType, 'groupId': groupId}) }}"></a>
        <a id="Return1" href="{{ path('fenchy_regular_user_notice_edit', {'id': noticeId}) }}"></a>
	
	<a id="SaveSettingMsg" href="#dialog47" name="modal" id="vzoom_1944" class="zoomthis blue-button"></a>
	<section id="boxes2">		
		<div id="dialog47" class="window">
			<div class="big_popup">
		   		<div class="big_popupclose"><a href="" class="close"></a></div>
		  		<p>{{ 'payment.savemsg'|trans|upper }}</p>
			</div> 
			<img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width: 100%; bottom: -9px;">   
		</div>		    
		<div id="mask"></div>
	</section>
	<a id="DeleteSettingMsg" href="#dialog48" name="modal" id="vzoom_1944" class="zoomthis blue-button"></a>
	<section id="boxes2">		
		<div id="dialog48" class="window">
			<div class="big_popup">
			   	<div class="big_popupclose"><a href="" class="close"></a></div>
		  		<p>{{'payment.deletemsg'|trans|upper }}</p>
			</div> 
			<img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width: 100%; bottom: -9px;">   
		</div>
		<div id="mask"></div>
	</section>
{% endblock %}