{% autoescape false %}
{{ 'message.notification.email.body'|trans}}
{{sender.userRegular.firstname}} | {{message.createdAt|date('Y-m-d H:i')}}

{{message.title}}

    {% set msgcontent =  message.content%}
        {% set link = msgcontent|split('|') %}
              {% if '|' in msgcontent %}
                    <p class="message-all">{{ link[0]|nl2br }}<br><br><a style="color:#51B9D4;" href="{{ link[1] }}">{{'regularuser.click_here'|trans }}</a><br><br>{{ link[2]|nl2br }}</p>
              {% else %}
                     <p class="message-all">{{ msgcontent|nl2br }}</p>
              {% endif %}   

                                              
{{'message.notification.email.follow_link'|trans}}:
{{absolute(path('fenchy_regular_user_messages_view', {'id':message.first.id}))}}
{% endautoescape %}