{# //extends 'FenchyRegularUserBundle::settings.html.twig' #}
{% extends 'FenchyRegularUserBundle::myProfileSettings.html.twig' %}

{% form_theme form.location '::noLabelForm.html.twig' %}

{% block stylesheets %}
   {{ parent() }}
<link rel="stylesheet" href="{{ asset('css/app/settings-v2.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('css/app/main-container-v2.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
<script type="text/javascript" src="{{ asset('js/regular_user/listing/create.js') }}"></script>
<script type="text/javascript" src="{{ asset('plugins/ko/knockout-2.2.1.debug.js') }}"></script>
{% include '::gmapsApiAsset.html.twig' %}

<script type="text/javascript" src="{{ asset('js/ko-extensions/jquery-autocomplete.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mvvm/user-settings-view-model.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/lib/gapi-autocomplete.js') }}"></script>

<script type="text/javascript">

    userSettingsViewModel = null;

    $(document).ready(function() {
        geocoder = new google.maps.Geocoder();
        var baseSearchViewUri = '{{ path('fenchy_notice_indexv2') }}';

        userSettingsViewModel = new UserSettingsViewModel(geocoder, baseSearchViewUri);

        ko.applyBindings(userSettingsViewModel, document.getElementsByTagName('body')[0]);

        autocomplete = new GApiAutocomplete(
                document.getElementById('fenchy_userbundle_user_locationtype_location_location'),
                userSettingsViewModel);


    });
    function hasCoordinates()
    {
    	{% if app.user.hasRequiredLocation %}
        	return true;
        {% endif %}

        return false;
    }

    function getLatitude()
    {
        return '{{ app.user.location.latitude }}'
    }

    function getLongitude()
    {
        return '{{ app.user.location.longitude }}';
    }
    </script>
    
    <script src="{{ asset('js/geolocalization.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        initialize();
    });
        </script>
        <script type="text/javascript" src="{{ asset('js/regular_user/settings/form.js') }}"></script>
        
    <script type="text/javascript">
		function verifyLocation()
		{
			var url = "{{ path('fenchy_regular_user_user_myprofile_verifylocation') }}";
			$.ajax({
				url : url,
				type : "post",
				data : {
					},
				beforeSend : function() {
					
				},
				success : function(response) {
					alert(response);
				},
				error : function() {
					alert('Something went wrong!');
				},
				complete : function() {					
				}
			});
		}		
	</script>
{% endblock %}

{% block content %}
	{% render 'FenchyRegularUserBundle:Myprofile:myAvatar' %}
	{% include 'FenchyRegularUserBundle:Myprofile:menu.html.twig' %}
		
		<div class="mylocation">
	    	<form action="{{ path('fenchy_regular_user_user_myprofile_mylocation') }}" method="post" {{ form_enctype(form) }} class="form-settings location">
          	
				{{ form_row(form.location.location) }}
                <span>or</span>

                <a class="button" href="#" onclick="putPin()">{{ 'regularuser.put_pin'|trans }}</a>
				<div style="display: none">
	            	{{form_rest(form)}}
	            </div>
		        <input type="submit" id="continue" class="blue_button" value="{{ 'btn.save'|trans }}"/>
	      	</form>
	        <a href="#dialog2" name="modal" id="vzoom_1944" class="zoomthis button" href="javascript:void();">{{ 'regularuser.verify_this_location'|trans }}</a>
            <div class="clearfix"></div>
	        <div class="map">
		    	<div id="map_canvas"></div>
		    </div>
	   	</div>
       	<div class="clearfix"></div>
	   	<div class="bgbottom">
			<img alt="" src="{{ absolute(asset('images/bgbottom_contantinner.png')) }}">
		</div>
		<section id="boxes2">
    		<div id="dialog2" class="window"> 
    	    	<div class="big_popup">
	            	<div class="big_popupclose"><a href="" class="close"></a></div>
            
					<p>{{ 'regularuser.verify_location_message'|trans|upper }}</p>			
            		<form action="{{ path('fenchy_regular_user_user_myprofile_verifylocation') }}" method="post" class="form-settings verifylocation">
						<button>{{ 'regularuser.ok'|trans|upper }}</button>
    	        	</form>
        		</div>    
    		</div>    
    		<div id="mask"></div>
    	</section>
                   
{% endblock %}
