{% extends "UserBundle::layout.html.twig" %}

{% block content_inner %}

    {% block fos_user_content %}
	<div class="mycommunitypoints">
		<h4>
	    	<p>{{'user.rest_pass_msg'|trans}}</p>
	    </h4>
		<div class="form-box-wrapper">	
    		<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    			<div class="row input-wrapper">
		        	<div class="error">
		                {{form_errors(form.new.first)}}
		                {{form_errors(form.new.second)}}
		            </div>
		        
					<div class="input-element">	
	                {# {{ form_label(form.new.first) }} #}
	                 {{ form_widget(form.new.first, {'attr': {'placeholder': 'account.new_pass'|trans }}) }}
	            	</div>
				
					<div class="input-element">	
	            	    {# {{ form_label(form.new.second) }} #}
	                    {{ form_widget(form.new.second, {'attr': {'placeholder': 'account.confirm'|trans }}) }}
	            	</div>
	            </div>	
	            <div class="clearfix">        
		            <div class="button pull-right" id="buttons">
			            	<input class="blue_button" type="submit" id="continue" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}"/>
			        </div>  
		            <div style="margin-right: 20px;" class="button pull-right" id="buttons">
		              	<a style="padding: 2.5px 10px;" id="back" class="blue_button" href="{{ path('fenchy_frontend_indexv2') }}">
		            		{{ 'user.back_to_login'|trans }}
		            	</a>                            
		            </div>
	            </div>
	            <div class="clearfix"> </div>
            	{{ form_rest(form) }}            
    		</form>
    	</div>
	</div>
	   	<div class="bgbottom">
			<img alt="" src="{{ absolute(asset('images/bgbottom_contantinner.png')) }}">
		</div>
    {% endblock %}

{% endblock %}
