{% extends '::baseV3.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
<style>
#select_receiver {    
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0 none;
    background: url("/images/arrow.png") no-repeat scroll right 0 transparent;
    border-bottom: 1px solid #51B9D4 !important;
    color: #51B9D4;
    text-indent: 0.01px;
    text-overflow: "";
    }
</style>
{% endblock %}
    
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('js/regular_user/messages/scripts.js')}}"></script>
{% endblock %}

    
{% block content %}

	{#<div class="message-title">
           		<a href="{{ path('fenchy_regular_user_messages_index') }}">
         			{{ 'regularuser.message.message_center'|trans }}
          		</a>
        </div>#}
           	{% block message_content %}
                {% endblock %}
         
{% endblock %}
