{% extends 'FenchyAdminBundle::layout.html.twig' %}
{% form_theme filter '::filterForm.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $().ready(function () {
            $('.identity-status').click(function() {
                var id = $(this).attr('rel');
                var status = $('td.identity-status[rel="'+id+'"]').text();               
                $.ajax({
                    type:     'POST',
                    dataType: 'json',
                    data:     { 'id' : id, 
                        		'status': status},
                    url: "{{ path('fenchy_admin_identity_switch') }}",
                    success: function (result) {
                        if (result !== false) {
                            if (result.status === 'Verified') {
                                $('td.identity-status[rel="'+result.id+'"]').text('Verified');
                            } else if (result.status === 'Requested') {
                                $('td.identity-status[rel="'+result.id+'"]').text('Requested');
                            }
                        } else {
                            alert(result);
                        }
                    },
                    errors: function (result) {
                        alert(result);
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block admincontent %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
             <tr>
                    <td align="center">
                        <form action="{{ path('fenchy_admin_identity') }}" method="post" {{ form_enctype(filter) }}>
                        <table width="100%" border="1" cellspacing="0" cellpadding="0" class="searchuser">
                        <tr>
                            <td width="100">{{ form_label(filter.username) }}:</td>
                            <td width="150">{{ form_widget(filter.username) }}</td>
                            <td width="75">{{ form_label(filter.status) }}:</td>
                            <td width="150">{{ form_widget(filter.status) }}</td>
                            <td width="60">{{ form_label(filter.sort) }}</td>
                            <td width="130">{{ form_widget(filter.sort) }}</td>
                            <td width="90">{{ form_label(filter.order) }}</td>
                            <td width="110">{{ form_widget(filter.order) }}</td>
                            <td width="100"><input type="submit" value="Search" class="searchoptions"/></td>
                            <td>&nbsp;</td>
                            {{ form_rest(filter) }}
                      </tr>
                      </table>
                      </form>
                    </td>
              </tr>
        </table>
    
    <div class="clearfix"></div>
    <div class="sTableWrapper">
    <table class="sTable" id="userlist" cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="head0" width="5%" align="center">ID</th>
                <th class="head1" width="20%">User Id</th>
                <th class="head0" width="20%">User Name</th>
                <th class="head1" width="20%">Status</th>
                <th class="head0" width="20%">Created At</th>
            </tr>
        </thead>
        <tbody>
        {% if identities %}
           {% for identity in pagination %}
                <tr>
                    <td class="con0" width="5%" align="center">{{ identity.id }}</td>
                    <td class="con1" width="20%">{{ identity.user}}</td>
                    <td class="con0" width="20%">{{ identity.username }}</td>
                    <td class="identity-status switch con1" rel="{{identity.id}}" id="status">{{ identity.status }}</td>
                    <td class="con0" width="20%">{{ identity.createdAt|date('Y-m-d H:i') }}</td>
                 </tr>
           {% endfor %}
         {% endif %}
        </tbody>
    </table>
    </div>
    <div class="sTableOptions">
            <div class="pagination pgright">
                {{ knp_pagination_render(pagination) }}
            </div>
    </div>
{% endblock %}
    