{% extends 'FenchyRegularUserBundle::messages.html.twig' %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('js/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{asset('js/regular_user/messages/loader.js')}}"></script>
{% endblock %}
 
{% block message_content %}
<script type="text/javascript">
$(document).ready(function()
{
    {% if receiver %}
        var receiverid = "{{ receiver }}";            
        $('#select_receiver').val(receiverid);
    {% endif %}
    {% if messagesToNeighbors %}
        // Code here
    {% else %}
        $('#continue').css('opacity','0.5');
        $('#continue').css('pointer-events','none');
    {% endif %}    
        nice = $(".message .messagedetail").niceScroll();
     
    var receiver = $('#select_receiver option:selected').val();
                        
});

function sendMsg()
{
    var flag = true;
    var title = '';
{#    var titleDisp = $('#MsgTitle').css('display');#}
    var content = $('#MsgContent').val();
    //alert(title + content);

    if(content == "")
    {
            flag = false;
    {#				$('#MsgTitle').attr('placeholder', 'required*');#}
            $('#MsgContent').attr('placeholder', 'required*');
    }
    var receiver = $('#select_receiver').val();
    if(content.trim() == "" )
    {
            flag = false;
    {#				$('#MsgTitle').val('');#}
            $('#MsgContent').val('');
    {#                                $('#MsgTitle').attr('placeholder', 'required*');#}
            $('#MsgContent').attr('placeholder', 'required*');
    }
   {# if(titleDisp == 'inline-block')
    {
        title = $('#MsgTitle').val();
        if(title.trim() == "" )
        {
            flag = false;
            $('#MsgTitle').val('');				
            $('#MsgTitle').attr('placeholder', 'required*');
        }
    }#}
    if(flag)
    {	
            var url = "{{path('fenchy_regular_user_sendmsgform')}}";
            $.ajax({
                    url : url,
                    type : "post",
                    data : {
                            'receiverId': receiver,				
{#                            'title': title,#}
                            'content': content,										
                            },
                    beforeSend : function() {

                    },
                    success : function(response) {
                            $('#successDialog2').click();
                    },
                    error : function() {
                            alert('Something went wrong!');
                    },
                    complete : function() {
{#                            $('#MsgTitle').val('');#}
                            $('#MsgContent').val('');
                    }
            }); 
    }		
}

{#$(function(){
   $('#select_receiver').change(function(){
       receiver = $('#select_receiver option:selected').val();
       //alert(receiver);
       if(receiver == 'all')
       {
           $('#MsgTitle').css('display','inline-block');
       }
       else
           $('#MsgTitle').css('display','none');
   });
});#}
</script>  
<style>
    .message .messagedetail{
         max-height: 800px;
         overflow: hidden;
    }
</style>
			<div class="message">
				<div class="left">
{#                	<a href="javascript:void(0);" class="blue_button">{{ 'regularuser.write_message'|trans }}</a>#}
                    <div class="clearfix"></div>
                    <div class="messagedetail">
                    	{% if messages %}
                          {% for message in messages %}
	                    	<a href="{{ path('fenchy_regular_user_messages_view', {'id': message.id}) }}" {% if not message.read %} {% if message.receiver != app.user %} class="message-read" {% else %} class="message-unread" {% endif %} {% endif %}>
	                    	<div {% if message.read %}class="message-read"{% endif %}>
	                            <div class="profilei">
                                        {% if message.sender == app.user %}
                                            {% if message.usergroup %}
                                                <img src=" {% if not message.usergroup.webPath %} {{ absolute(asset('images/default_profile_picture.png')) }} {% else %} {{ absolute(asset(message.usergroup.webPath)) }}{% endif %}" alt=""/>
                                            {% else %}
                                                {% render "FenchyNoticeBundle:GlobalFilter:generateCode" with { 'userId': message.receiver.id } %}
                                            {% endif %}
                                        {% else %}
                                            {% if message.fromgroup %}
                                                <img src=" {% if not message.fromgroup.webPath %} {{ absolute(asset('images/default_profile_picture.png')) }} {% else %} {{ absolute(asset(message.fromgroup.webPath)) }}{% endif %}" alt=""/>
                                            {% else %}
                                                {% render "FenchyNoticeBundle:GlobalFilter:generateCode" with { 'userId': message.sender.id } %}
                                            {% endif %}
                                        {% endif %}
                          		</div>
	                            {% if message.receiver != app.user %}
	                            <img class="read_arrow" src="{{ asset('images/message-arrow1.png') }}" alt="" />
	                            {% elseif message.receiver == app.user %}
	                            <img class="read_arrow" src="{{ asset('images/message-arrow2.png') }}" alt="" />
	                            {% endif %}
                                    {% if message.receiver != app.user %}
                                        {% if message.usergroup %}
                                            <p>{{ message.usergroup.groupname }}</p>
                                        {% else %}
                                            <p>{{ message.receiver.userregular.firstname }}</p>
                                        {% endif %}
                                    {% else %}
                                        {% if message.fromgroup %}
                                            <p>{{ message.fromgroup.groupname }}</p>
                                        {% else %}
                                            <p>{{ message.sender.userregular.firstname }}</p>
                                        {% endif %}
                                    {% endif %}
                                        <p>{{ message.content|truncate(70) }}</p>
	                        </div>
	                        </a>
	                    	
                    	 {% endfor %}
                      {% else %}
                         	{{'regularuser.message.no_messages'|trans}}</td>
                      {% endif %}
                    </div>
                <div class="bgbottom"><img alt="" src="{{ asset('images/bgbottom_leftpart.png') }}"></div>
                </div>
                
                <div class="right">
{#                     <img class="personimage" src="{{ asset('images/person.png') }}" alt="" />#}
{#                     <p class="name">gregory</p>#}
{#                     <div class="clearfix"></div>#}
{#                     <p class="message-all">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>#}
                    
			     	<p>{{ 'regularuser.write_msg_to'|trans }} 
			     	
                                    <select name="select_receiver" id="select_receiver" style="font-family: code_boldregular;">
			     	{% if messagesToNeighbors %}
			     		{% for messagesToNeighbor in messagesToNeighbors %}
			     			<option value="{{ messagesToNeighbor.id }}">{{ messagesToNeighbor.regularuser.firstname }} {{ messagesToNeighbor.regularuser.lastname }}</option>
			     		{% endfor %}
			     	{% else %}
			     	<option>No neighbors</option>
			     	{% endif %}
                                <option value="all">the whole neighborhood</option>
			     	</select>
			     	</p>
			     	
			     	<br>
			     	<br>
{#					<input type="text" id="MsgTitle" placeholder="{{ 'message.title'|trans }}" style="display: none;"/>#}
                                <br>
					<textarea id="MsgContent" style="padding: 5px;"></textarea>
{#                                        placeholder="{{ 'message.content'|trans }}"#}
					
					<input class="blue_button" type="button" id="continue" value="{{ 'btn.send_msg'|trans }}" onclick="sendMsg();" style="float: right; margin-right: 11px; padding: 1px 5px 0;"/>
                    
                    <div class="bgbottom_right"><img src="{{ asset('images/bgbottom_contantinner.png') }}" alt="" /></div>
                </div>
            </div>
            
     <a id="successDialog2" href="#dialog35" class="zoomthis blue_button" name="modal" id="vzoom_1944" style="display: none;">
            
            <section id="boxes2">
				<div id="dialog35" class="window">
				   	<div class="big_popup">
				      	<div class="big_popupclose"><a href="" class="close"></a></div>
                                                    <div class="title">
							{{ 'regularuser.msg_send'|trans }}
                                                    </div>
					</div>
                                    <img class="popup_bottom" src="/images/popup_bottom.png" alt="" style="width: 100%; bottom: -9px;">
				</div>
				<div id="mask"></div>
			</section>

{#                         <div class="highlight-toolbar clearfix">#}
{#                             <div class="msg-links">                                                                #}
{#                                 <a href="#" id="messages-delete" style="text-decoration: underline; color:#000;" title="{{'regularuser.message.delete_selected'|trans}}"><span>{{ 'regularuser.delete'|trans }}</span></a>#}
{#                             </div>#}
{#                             <div class="toolbar-item button select-button grey-button pull-right">#}
{#                                 <strong>{{ 'regularuser.message.show_dd'|trans }}:</strong>#}
{#                                 <div class="select-wrapper">#}
{#                                     <span class="replacement">#}
{#                                         <strong class="select-value">{{('regularuser.'~type)|trans}}</strong>#}
{#                                         <i id="sortby-dropdown-icon" class="icon-caret-down" ></i>#}
{#                                         <div class="drop-down">#}
{#                                             <div>                                                                #}
{#                                                 <i class="icon-ok"></i>                                                                #}
{#                                                 <span>1</span>#}
{#                                             </div>#}
{#                                             <div>                                                                #}
{#                                                 <i class="icon-ok"></i>                                                                #}
{#                                                 <span>2</span>#}
{#                                             </div>#}
{#                                         </div>#}
{#                                     </span>#}
{#                                     <select class="custom-form message_type" id="messageType">#}
{#                                         <option value="all">{{ 'regularuser.all'|trans }}</option>#}
{#                                         <option value="unread">{{ 'regularuser.unread'|trans }}</option>#}
{#                                         <option value="unreplied">{{ 'regularuser.unreplied'|trans }}</option>#}
{#                                         <option value="sent">{{ 'regularuser.sent'|trans }}</option>#}
{#                                     </select>#}
{#                                 </div>                                #}
{#                             </div>                                                            #}
{#                         </div>#}
{#                         <div class="message-center-content clearfix">#}
{#                             <form action="{{path('fenchy_regular_user_messages_delete_selected')}}" method="POST" id="messages-list-form">#}
{#                                 <table id="messages-list">#}
{#                                     <tbody>#}
{#                                         {% if messages %}#}
{#                                             {% for message in messages %}#}
{#                                                 <tr {% if not message.read %}class="new"{% endif %}>#}
{#                                                     <td><input class='message-check' rel='{{message.id}}' type="checkbox" name="message[{{message.id}}]"/></td>#}
{#                                                     <td><a href="#"><i class=""></i></a></td>#}
{#                                                     <td><span class="image-container vsmall-avatar"><img src="{{ asset(message.sender.regularuser.avatar) }}" /></span></td>#}
{#                                                     <td class="table-sender">{{ message.system ? 'Fenchy' : message.sender.userregular.firstname }}</td>#}
{#                                                     <td class="table-subject"><a href="{{ path('fenchy_regular_user_messages_view', {'id': message.id}) }}"{% if message.unread and message.receiver == app.user %} class="unread"{% endif %}>{{ message.title }}</a></td>#}
{#                                                     <td><i class=""></i></td>#}
{#                                                     <td>{{ message.createdAt|relative }}</td>#}
{#                                                 </tr>                                            #}
{#                                             {% endfor %}#}
{#                                         {% else %}#}
{#                                         <tr id="no-messages">#}
{#                                             <td colspan="6">{{'regularuser.message.no_messages'|trans}}</td>#}
{#                                         </tr>#}
{#                                         {% endif %}#}
{#                                     </tbody>#}
{#                                 </table>#}
{#                             </form>                           #}
{#                         </div>#}
                    

<script id="msg-row" type="text/template">
<tr class="new">
    <td><input class="message-check" rel="<%- id %>" type="checkbox" name="message[<%- id %>]"/></td>
    <td><a href="#"><i class=""></i></a></td>
    <td><span class="image-container vsmall-avatar"><img src="<%- avatar %>" /></span></td>
    <td class="table-sender"><%- sender %></td>
    <td class="table-subject"><a href="<%- url %>"class="<%- red %>"><%- title %></a></td>
    <td><i class=""></i></td>
    <td><%- date %></td>
</tr>
</script>
<script type="text/javascript">
    $(document).ready(function() {
        //set right selection
        $('#messageType').val('{{ type }}');

        $('#messageType').change(function(){
            var selected = $(this).val();
            if (selected == 'all')
                window.location.replace("{{ path('fenchy_regular_user_messages_index') }}");
            else
                window.location.replace("{{ path('fenchy_regular_user_messages_index') }}/" + selected);
        });
        new messageLoader($('#messages-list tbody'), '{{ path('fenchy_regular_user_messages_index', {_format: 'json', type: 'unread'}) }}');
    });
 
</script>
{% endblock %}

