<style>
	.firsttab {
		margin-left: 30px;
	}
	.payment .forminformation {
		border: 0px;
	}
</style>
	<div class="payment">
		<div class="collapseplus" id="collapseplus1" onclick="showInformationForm('1')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus1" onclick="showInformationForm('1')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>Board of neighbors</h2>
		
		<div class="forminformation" id="showInformationForm1">
			<p>We want to put Polly & Bob in the hand of the neighbors.</p>
			<p>The neighbors create the value of the plattform so they should also have a word in it.</p>
			<p>In order to kick start Polly & Bob we need money. Every neighbor who lends us some money can join our board of neighbors. </p>
		</div>
		
		<div class="collapseplus" id="collapseplus2" onclick="showInformationForm('2')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus2" onclick="showInformationForm('2')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>What do we discuss in the board?</h2>
		
		<div class="forminformation" id="showInformationForm2">
			<p><b>Zum Beispiel Datenschutz</p></b>
			<div class="firsttab">
				<p>Wir werden keine Daten verkaufen oder unbefugt an Dritte weiter geben. Wir werden keine Rechte an deinen Daten erlangen. Wir löschen deine Daten, wenn du sie löscht. Wir streben eine lokale Datenspeicherung zur besseren Absicherung vor Daten-Schnüfflern an.Das ist viel. Damit wir aber immer die besten Datenschutzbestimmungen haben, fragen wir diejenigen die es betrifft: Dich und die anderen Nutzer im Nachbarschaftsgremium. Wir werden Vorschläge aufnehmen und Alternativen diskutieren. Das Nachbarschaftsgremium kann sein Votum abgeben.</p>
			</div>
			<p><b>Zum Beispiel Geschäftsmodel</p></b>
			<div class="firsttab">
				<p>Polly & Bob bietet unzählige Möglichkeiten in der Nachbarschaft. Für das Betreiben der Plattform fallen je nach Größe und Gestaltung imense Kosten an. Es wäre einfach über affiliate Marketing und Weitergabe von Nutzerdaten dieses Geld zu verdienen. Das wollen wir allerdings nicht tun. Wir halten es für fair, bei allen Geld involvierenden Transaktion eine Provision von 10% zu nehmen. Wir bitten die Nachbarn ihre gebrauchten Sachen oder Dienstleistungen über Polly & Bob anzubieten. Sie unterstützen damit die Nachbarschaft.Im Nachbarschaftsgremium können Nachbarn sagen, wie wir das nötige Geld verdienen wollen. Auf keiner anderen Plattform ist das derzeit möglich. Wir werden verschiedene Alternativen diskutieren und gemeinsam gute Lösungen entwickeln.Nebenbei sei erwähnt, dass natürlich auch Spenden willkommen sind. Es geht immer um die Frage: Möchte ich als Nutzer lieber wie ein Kunde behandelt werde oder als Produkt, wie auf vielen anderen sozialen Netzwerken?</p>
			</div>

			<p><b>Zum Beispiel Budgets</b></p>
			<div class="firsttab">
				<p>Wie sollen die Erlöse verteilt werden? Hier geht es natürlich zunächst darum, dass wir einen excellenten Service bieten können. Aber auch um die Weiterentwicklung von Polly & Bob und das Wachstum, wozu wir beispielsweise Werbung und Marketing brauchen. Es geht auch darum, unseren Mitarbeitern faire und gute Löhne zu zahlen. Darüber hinaus wollen wir, dass das Geld, das wir in der Nachbarschaft einnehmen auch wieder in die Nachbarschaft fliesst. Dafür haben wir die NachbarschaftsmanagerIn erfunden. Eine NachbarschaftsmanagerIn ist eine NachbarIn, die viel zur Nachbarschaft beigetragen hat. Sie soll ein Budget bekommen, mit denen sie weitere Projekt anstoßen kann. Letzendlich möchten wir den Nachbarschaftsmanagerinnnen auch die Möglichkeit geben, ihr Leben damit zu finanzieren und damit die Möglichkeit, genau das zu tun, was sie tun möchte, nämlich viele kleine gute Dinge in der Nachbarschaft anstoßen und davon leben zu können.Das Nachbarschaftsgremium soll auch hier mitreden, wie diese Budgets verteilt werden. Polly & Bob arbeitet nicht gewinnorientiert. Keine andere bekannte Platform auf der Welt, gibt derzeit ihre Einnahmen an ihre Nutzer weiter. Damit die geplante Nachbarschaftsunterstützung auf Polly & Bob in Zukunft einen ordentlichen und angemessenen Anteil bekommt, sprechen wir darüber im Nachbarschaftsgremium.</p>
			</div>
		</div>
		
		<div class="collapseplus" id="collapseplus3" onclick="showInformationForm('3')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus3" onclick="showInformationForm('3')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>How to join the board?</h2>
		
		<div class="forminformation" id="showInformationForm3">
			<p>Du gibst uns ein unbefristetes Darlehen, dass frühestens in 5 Jahren gekündigt werden kann. Damit gibst du Polly & Bob die finanziellen Möglichkeiten, um das Netzwerk soweit aufzubauen, dass sich Polly & Bob über eigene Erlöse finanzieren kann. Dein Darlehen wird mit 1% p.a. verzinst.Die Mindestbeteiligung beträgt 50 €. Die maximale Beteiligungsgröße ist 50.000 €, weil wir einerseits auch größzügigen Spendern die Möglichkeit der Beteiligung geben wollen und andererseits aber auch Stimmrechte nicht zu stark bündeln wollen. Jeder eingezahlte Eure beinhaltet eine Stimme im Nachbarschaftsgremium.Obwohl Polly & Bob nicht gewinnorientiert arbeitet – lieber geben wir das Geld wieder in Nachbarschaftsprojekte – könnte es bei guter Führung passieren, dass auch Gewinne erzielt werden. Diese werden zur Hälfte für die Weiterentwicklung von Polly & Bob genutzt. Die andere Hälfte wird zusätzlich zu den Darlehenszinsen anteilig unter den Mitgliedern verteilt.Das partiarische Nachrangsdarlehen ist ein übliche Form des Corwd-Investment, wie sie von den führenden Crowd-Investment Plattformen verwendet wird. Die Beteiligung über das partiarische Nachrangsdarlehen hat den Vorteil, eine rechtliche Beteiligung am Eigenkapital für viele Nachbarn zu ermöglichen ohne die strengen Auflagen und Pflichten der BaFin erfüllen zu müssen, was mit sehr hohen, zur Zeit nicht tragbaren Kosten verbunden wäre.</p>
			<div class="paymentdetails">
				<a class="payment-button" href="{{ path('fenchy_frontend_share') }}" style="width: 25%;">{{ 'frontend.footer.join'|trans|upper }}</a>
			</div>
		</div>
		
		<div class="collapseplus" id="collapseplus4" onclick="showInformationForm('4')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus4" onclick="showInformationForm('4')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>Invest in Polly & Bob</h2>
		
		<div class="forminformation" id="showInformationForm4">
			<p><b>In order to kick start Polly & Bob  we need money.</b></p>
			
			<p>Support us by lending us some money!</p>
			<p>Terms and conditions</p>
			<div class="firsttab">
				<p>Du gibst uns ein unbefristetes Darlehen, dass frühestens in 5 Jahren gekündigt werden kann. Damit gibst du Polly & Bob die finanziellen Möglichkeiten, um das Netzwerk soweit aufzubauen, dass sich Polly & Bob über eigene Erlöse finanzieren kann. Dein Darlehen wird mit 1% p.a. verzinst.</p>
	
				<p>Die Mindestbeteiligung beträgt 50 €. Die maximale Beteiligungsgröße ist 50.000 €, weil wir einerseits auch größzügigen Spendern die Möglichkeit der Beteiligung geben wollen und andererseits aber auch Stimmrechte nicht zu stark bündeln wollen. Jeder eingezahlte Eure beinhaltet eine Stimme im Nachbarschaftsgremium.
	
				<p>Obwohl Polly & Bob nicht gewinnorientiert arbeitet – lieber geben wir das Geld wieder in Nachbarschaftsprojekte – könnte es bei guter Führung passieren, dass auch Gewinne erzielt werden. Diese werden zur Hälfte für die Weiterentwicklung von Polly & Bob genutzt. Die andere Hälfte wird zusätzlich zu den Darlehenszinsen anteilig unter den Mitgliedern verteilt.</p>
	
				<p>Das partiarische Nachrangsdarlehen ist ein übliche Form des Corwd-Investment, wie sie von den führenden Crowd-Investment Plattformen verwendet wird. Die Beteiligung über das partiarische Nachrangsdarlehen hat den Vorteil, eine rechtliche Beteiligung am Eigenkapital für viele Nachbarn zu ermöglichen ohne die strengen Auflagen und Pflichten der BaFin erfüllen zu müssen, was mit sehr hohen, zur Zeit nicht tragbaren Kosten verbunden wäre.</p>
			</div>
			<div class="paymentdetails">
				<a class="payment-button" href="{{ path('fenchy_frontend_share') }}" style="width: 25%;">{{ 'frontend.footer.get_your_share'|trans|upper }}</a>
			</div>
		</div>
	</div>