<style>
	.firsttab {
		margin-left: 30px;
	}
	.payment .forminformation {
		border: 0px;
	}
</style>
	<div class="payment">
		<div class="collapseplus" id="collapseplus1" onclick="showInformationForm('1')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus1" onclick="showInformationForm('1')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>Board of neighbors</h2>
		
		<div class="forminformation" id="showInformationForm1">
			<p>We want to put Polly & Bob in the hand of the neighbors.</p>
			<p>The neighbors create the value of the plattform so they should also have a word in it.</p>
			<p>In order to kick start Polly & Bob we need money. Every neighbor who lends us some money can join our board of neighbors. </p>
		</div>
		
		<div class="collapseplus" id="collapseplus2" onclick="showInformationForm('2')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus2" onclick="showInformationForm('2')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>What do we discuss in the board?</h2>
		
		<div class="forminformation" id="showInformationForm2">
			<p><b>Privacy terms</p></b>
			<div class="firsttab">
				<p>We will not sell Data or give it to third parties. We will not take the rights of your data. We delete your data whenever you delete it. We seek a local data storage to make it difficult to centralized data usage. That is much. In order to have the best privacy terms on earth we will ask the ones that are touched by it: you and the other users in the board of neighbors. We will discuss propositions and alternatives. the board of neighbors can give its vote.</p>
			</div>
			<p><b>Business Model</p></b>
			<div class="firsttab">
				<p>Polly & Bob offers uncountable opportunities to the neighbors. In order to keep the platform alive we have to spent our time and depending on the seize and demands lots of money. It would be easy to do affiliate marketing and disturb our users with advertisement they rather don’t want see. We, however, won't do that. Instead We think it’s fair to take a commission on any money involved transaction. We ask users to sell what they don’t need anymore, offer their services or lend stuff for a fee. With this they support us and we support the neighborhood. The board of neighbors neighbors can discuss and say how we are going to earn the required amounts of money In order to survive and prosper.  We will discuss alternatives and find good solutions together. No other platform is offering this opportunity. We will always ask the question: do i want to be the customer of a service or rather the product, like on so many other profiles.</p>
				<p>Bye the way we like to say that donations are more than welcome.</p>
			</div>

			<p><b>For Instance Budgets</b></p>
			<div class="firsttab">
				<p>How do we allocate the revenues? First of all we want to offer an excellent service and have to make Polly & Bob run smoothly, growing and keep it state of the art. we also want to pay fair salaries to our employees. Moreover we want to give the money back to the neighborhoods, where the money Is created. Therefore we invented the post of neighborhood managers. Neighborhood managers are neighbors that have contributed very much to the community. We want to give a budget to these neighbors in order to make events and good stuff happen bur also we want them to be able to make a living by serving to the community around them. 
					Hence the board of neighbors will also discuss topics around budgets and what the money will be spend on. </p>
				
			</div>
		</div>
		
		<div class="collapseplus" id="collapseplus3" onclick="showInformationForm('3')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus3" onclick="showInformationForm('3')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>How to join the board?</h2>
		
		<div class="forminformation" id="showInformationForm3">
			<p>You give us a loan, that you can cancel after 5 years. With that you give Polly & Bob the opportunity to grow the neighborhood network to the point of financial independency. You will receive interest of 1% p.a. Minimum share is € 50, the maximum share is € 50.000 because we want to give the opportunity to generous contribution on one hand side, but to reduce the size of votes in the board. Each paid Euro counts one vote in the board of neighbors. Allthough we are non-profit oriented – we prefer to put our money in neighborhood projects – we could eventually make profits. They will be distributed to 50% to the members of the board of neighbors according to shares and dedicated by 50% into the development of the Polly & Bob. The German partiarische Nachrangsdarlehen is a generally used tool to crowd-invest into companies in the early stage. The partiarische Nachrangsdarlehen has the big advantage to crowd-invest into companies from the first moment, because we don’t have to pay app. € 500.000 for a prospect required by the financial authorities.</p>
			<div class="paymentdetails">
				<a class="payment-button" href="{{ path('fenchy_frontend_share') }}" style="width: 25%;">{{ 'frontend.footer.join'|trans|upper }}</a>
			</div>
		</div>
		
		<div class="collapseplus" id="collapseplus4" onclick="showInformationForm('4')"><img alt="" src="{{ absolute(asset('images/collapseplus.png')) }}"></div>
		<div class="collapseplus" id="collapseminus4" onclick="showInformationForm('4')"><img alt="" src="{{ absolute(asset('images/collapseminus.png')) }}"></div>
		<h2>Invest in Polly & Bob</h2>
		
		<div class="forminformation" id="showInformationForm4">
			<p><b>In order to kick start Polly & Bob  we need money.</b></p>
			
			<p>Support us by lending us some money!</p>
			<p>Terms and conditions</p>
			<div class="firsttab">
				<p>You give us a loan, that you can cancel after 5 years. With that you give Polly & Bob the opportunity to grow the neighborhood network to the point of financial independency. You will receive interest of 1% p.a. Minimum share is € 50, the maximum share is € 50.000 because we want to give the opportunity to generous contribution on one hand side, but to reduce the size of votes in the board. Each paid Euro counts one vote in the board of neighbors. Allthough we are non-profit oriented – we prefer to put our money in neighborhood projects – we could eventually make profits. They will be distributed to 50% to the members of the board of neighbors according to shares and dedicated by 50% into the development of the Polly & Bob. The German partiarische Nachrangsdarlehen is a generally used tool to crowd-invest into companies in the early stage. The partiarische Nachrangsdarlehen has the big advantage to crowd-invest into companies from the first moment, because we don’t have to pay app. € 500.000 for a prospect required by the financial authorities.</p>
			</div>
			<div class="paymentdetails">
				<a class="payment-button" href="{{ path('fenchy_frontend_share') }}" style="width: 25%;">{{ 'frontend.footer.get_your_share'|trans|upper }}</a>
			</div>
		</div>
	</div>